		<meta content="width=device-width, initial-scale=1" name="viewport" />
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_HEADER" -->
		<!-- Meta data -->
!DEFVAR1!
		<!-- Meta data-->

<!-- Webtrends -->
<script>
    var startTime = new Date();
    startTime = startTime.getTime();
</script>

		<!--[if gte IE 9 | !IE ]><!-->
<link href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/css/wet-boew.min.css" />
<!--<![endif]-->
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/css/theme.min.css" />

<!--[if lt IE 9]>
<link href="/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/css/ie8-wet-boew.min.css" />
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/css/ie8-theme.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/js/ie8-wet-boew.min.js"></script>
<![endif]-->

<noscript><link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/css/noscript.min.css" /></noscript>

<!-- Util CSS -->
<link rel="stylesheet" href="/eic/home.nsf/css/ic_WET_4-0_utils.min.css" />
<link rel="stylesheet" href="/eic/home.nsf/css/_WET_4-0_Indie.css" />

<!-- Institution CSS -->
!DEFVAR2!

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPCSS" --><!-- /EPIC_DYNAMIC_TAG -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJS" --> <!-- /EPIC_DYNAMIC_TAG -->
