Site name (eng)
Site url  (eng)
Product Code (eng - fra)
Ex: 040 (for the top search box)
nsf name. (eng - fra)
Ex: ipp-ppi.nsf (for the top search box) 
FIP, logo, branding (eng)
EX: <object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/assets/sig-en.svg" aria-label="Government of Canada"></object>
Wordmark or logo.
Ex.: <object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/assets/wmms.svg" aria-label="Symbol of the Government of Canada"></object>
Links in black bar. (eng)
Ex:<li><a href="#" rel="external">Link 1</a></li>
 <li><a href="#" rel="external">Link 2</a></li>
 <li><a href="#" rel="external">Link 3</a></li>




Site name (fra)
Site url (fra)


FIP, logo, branding (fra)
Wordmark or logo (fra)
Ex.: 
Links in black bar. (fra)
Ex:<li><a href="#" rel="external">Link 1</a></li>
 <li><a href="#" rel="external">Link 2</a></li>
 <li><a href="#" rel="external">Link 3</a></li>




