		<ul id="wb-tphp">
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-cont">Skip to main content</a>
			</li>

			<li class="wb-slc visible-sm visible-md visible-lg">
				<a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
			</li>


		</ul>
		<header role="banner">
			<div id="wb-bnr">
				<div id="wb-bar">
					<div class="container">
						<div class="row">
<!-- FIP -->
!DEFVAR5!

<ul id="gc-bar" class="list-inline">
<!-- Links in black bar -->
!DEFVAR7!



	<li id="wb-lng"><h2>Language selection</h2>
	<ul class="list-inline">

		<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a href="!LANG.SWAP!" title="Fran&ccedil;ais  - Version fran&ccedil;aise de cette page" lang="fr">Fran&ccedil;ais</a><!-- /EPIC_DYNAMIC_TAG --></li>


	</ul>
</li>

</ul>

							<section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
								<h2>Search and menus</h2>
								<ul class="pnl-btn list-inline text-right">
	<li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>

							</section>

						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div id="wb-sttl" class="col-md-5">
							<a href="!DEFVAR2!">
	<span>!DEFVAR1!</span>
</a>

						</div>
<!-- Wordmark or logo -->
!DEFVAR6!

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITESEARCH" -->
						<section id="wb-srch" class="visible-md visible-lg">
							<h2>Search</h2>
							<form action="/app/cmmn/srch/vSearch" method="get" role="search" class="form-inline">

	<div class="form-group">
		<label for="wb-srch-q">Search website</label>
		<input id="wb-srch-q" class="form-control" name="V_FULLTEXT.value" type="search" value="" size="27" maxlength="150" />
		<input type="hidden" name="V_CUSTOM.EPIC_DATE" value="Date Modified: 2014-12-12" />
        <input type="hidden" name="V_CUSTOM.EPIC_LANGUAGE_TEXT" value="Fran&ccedil;ais" />
        <input type="hidden" name="V_CUSTOM.EPIC_LANGUAGE_URL" value="http://ic.gc.ca/eic/site/!DEFVAR4!/fra/recherche.html" />
        <input type="hidden" name="V_CUSTOM.EPIC_TITLE" value="!DEFVAR1!" />
        <input type="hidden" name="V_FULLTEXT.conceptOperator" value="ACCRUE" />
        <input type="hidden" name="V_FULLTEXT.evidenceOperator" value="STEM" />
        <input type="hidden" name="V_SEARCH.collection" value="ic-interhu-epic-1u" />
        <input type="hidden" name="V_SEARCH.locale" value="en_CA" />
        <input type="hidden" name="V_SEARCH.maxDocCount" value="50" />
        <input type="hidden" name="V_SEARCH.productCode" value="!DEFVAR3!" />
        <input type="hidden" name="V_SEARCH.resultsJSP" value="/jsp/vSearch/results/default2.jsp" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.date.modified" />
        <input type="hidden" name="V_SEARCH.returnedField" value="VDKSUMMARY" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.title" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.subject" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.description" />
        <input type="hidden" name="V_SEARCH.sortSpec" value="score desc" />
        <input type="hidden" name="V_SEARCH.template" value="http://stratnotes.ic.gc.ca/eic/site/!DEFVAR4!/eng/search.html" />
        <input type="hidden" name="V_SEARCH.templateBase" value="http://ic.gc.ca/eic/site/!DEFVAR4!/eng/" />
        <input type="hidden" name="V_SEARCH.templateType" value="epic" />
	</div>

	<button type="submit" id="wb-srch-sub" class="btn btn-default">Search</button>

</form>

						</section><!-- /EPIC_DYNAMIC_TAG -->

					</div>
				</div>
			</div>

			<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
                <div class="pnl-strt container visible-md visible-lg nvbar">
                    <h2>Topics menu</h2>
                    <div class="row">
                        <ul class="list-inline menu" role="menubar">
				!MENU!
                        </ul>
                    </div>
                </div>
			</nav>
