			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2>Vous êtes ici :</h2>
				<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			!BREADCRUMB!
            <!-- EPIC_DYNAMIC_TAG KEY="EPIC_BREADCRUMB" --><!-- /EPIC_DYNAMIC_TAG -->
		</ol>
	</div>
</div>

			</nav>

		</header>

		<div class="container">
			<div class="row">

		<main id="wb-cont" role="main" property="mainContentOfPage" class="col-md-9 col-md-push-3">
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
			!BODY!

<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
			<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
	<dt>Date de modification&#160;:&#32;</dt>
	<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>


		</main>

				<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9 visible-md visible-lg">
					<h2>Menu secondaire</h2>
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_LEFT_NAV" -->
					!MENU!
<!-- /EPIC_DYNAMIC_TAG -->
				</nav>
			</div>
		</div>

		<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
			<div class="container">
				<nav role="navigation">
					<h2>À propos de ce site</h2>
