

Institution JS (eng - fra)

 Term & transparency links. (eng)
Ex.:<ul id="gc-tctr" class="list-inline"><li><a rel="license" href="#">Legal 1</a></li><li><a href="#">Legal 2</a></li></ul>

Footer Links in black bar. (eng) 
Ex.:<nav role="navigation">
<h2>Links title</h2>
<ul class="list-inline">
<li><a href="#"><span>Link 4</span></a></li>
<li><a href="#"><span>Link 5</span></a></li>
<li><a href="#"><span>Link 6</span></a></li>
<li><a href="#"><span>Link 7</span></a></li>
<li><a href="#"><span>Link 8</span></a></li>
<li id="canada-ca"><a href="#">Link 9</a></li>
</ul>
</nav>









 Term & transparency links (fra):
Ex.:<ul id="gc-tctr" class="list-inline"><li><a rel="license" href="#">Légal 1</a></li><li><a href="#">Légal 2</a></li></ul>


Footer Links in black bar. (fra) 
Ex.:<nav role="navigation">
<h2>Titre des liens</h2>
<ul class="list-inline">
<li><a href="#"><span>Lien 4</span></a></li>
<li><a href="#"><span>Lien 5</span></a></li>
<li><a href="#"><span>Lien 6</span></a></li>
<li><a href="#"><span>Lien 7</span></a></li>
<li><a href="#"><span>Lien 8</span></a></li>
<li id="canada-ca"><a href="#">Link 9</a></li>
</ul>
</nav>





