<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_HEADER" -->

<!-- EPI-11567 -->
<meta name = "format-detection" content = "telephone=no">

<!-- Metadata -->
!DEFVAR11!
<!-- Metadata-->

<!--[if gte IE 9 | !IE ]><!-->
<link href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/assets/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/css/wet-boew.min.css"> <!--<![endif]-->
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/css/theme.min.css"> <!--[if lt IE 9]>
<link href="./assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="./css/ie8-wet-boew.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/js/ie8-wet-boew.min.js"></script>
<![endif]-->
<noscript><link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/css/noscript.min.css" /></noscript>

<!-- Util CSS -->
<link rel="stylesheet" href="/eic/home.nsf/css/ic_WET_4-0_utils.min.css" />
<link rel="stylesheet" href="/eic/home.nsf/css/ic_WET_4-0_utils_intranet.min.css" />

<!-- Institution CSS -->
<!-- <link rel="stylesheet" href="/eic/home.nsf/css/icweb_WET_3-1-7_institution.css" /> -->
 <link rel="stylesheet" href="/eic/home.nsf/css/icweb_WET_4-0_institution.css" />
<!-- TODO: Test and update custom classes to WET 4. -->
<!-- Reduced size from 16px to fit mega menue on one line. Remove once ICWeb converts to WET 4 -->
<style>.wb-menu {font-size: 13px;}</style>
<!-- EPI-11952 -->
<style>#gcwu-sig {height: 1.65em;}</style>

!DEFVAR2!

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPCSS" --><!-- /EPIC_DYNAMIC_TAG -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJS" --> <!-- /EPIC_DYNAMIC_TAG -->
