<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a>
</li>
</ul>
<header role="banner">
<div id="wb-bnr">
<div id="wb-bar">
<div class="container">
<div class="row">
<img id="gcwu-sig" src="/eic/home.nsf/images/ic_FIP_ISDE-ISED.jpg/$file/ic_FIP_ISDE-ISED.jpg" width="437" height="27" alt="Innovation, Sciences et Développement économique Canada" title="Innovation, Sciences et Développement économique Canada" />
<section id="wb-lng"><h2>Sélection de la langue</h2>
<ul class="list-inline">
<li><a href="http://wiki.ic.gc.ca/x/pACpBg">Wiki d’ISDE</a></li>
<li><a href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/accueil">ic.gc.ca</a></li>
<li><a href="https://www.gcpedia.gc.ca/wiki/Main_Page?setlang=fr&uselang=fr">GCpédia</a></li>
<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a lang="en" href="!LANG.SWAP!">English</a><!-- /EPIC_DYNAMIC_TAG --></li>
</ul>
</section>
<section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
<h2>Recherche et menus</h2>
<ul class="pnl-btn list-inline text-right">
<li><a href="#mb-pnl" title="Recherche et menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Recherche et menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div id="wb-sttl" class="col-md-12">
<a href="/eic/site/icweb.nsf/fra/accueil">
<span>ISDEWeb</span>
</a>
<object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/assets/wmms-intra.svg" aria-label="Symbole du gouvernement du Canada"></object>
</div>

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITESEARCH" -->
<!-- Search all ICWeb. Replaces EPIC generic search -->
<section id="wb-srch" class="visible-md visible-lg">
<h2>Recherche</h2>

<form action="/app/cmmn/srch/vSearch" method="get" class="form-inline">
<div class="form-group">
<label for="gcwu-srch">Search website</label>
<input id="gcwu-srch" name="V_FULLTEXT.value" type="search" value="" class="form-control" size="27" maxlength="150" />
<input type="hidden" name="language" value="fra" />
<input type="hidden" name="V_SEARCH.highlight" value="true" />
<input type="hidden" name="V_SEARCH.command" value="search" />
<input type="hidden" name="V_SEARCH.queryMode"  value="pi" />
<input type="hidden" name="searchOptions" value="false" />
<input type="hidden" value="true" name="V_SEARCH.toggleParserOnFullText" />
<input type="hidden" name="V_SEARCH.parametricIndex" value="ic-intrahu-icweb-pi-1f" />
<input type="hidden" name="V_SEARCH.facet" value="1-Par ann&eacute;e de publication" />
<input type="hidden" name="V_SEARCH.facet" value="2-Format" />
<input type="hidden" name="V_SEARCH.customSearchJSP" value="/jsp/intranet/icweb/siteSearch/custom/customWeight-ICWeb.jsp" />
<input type="hidden" name="V_SEARCH.returnedField" value="dc.date.modified" />
<input type="hidden" name="V_SEARCH.returnedField" value="site_product_code" />
<input type="hidden" name="V_SEARCH.returnedField" value="dc.description" />
<input type="hidden" name="V_SEARCH.returnedField" value="description" />
<input type="hidden" name="V_SEARCH.returnedField" value="dc.type" />
<input type="hidden" name="V_SEARCH.returnedField" value="dc.creator" />
<input type="hidden" name="V_SEARCH.returnedField" value="dc.title" />
<input type="hidden" name="V_SEARCH.returnedField" value="eic.rate" />
<input type="hidden" name="V_SEARCH.returnedField" value="VDKPBSUMMARY" />
<input type="hidden" name="V_SEARCH.returnedField" value="VDKSUMMARY" />
<input type="hidden" name="V_SEARCH.sortSpec" value="score desc" />
<input type="hidden" name="V_SEARCH.charMap" value="UTF-8" />
<input type="hidden" name="V_SEARCH.resultsJSP" value="/jsp/intranet/icweb/siteSearch/results/icwebCategorizedResults.jsp" />
<input type="hidden" name="V_SEARCH.resultJspEncoding" value="UTF-8" />
<input type="hidden" name="V_SEARCH.pbSummary" value="true" />
<input type="hidden" name="V_SEARCH.suggest" value="true" />
<input type="hidden" name="V_SEARCH.beginHL" value="&lt;strong&gt;" />
<input type="hidden" name="V_SEARCH.endHL" value="&lt;/strong&gt;" />
<input type="hidden" name="V_SEARCH.template" value="http://icweb.ic.gc.ca/eic/site/icweb.nsf/tpl-fra/template-1col.html" />
<input type="hidden" name="V_SEARCH.templateBase" value="http://icweb.ic.gc.ca/eic/site/icweb.nsf/tpl-fra/template-1col.html" />
<input type="hidden" name="V_SEARCH.templateType" value="epic" />
<input type="hidden" name="V_CUSTOM.EPIC_LANGUAGE_URL" value="/eic/site/icweb.nsf/eng/wp01121.html" />
<input type="hidden" name="V_CUSTOM.EPIC_LANGUAGE_TEXT" value="English" />
<input type="hidden" name="V_CUSTOM.EPIC_DATE" value="Date de modification : 2007-03-16" />
<input type="hidden" name="V_CUSTOM.EPIC_TITLE" value="ICWeb - Resultats de la recherche" />
<input type="hidden" name="V_FULLTEXT.column"  value="FULLTEXT" />
<input type="hidden" name="V_SEARCH.locale" value="fr_CA" />
<input type="hidden" name="V_SRCH.rsltNm" value="true" />
<input type="hidden" name="V_SEARCH.homePage" value="/eic/site/icweb.nsf/fra/wp01121.html" />
<input type="hidden" name="V_SEARCH.returnedField" value="title" />
<input type="hidden" name="V_SEARCH.returnedField" value="url" />
<input type="hidden" name="V_SEARCH.returnedField" value="size" />
<input type="hidden" name="V_SEARCH.returnedField" value="dc.format" />
<input type="hidden" name="V_SEARCH.returnedField" value="dc.date.created" />
<input name="V_SEARCH.returnedField" value="dc.date.modified" type="hidden">
<input type="hidden" name="V_FULLTEXT.conceptOperator" value="AND" />
<input type="hidden" name="V_PK6.value" value="archived" class="keywords" />
<input type="hidden" name="V_PK6.column" value="PK6" class="keywords" />
<input type="hidden" name="V_PK6.ProximityOperator" value="IN" class="keywords" />
<input type="hidden" name="V_PK6.ModifierOperator" value="NOT" />
<input type="hidden" name="V_PK7.value" value="1" class="keywords" />
</div>
<button type="submit" id="gcwu-srch-submit" name="gcwu-srch-submit" class="btn btn-default">Recherche</button>
</form>
</section>
<!-- /EPIC_DYNAMIC_TAG -->
</div>
</div>
</div>
<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
<div class="pnl-strt container visible-md visible-lg nvbar">
<h2>Menu des sujets</h2>
<div class="row">
<ul class="list-inline menu" role="menubar">
!MENU!
<li style="float:right; background:#d22422;"><a href="/eic/site/036.nsf/fra/00734.html">Info d’urgence</a></li>
</ul>
</div>
</div>
</nav>
<!--Sub site banner -->
<div id="eic-sb" role="banner">
<div class="container">
<div class="row">
<p id="eic-subtitle">!DEFVAR11!</p>
</div>
</div>
</div>
