General:

Top Code Starts
The following code will appear above the body content.

Email
Rate
RSS
Share
RSS Link

Bottom Code Starts
The following code will appear below the body content.
<ul class="eic-itb list-inline pull-left">
Email
Rate
RSS
Share
RSS Link
</ul>

Email:

English - Top Code Starts

English - Bottom Code Starts
<li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-email"><span class="eic-icon eic-icon-mail-alt"></span> Email</a>
    <div id="eic-itb-email" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">Share by email</h2>
      </header>
      <div class="modal-body">
<form action="tools" method="post" class="form-horizontal" id="sendEmailForm">
          <fieldset>
            <legend>Message detail</legend>

<input type="hidden" name="$tool" value="friend" />
<input type="hidden" name="id" value="!ID!" />
<input type="hidden" name="p" value="2" />
            <div class="form-group">
              <label for="fromnm" class="col-sm-4 control-label">Your name:</label>
              <div class="col-sm-8">
<input id="fromnm" name="fromnm" class="form-control" size="25" />
              </div>
            </div>

            <div class="form-group">
              <label for="from" class="col-sm-4 control-label">Your email address:</label>
              <div class="col-sm-8">
<input id="from" name="from" class="form-control" size="25" />
              </div>
            </div>

            <div class="form-group">
              <label for="to" class="col-sm-4 control-label">Recipient email address:</label>
              <div class="col-sm-8">
<input id="to" name="to" class="form-control" size="25" />
              </div>
            </div>

            <p>Your email address has not been added to any list, and has not been retained on our site.</p>

            <input class="btn btn-default pull-right" type="submit" value="Send" />
          </fieldset>
</form>
      </div>
    </div>
  </li>
French - Top Code Starts

French - Bottom Code Starts
<li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-email" title="Envoyer cette page par courriel"><span class="eic-icon eic-icon-mail-alt"></span> Courriel</a>
    <div id="eic-itb-email" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">Envoyer à un(e) ami(e)</h2>
      </header>
      <div class="modal-body">
<form action="tools" method="post" class="form-horizontal" id="sendEmailForm">
          <fieldset>
            <legend>Détails du message</legend>
<input type="hidden" name="$tool" value="ami" />
<input type="hidden" name="id" value="!ID!" />
<input type="hidden" name="p" value="2" />
            <div class="form-group">
              <label for="fromnm" class="col-sm-4 control-label">Votre nom&nbsp;:</label>
              <div class="col-sm-8">
<input id="fromnm" name="fromnm" class="form-control" size="25" />
              </div>
            </div>

            <div class="form-group">
              <label for="from" class="col-sm-4 control-label">Votre courriel&nbsp;:</label>
              <div class="col-sm-8">
<input id="from" name="from" class="form-control" size="25" />
              </div>
            </div>

            <div class="form-group">
              <label for="to" class="col-sm-4 control-label">Courriel du destinataire&nbsp;:</label>
              <div class="col-sm-8">
<input id="to" name="to" class="form-control" size="25" />
              </div>
            </div>

            <p>Votre adresse courriel ne sera pas ajoutée à une liste d'envoi ni retenue sur notre site. </p>

            <input class="btn btn-default pull-right" type="submit" value="Envoyer" />
          </fieldset>
</form>
      </div>
    </div>
  </li>

Rate:

English - Top Code Starts

English - Bottom Code Starts
<li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-rate"><span class="eic-icon eic-icon-star"></span> Rate</a>
    <div id="eic-itb-rate" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">Rate this page</h2>
      </header>
      <div class="modal-body">
<form action="tools" method="post" >
          <fieldset>
            <legend>The content of this page was useful to me.</legend>
<input type="hidden" name="$tool" value="rate" />
<input type="hidden" name="id" value="!ID!" />
<button class="btn btn-default btn-lg" type="submit" name="1" value="1" >1 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">star</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="2" value="2" >2 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="3" value="3" >3 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="4" value="4" >4 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="5" value="5" >5 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
          </fieldset>
</form>
      </div>
    </div>
  </li>
French - Top Code Starts

French - Bottom Code Starts
<li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-rate" title="Évaluer cette page"><span class="eic-icon eic-icon-star"></span>  Évaluer</a>
    <div id="eic-itb-rate" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">Évaluer cette page</h2>
      </header>
      <div class="modal-body">
<form action="tools" method="post" >
          <fieldset>
            <legend>Le contenu de cette page m'a été utile.</legend>
<input type="hidden" name="$tool" value="classer" />
<input type="hidden" name="id" value="!ID!" />
 type="submit" name="1" value="1" >1 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">étoile</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="2" value="2" >2 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">étoiles</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="3" value="3" >3 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">étoiles</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="4" value="4" >4 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">étoiles</span></button>
            <button class="btn btn-default btn-lg" type="submit" name="5" value="5" >5 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">étoiles</span></button>
          </fieldset>
</form>
      </div>
    </div>
  </li>

RSS:

English - Top Code Starts

English - Bottom Code Starts
  <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-rss"><span class="eic-icon-rss eic-icon"></span> RSS</a>
    <div id="eic-itb-rss" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">RSS Feeds</h2>
      </header>
      <div class="modal-body">
        <p>Get notified when we post new content.</p>
<p><img src="/eic/home.nsf/images/smt_rss.gif/$file/smt_rss.gif" width="10" height="10" alt="RSS" /> <a href="rss.xml?open&amp;c=!ID!" >!TITLE!</a><br/></p>
        <p><a href="rss.html">View</a> a list of all our RSS Feeds.</p>
      </div>
    </div>
  </li>
French - Top Code Starts

French - Bottom Code Starts
  <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-rss" title="Fil RSS"><span class="eic-icon-rss eic-icon"></span> RSS</a>
    <div id="eic-itb-rss" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">Fil RSS</h2>
      </header>
      <div class="modal-body">
        <p>Soyez informé lorsque nous affichons du nouveau contenu.</p>
<p><img src="/eic/home.nsf/images/smt_rss.gif/$file/smt_rss.gif" width="10" height="10" alt="RSS" /> <a href="rss.xml?open&amp;c=!ID!" >!TITLE!</a><br/></p>
        <p><a href="rss.html">Voir la liste de tous nos fils RSS</a>.</p>
      </div>
    </div>
  </li>

Share:

English - Top Code Starts

English - Bottom Code Starts
 <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-share"><span class="eic-icon eic-icon-share"></span> Share</a>
    <div id="eic-itb-share" class="mfp-hide modal-dialog modal-content overlay-def shr-pg">
     <header class="modal-header">
        <h2 class="modal-title">Share this page</h2>
      </header>
      <div class="modal-body">
<form action="tfr" >
          <fieldset>
            <legend>To share this page, select the social network of your choice:</legend>

<input type="hidden" name="Open" />
<input type="hidden" name="d" value="!FILENAME!" />
<input type="hidden" name="l" value="!LANG!" />
            <ul class="list-unstyled colcount-xs-2">
<li><button type="submit" name="f" value="!ID!" class="shr-lnk btn btn-default">!IMAGE! !TITLE!</button></li>
            </ul>
          </fieldset>
</form>
        <p>No endorsement of any products or services is expressed or implied.</p>
      </div>
    </div>
  </li>
English - More Page
<p>To share this page, select the social network of your choice:</p>
<form action="tfr" class="shr-pg eic-itb-more">

<input type="hidden" name="Open" />
<input type="hidden" name="d" value="!FILENAME!" />
<input type="hidden" name="l" value="!LANG!" />
<h2>!PAGETITLE!</h2>
<ul class="list-unstyled colcount-md-3 colcount-xs-2">
<li><button type="submit" name="f" value="!ID!" class="shr-lnk btn btn-default">!IMAGE! !TITLE!</button></li>
</ul>
</form>

French - Top Code Starts

French - Bottom Code Starts
 <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-share" title="Partagez cette page"><span class="eic-icon eic-icon-share"></span> Partager</a>
    <div id="eic-itb-share" class="mfp-hide modal-dialog modal-content overlay-def shr-pg">
     <header class="modal-header">
        <h2 class="modal-title">Partagez cette page</h2>
      </header>
      <div class="modal-body">
<form action="tfr" >
          <fieldset>
            <legend>Pour faire connaître cette page, cliquez sur le réseau social de votre choix :</legend>
<input type="hidden" name="Open" />
<input type="hidden" name="d" value="!FILENAME!" />
<input type="hidden" name="l" value="!LANG!" />
            <ul class="list-unstyled colcount-xs-2">
<li><button type="submit" name="f" value="!ID!" class="shr-lnk btn btn-default">!IMAGE! !TITLE!</button></li>
            </ul>
          </fieldset>
</form>
        <p>Aucun appui n'est accordé, soit de façon expresse ou tacite, à aucun produit ou service.</p>
      </div>
    </div>
  </li>
French - More Page
<p>Pour faire connaître cette page, cliquez sur le réseau social de votre choix :</p>
<form action="tfr" class="shr-pg eic-itb-more">

<input type="hidden" name="Open" />
<input type="hidden" name="d" value="!FILENAME!" />
<input type="hidden" name="l" value="!LANG!" />
<h2>!PAGETITLE!</h2>
<ul class="list-unstyled colcount-md-3 colcount-xs-2">
<li><button type="submit" name="f" value="!ID!" class="shr-lnk btn btn-default">!IMAGE! !TITLE!</button></li>
</ul>
</form>

RSS Link:

English - Top Code Starts

English - Bottom Code Starts
<li>
     <a class="btn btn-link" href="rss.html"><span class="eic-icon-rss eic-icon"></span> RSS</a>
</li>
French - Top Code Starts

French - Bottom Code Starts
<li>
     <a class="btn btn-link" href="rss.html"><span class="eic-icon-rss eic-icon"></span>RSS</a>
</li>
