			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2>Vous êtes ici :</h2>
				<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			!BREADCRUMB!
            <!-- EPIC_DYNAMIC_TAG KEY="EPIC_BREADCRUMB" --><!-- /EPIC_DYNAMIC_TAG -->
		</ol>
	</div>
</div>

			</nav>

		</header>

<!-- EPI-10706 Banner positioning-->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITEBANNER" -->
<div class="container">
<div class="row">
<p class="ic-subbanner eic-subbanner h1"><span class="eic-subbanner-text">!BANNER!</span></p>
</div>
</div>
<!-- /EPIC_DYNAMIC_TAG -->

		<main id="wb-cont" role="main" property="mainContentOfPage" class="container">

<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
			!BODY!

<div class="ic-fdbck-wrap">
  <div class="ic-fdbck" data-html2canvas-ignore="true">
    <a href="#feedback-form" class="ic-fdbck-icn"><span class="wb-inv">Aidez-nous à nous améliorer</span></a>

    <form class="fdbck-frm" id="feedback-form" action="/eic/site/icgc.nsf/fra/go" accept-charset="ISO-8859-1" method="post">
      <input type="hidden" name="open" value="" />
      <input type="hidden" name="$id" value="VVIK-9A5SHD" />
      <input type="hidden" name="$key" value="" />
      <input type="hidden" name="$sid" value="" />
      <input type="hidden" name="$pg" value="1" />
      <input type="hidden" name="$referer" value="" />
      <input type="hidden" name="$sp" value="" />
      <input type="hidden" name="osinfo" value="" />
      <input type="hidden" name="browserinfo" value="" />
      <input type="hidden" name="sizeinfo" value="" />
      <input type="hidden" name="url" value="" />
      <input type="hidden" name="pageid" value="" />

      <div class="ic-fdbck-cntnt">
        <div id="help-us" class="ic-fdbck-pnl ic-fdbck-pnl--frst js-panel--first">
          <h2 class="ic-fdbck-pnl__ttl">Aidez-nous à nous améliorer</h2>
          <a href="#idea" class="ic-fdbck-btn ic-fdbck-btn--idea js-button">Partagez une idée</a>
          <a href="#problem" class="ic-fdbck-btn ic-fdbck-btn--prblm js-button">Faites-nous part <br>d'un problème</a>
          <p class="ic-fdbck-hlpnw"><a class="js-helpnow" href="/eic/site/icgc.nsf/fra/h_07026.html#type=phone">Obtenez de l’aide maintenant par téléphone, courriel ou clavardage</a></p>
          <button title="Fermer" class="ic-fdbck-x-btn js-fdbck-x-btn"><img src="/eic/home.nsf/images/actions-circle-delete-1-DG.png/$file/actions-circle-delete-1-DG.png" alt="Fermer"></button>
        </div>

        <div id="idea" class="ic-fdbck-pnl">
          <label for="feedback" class="ic-fdbck-pnl__ttl">Il serait bien...</label>
          <textarea id="feedback" name="feedback" placeholder="Décrivez votre idée"></textarea>
          <input type="submit" value="Envoyez votre idée">
          <a class="ic-fdbck-bck js-button" href="#help-us">Retour<span class="wb-inv"> à la section "Aidez-nous à nous améliorer".</span></a>
        </div>

        <div id="problem" class="ic-fdbck-pnl">
          <h3 class="ic-fdbck-pnl__ttl">Quel est le problème?</h3>
          <a href="#missing" class="ic-fdbck-btn ic-fdbck-btn--mssng js-button">Ce n'est pas clair</a>
          <a href="#broken" class="ic-fdbck-btn ic-fdbck-btn--brkn js-button">Ça ne fonctionne pas</a>
          <a class="ic-fdbck-bck js-button" href="#help-us">Retour<span class="wb-inv"> à la section "Aidez-nous à nous améliorer".</span></a>
        </div>

        <div id="missing" class="ic-fdbck-pnl">
          <label for="missingincorrect" class="ic-fdbck-pnl__ttl">Qu'est-ce qui n'est <br>pas clair?</label>
          <textarea id="missingincorrect" name="missingincorrect" placeholder="Je voulais simplement..."></textarea>
          <input type="submit" value="Envoyez">
          <a class="ic-fdbck-bck js-button" href="#problem">Retour<span class="wb-inv"> à la section "Quel est le problème?".</span></a>
        </div>

        <div id="broken" class="ic-fdbck-pnl">
          <label for="prblm" class="ic-fdbck-pnl__ttl">J'essayais...</label>
          <textarea id="prblm" name="problem" placeholder="Dites-nous ce que vous avez fait"></textarea>

          <div class="ic-fdbck-rslt">
            <label class="ic-fdbck-pnl__ttl" for="resultproblem">Et puis...</label>
            <textarea id="resultproblem" name="resultproblem" placeholder="Décrivez ce qui ne fonctionne pas"></textarea>
            <button id="attachment" type="button"><img height="16" width="16" id="att" src="/eic/home.nsf/images/ic_WET_4-0_fdbck-attach.png/$file/ic_WET_4-0_fdbck-attach.png" class="ic-fdbck-attch" alt="Ajoutez une capture d'écran"
  />&nbsp;Ajoutez une capture d'écran</button>
            <input type="checkbox" id="screenshot" />&nbsp;<label for="screenshot">Ajoutez une capture d'écran</label>&nbsp;<img height="16" width="16" id="loading"
  src="/eic/home.nsf/images/ic_WET_4-0_fdbck-loading.gif/$file/ic_WET_4-0_fdbck-loading.gif" style="display: none; vertical-align: top;" alt="Chargement" />
          </div>

            <input style="margin-top: 10px;" type="submit" value="Envoyez">
            <a class="ic-fdbck-bck js-button" href="#problem">Retour<span class="wb-inv"> à la section "Quel est le problème?".</span></a>
        </div>

        <div id="thanks" class="ic-fdbck-pnl ic-fdbck-pnl--thnks">
          <span class="ic-fdbck-pnl__ttl">Bien reçu, merci!</span>
        </div>

        <div class="ic-error js-ic-error text-danger">Vous n'avez rien inscrit.</div>

      </div>
      <img height="17" width="11" class="ic-fdbck-pntr" src="/eic/home.nsf/images/ic_WET_4-0_fdbck-pointer.png/$file/ic_WET_4-0_fdbck-pointer.png" alt="" />
    </form>
  </div>
</div>
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
			<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
	<dt>Date de modification&#160;:&#32;</dt>
	<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>


		</main>



		<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
			<div class="container">
				<nav role="navigation">
					<h2>À propos de ce site</h2>
