			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2>You are here:</h2>
				<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			!BREADCRUMB!
            <!-- EPIC_DYNAMIC_TAG KEY="EPIC_BREADCRUMB" --><!-- /EPIC_DYNAMIC_TAG -->
		</ol>
	</div>
</div>

			</nav>

		</header>

		<div class="container">
			<div class="row">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITEBANNER" -->
<p class="ic-subbanner eic-subbanner h1"><span class="eic-subbanner-text">!BANNER!</span></p>
<!-- /EPIC_DYNAMIC_TAG -->
		<main id="wb-cont" role="main" property="mainContentOfPage" class="col-md-9 col-md-push-3">
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
			!BODY!

<div class="ic-fdbck-wrap">
  <div class="ic-fdbck" data-html2canvas-ignore="true">
    <a href="#feedback-form" class="ic-fdbck-icn"><span class="wb-inv">Help us improve</span></a>

    <form class="fdbck-frm" id="feedback-form" action="/eic/site/icgc.nsf/eng/go" method="post">
      <input type="hidden" name="open" value="" />
      <input type="hidden" name="$id" value="VVIK-9A5SHD" />
      <input type="hidden" name="$key" value="" />
      <input type="hidden" name="$sid" value="" />
      <input type="hidden" name="$pg" value="1" />
      <input type="hidden" name="$referer" value="" />
      <input type="hidden" name="$sp" value="" />
      <input type="hidden" name="osinfo" value="" />
      <input type="hidden" name="browserinfo" value="" />
      <input type="hidden" name="sizeinfo" value="" />
      <input type="hidden" name="url" value="" />
      <input type="hidden" name="pageid" value="" />

      <div class="ic-fdbck-cntnt">
        <div id="help-us" class="ic-fdbck-pnl ic-fdbck-pnl--frst js-panel--first">
          <h2 class="ic-fdbck-pnl__ttl">Help us improve</h2>
          <a href="#idea" class="ic-fdbck-btn ic-fdbck-btn--idea js-button">Share an idea</a>
          <a href="#problem" class="ic-fdbck-btn ic-fdbck-btn--prblm js-button">Report a problem</a>
          <p class="ic-fdbck-hlpnw"><a class="js-helpnow" href="/eic/site/icgc.nsf/eng/h_07026.html#type=phone">Get help now by phone, email or chat</a></p>
          <button title="Close" class="ic-fdbck-x-btn js-fdbck-x-btn"><img src="/eic/home.nsf/images/actions-circle-delete-1-DG.png/$file/actions-circle-delete-1-DG.png" alt="Close"></button>
        </div>

        <div id="idea" class="ic-fdbck-pnl">
          <label for="feedback" class="ic-fdbck-pnl__ttl">It would be great if...</label>
          <textarea id="feedback" name="feedback" placeholder="Describe your idea"></textarea>
          <input type="submit" value="Send us your idea">
          <a class="ic-fdbck-bck js-button" href="#help-us">Back<span class="wb-inv"> to "Help us improve" section.</span></a>
        </div>

        <div id="problem" class="ic-fdbck-pnl">
          <h3 class="ic-fdbck-pnl__ttl">What's the problem?</h3>
          <a href="#missing" class="ic-fdbck-btn ic-fdbck-btn--mssng js-button">It's confusing</a>
          <a href="#broken" class="ic-fdbck-btn ic-fdbck-btn--brkn js-button">It's broken</a>
          <a class="ic-fdbck-bck js-button" href="#help-us">Back<span class="wb-inv"> to "Help us improve" section.</span></a>
        </div>

        <div id="missing" class="ic-fdbck-pnl">
          <label for="missingincorrect" class="ic-fdbck-pnl__ttl">What's confusing?</label>
          <textarea id="missingincorrect" name="missingincorrect" placeholder="I just wanted to..."></textarea>
          <input type="submit" value="Submit">
          <a class="ic-fdbck-bck js-button" href="#problem">Back<span class="wb-inv"> to "What's the problem?" section.</span></a>
        </div>

        <div id="broken" class="ic-fdbck-pnl">
          <label for="prblm" class="ic-fdbck-pnl__ttl">I was trying to...</label>
          <textarea id="prblm" name="problem" placeholder="List the steps you took"></textarea>

          <div class="ic-fdbck-rslt">
            <label class="ic-fdbck-pnl__ttl" for="resultproblem">And then...</label>
            <textarea id="resultproblem" name="resultproblem" placeholder="Describe what is broken"></textarea>
            <button id="attachment" type="button"><img height="16" width="16" id="att" src="/eic/home.nsf/images/ic_WET_4-0_fdbck-attach.png/$file/ic_WET_4-0_fdbck-attach.png" class="ic-fdbck-attch" alt="Add an attachment"
  />&nbsp;Include a screenshot</button>
            <input type="checkbox" id="screenshot" />&nbsp;<label for="screenshot">Include a screenshot</label>&nbsp;<img height="16" width="16" id="loading"
  src="/eic/home.nsf/images/ic_WET_4-0_fdbck-loading.gif/$file/ic_WET_4-0_fdbck-loading.gif" style="display: none; vertical-align: top;" alt="loading" />
          </div>

            <input style="margin-top: 10px;" type="submit" value="Submit">
            <a class="ic-fdbck-bck js-button" href="#problem">Back<span class="wb-inv"> to "What's the problem?" section.</span></a>
        </div>

        <div id="thanks" class="ic-fdbck-pnl ic-fdbck-pnl--thnks">
          <span class="ic-fdbck-pnl__ttl">Got it, thanks!</span>
        </div>

        <div class="ic-error js-ic-error text-danger">Um, you didn't enter anything.</div>

      </div>
      <img height="17" width="11" class="ic-fdbck-pntr" src="/eic/home.nsf/images/ic_WET_4-0_fdbck-pointer.png/$file/ic_WET_4-0_fdbck-pointer.png" alt="" />
    </form>
  </div>
</div>
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
			<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
	<dt>Date modified:&#32;</dt>
	<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>


		</main>

				<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9 visible-md visible-lg">
					<h2>Secondary menu</h2>
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_LEFT_NAV" -->
					!MENU!
<!-- /EPIC_DYNAMIC_TAG -->
				</nav>
			</div>
		</div>

		<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
			<div class="container">
				<nav role="navigation">
					<h2>About this site</h2>
