---
title: eic calendar
---

<h1 class="eic-cont" property="name">{{title}}</h1>

<section>
		 <h3 class="eichide">Calendar</h3>
		 <table class="eiccal">
<caption><a href= "#" title="Previous month"><img src="http://stratpre1.ic.gc.ca/eic/home.nsf/images/calendar-arrow-left.gif/$file/calendar-arrow-left.gif" alt="" class="image-actual"/></a>
<span>May 2014</span>
<a href="#" title="Next month"><img src="http://stratpre1.ic.gc.ca/eic/home.nsf/images/calendar-arrow-right.gif/$file/calendar-arrow-right.gif" alt="" class="image-actual"/></a></caption>
<tr><th scope="col" class="eicwknd"><abbr title="Sunday">S</abbr></th>
<th scope="col"><abbr title="Monday">M</abbr></th>
<th scope="col"><abbr title="Tuesday">T</abbr></th>
<th scope="col"><abbr title="Wednesday">W</abbr></th>
<th scope="col"><abbr title="Thursday">T</abbr></th>
<th scope="col"><abbr title="Friday">F</abbr></th>
<th scope="col" class="eicwknd"><abbr title="Saturday">S</abbr></th></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1
</td>
<td>2
</td>
<td class="eicwknd">3
</td>
</tr>
<tr>
<td class="eicwknd">4
</td>
<td>5
</td>
<td>6
</td>
<td>7
</td>
<td>8
</td>
<td>9
</td>
<td class="eicwknd">10
</td>
</tr>
<tr>
<td class="eicwknd">11
</td>
<td>12
</td>
<td>13
</td>
<td class="eictoday">14
</td>
<td>15
</td>
<td>16
</td>
<td class="eicwknd">17
</td>
</tr>
<tr>
<td class="eicwknd">18
</td>
<td>19
</td>
<td>20
</td>
<td><a href="#">21
<span class="eiccal_box">
EPIC Training<br />
</span>
</a>
</td>
<td><a href="#">22
<span class="eiccal_box">
EPIC Training<br />
</span>
</a>
</td>
<td>23
</td>
<td class="eicwknd">24
</td>
</tr>
<tr>
<td class="eicwknd">25
</td>
<td>26
</td>
<td>27
</td>
<td>28
</td>
<td>29
</td>
<td>30
</td>
<td class="eicwknd">31
</td>
</tr>
</table>
</section>