---
title: New ITB
---

{{>epic.body-eng}}

<ul class="eic-itb list-inline pull-left">
  <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-email"><span class="eic-icon eic-icon-mail-alt"></span> Email</a>
    <div id="eic-itb-email" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">Share by email</h2>
      </header>
      <div class="modal-body">
        <form class="form-horizontal" action="../eng/tools" method="post" id="sendEmailForm">
          <fieldset>
            <legend>Message detail</legend>

            <input type="hidden" name="$tool" value="friend" />
            <input type="hidden" name="id" value="73FCAFD761D285F3852579F80069C564" />
            <input type="hidden" name="p" value="2" />

            <div class="form-group">
              <label for="fromnm" class="col-sm-4 control-label">Your name:</label>
              <div class="col-sm-8">
                <input id="fromnm" class="form-control" name="fromnm" size="25" />
              </div>
            </div>

            <div class="form-group">
              <label for="from" class="col-sm-4 control-label">Your email address:</label>
              <div class="col-sm-8">
                <input id="from" class="form-control" name="from" size="25" />
              </div>
            </div>

            <div class="form-group">
              <label for="to" class="col-sm-4 control-label">Recipient email address:</label>
              <div class="col-sm-8">
                <input id="to" class="form-control" name="to" size="25" />
              </div>
            </div>

            <input class="btn btn-default pull-right" type="submit" value="Send" />

            <a href="#">Privacy information</a>
          </fieldset>
        </form>
      </div>
    </div>
  </li>
  <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-rate"><span class="eic-icon eic-icon-star"></span> Rate</a>
    <div id="eic-itb-rate" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">Rate this page</h2>
      </header>
      <div class="modal-body">
        <form action="../eng/tools" method="post">
          <fieldset>
            <legend>The content of this page was useful to me.</legend>

            <input type="hidden" name="$tool" value="rate" />
            <input type="hidden" name="id" value="FEE83F84E0C352E085257BAB004C213A" />

            <button class="btn btn-default btn-lg" name="1" value="1" type="submit">1 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">star</span></button>
            <button class="btn btn-default btn-lg" name="2" value="2" type="submit">2 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
            <button class="btn btn-default btn-lg" name="3" value="3" type="submit">3 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
            <button class="btn btn-default btn-lg" name="4" value="4" type="submit">4 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
            <button class="btn btn-default btn-lg" name="5" value="5" type="submit">5 <span class="eic-icon eic-icon-star"></span><span class="wb-inv">stars</span></button>
          </fieldset>
        </form>
      </div>
    </div>
  </li>
  <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-rss"><span class="eic-icon eic-icon-rss"></span> RSS</a>
    <div id="eic-itb-rss" class="mfp-hide modal-dialog modal-content overlay-def">
      <header class="modal-header">
        <h2 class="modal-title">RSS Feeds</h2>
      </header>
      <div class="modal-body">
        <p>Get notified when we post new content.</p>
        <p><img src="/eic/home.nsf/images/smt_rss.gif/$file/smt_rss.gif" width="10" height="10" alt="RSS" /> <a href="rss.xml?open&amp;c=GMKG-88DNAM">New Document Releases</a><br/></p>
        <p><a href="rss.html">View</a> a list of all our RSS Feeds.</p>
      </div>
    </div>
  </li>
  <li>
    <a class="wb-lbx btn btn-link" href="#eic-itb-share"><span class="eic-icon eic-icon-share"></span> Share</a>
    <div id="eic-itb-share" class="mfp-hide modal-dialog modal-content overlay-def shr-pg">
      <header class="modal-header">
        <h2 class="modal-title">Share this page</h2>
      </header>
      <div class="modal-body">
        <form action="tfr">
          <fieldset>
            <legend>To share this page, just select the social network of your choice:</legend>

            <input type="hidden" name="Open" />
            <input type="hidden" name="d" value="07070" />
            <input type="hidden" name="l" value="E" />

            <ul class="list-unstyled colcount-xs-2">
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="EPIC-87CS3R"><img src="/eic/home.nsf/images/delicious.gif/$file/delicious.gif" width="16" height="16" alt="Delicious" /> Delicious</button></li>
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="RAON-874LAX"><img src="/eic/home.nsf/images/facebook.gif/$file/facebook.gif" width="16" height="16" alt="Facebook" /> Facebook</button></li>
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="RAON-877Q99"><img src="/eic/home.nsf/images/twitter.gif/$file/twitter.gif" width="16" height="16" alt="Twitter" title="Twitter" /> Twitter</button></li>
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="ESZO-88GPR9"><img src="/eic/home.nsf/images/digg.gif/$file/digg.gif" width="16" height="16" alt="Digg" /> Digg</button></li>
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="ESZO-88GQK3"><img src="/eic/home.nsf/images/gmail.gif/$file/gmail.gif" width="16" height="16" alt="Gmail" /> Gmail</button></li>
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="ESZO-88GQKM"><img src="/eic/home.nsf/images/linkedin.gif/$file/linkedin.gif" width="16" height="16" alt="LinkedIn" /> LinkedIn</button></li>
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="RAON-87CSUW"><img src="/eic/home.nsf/images/reddit.gif/$file/reddit.gif" width="16" height="16" alt="Reddit" /> Reddit</button></li>
              <li><button class="shr-lnk btn btn-default" type="submit" name="f" value="ESZO-88GQL4"><img src="/eic/home.nsf/images/stumbleupon.gif/$file/stumbleupon.gif" width="16" height="16" alt="StumbleUpon" /> StumbleUpon</button></li>
              <li><a class="shr-lnk btn btn-default" href="eic-02.html?Open&amp;d=07070"><img src="/eic/home.nsf/images/social-16X16_more.gif/$file/social-16X16_more.gif" width="16" height="16" alt='' title=""/> More</a></li>
            </ul>
          </fieldset>
        </form>
        <p>No endorsement of any products or services is expressed or implied.</p>
      </div>
    </div>
  </li>
</ul>
