---
title: Surveys
---

<h1 class="eic-cont" property="name">{{title}}</h1>

{{>epic.body-eng}}

<script>
var ic_loop11 = {
    options: {
        name: "foobar",
        cookie: 'Money_finances-en',
        urls: [
            "http://www.loop11.com/usability-test/28836/introduction/",
            "http://www.loop11.com/usability-test/28837/introduction/",
            "http://www.loop11.com/usability-test/28838/introduction/",
            "http://www.loop11.com/usability-test/28839/introduction/"
        ]
    }
};
</script>