---
title: WET 4.x Demo of all design features
---

			<h1 class="eic-cont" property="name">{{title}}</h1>

			<section class="alert alert-info">
	<h2 class="h3">Work in progress</h2>
	<p>This page is a work in progress and requires review. It is a snapshot from WET 4.0.6 on 06-10-2014.<br> Please <a href="https://github.com/wet-boew/wet-boew-styleguide/issues/new">file an issue</a> or submit a pull request if information or coding is missing, incorrect or out of sync with the main repository (wet-boew/wet-boew).</p>
</section>

<section class="alert alert-warning">
	<h2 class="h3">Looking for WET v3.1?</h2>
	<p>As of September 23, 2014, version 3.1 of the Web Experience Toolkit is no longer supported. The source code and documentation have been moved to the <a href="https://github.com/wet-boew/wet-boew-legacy">wet-boew-legacy</a> repository.</p>
</section>







<div class="row">
	<div class="col-md-6">
		<section id="typography" class="panel panel-default">
			<header class="panel-heading">
				<h2 class="panel-title">Headings</h2>
			</header>
			<div class="panel-body">
				<h1 class="page-header mrgn-tp-0">h1 heading with underline</h1>
				<h1 class="mrgn-tp-0">h1 heading <small>With Small Text</small></h1>
				<h1>h1 heading</h1>
				<h2>h2 heading</h2>
				<h3>h3 heading</h3>
				<h4>h4 heading</h4>
				<h5>h5 heading</h5>
				<h6>h6 heading</h6>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="headings-en.html" class="btn btn-primary">Headings <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>

		<section class="panel panel-default" id="quotations">
			<header class="panel-heading">
				<h2 class="panel-title">Quotations</h2>
			</header>
			<div class="panel-body">
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
				<p>"<q>Our Government is committed to protecting livestock health</q>" said Minister Ritz.</p>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="quotations-en.html" class="btn btn-primary">Quotations <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>
	</div>

	<div class="col-md-6">
		<section id="emphasis" class="panel panel-default">
			<header class="panel-heading">
				<h2 class="panel-title">Text emphasis</h2>
			</header>
			<div class="panel-body">
				<p><strong>Ordinary paragraph</strong> that is long enough to wrap to multiple lines so that you can see how the line spacing looks.</p>
				<p class="text-muted">Muted colour paragraph.</p>
				<p class="text-warning">Warning colour paragraph.</p>
				<p class="text-danger">Danger colour paragraph.</p>
				<p class="text-info">Info colour paragraph.</p>
				<p class="text-success">Success colour paragraph.</p>
				<p><kbd>This is text in a &lt;kbd&gt; keyboard wrapper</kbd></p>
				<p><code>This is text in a &lt;code&gt; wrapper </code></p>
				<p><small>This is text in a <code>&lt;small&gt;</code> wrapper.</small></p>
				<p class="lead">This is text in a <code>.lead</code> class.</p>
				<p class="h1">This is text in a <code>.h1</code> class.</p>
				<p class="h2">This is text in a <code>.h2</code> class.</p>
				<p class="h3">This is text in a <code>.h3</code> class.</p>
				<p class="h4">This is text in a <code>.h4</code> class.</p>
				<p class="h5">This is text in a <code>.h5</code> class.</p>
				<p class="h6">This is text in a <code>.h6</code> class.</p>
			</div>
			<footer class="panel-footer text-right">
				<div class="mrgn-bttm-0 h4">In detail:
					<a href="colour-en.html" class="btn btn-primary">Colour <span class="glyphicon glyphicon-chevron-right"></span></a>
					<a href="sizing-en.html" class="btn btn-primary">Sizing <span class="glyphicon glyphicon-chevron-right"></span></a>
					<a href="code-en.html" class="btn btn-primary">Code <span class="glyphicon glyphicon-chevron-right"></span></a>
					<a href="keyboard-en.html" class="btn btn-primary">Keyboard keys <span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</footer>
		</section>
	</div>
</div>

<section class="panel panel-default" id="tables">
	<header class="panel-heading">
		<h2 class="panel-title">Tables</h2>
	</header>
	<div class="panel-body">
		<div class="row">
			<section class="col-md-6">
				<h3>Hover</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Header 1</th>
							<th>Header 2</th>
							<th>Header 3</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr class="success">
							<td>Success effect</td>
							<td>Success effect</td>
							<td>Success effect</td>
						</tr>
						<tr class="danger">
							<td>Danger effect</td>
							<td>Danger effect</td>
							<td>Danger effect</td>
						</tr>
						<tr class="warning">
							<td>Warning effect</td>
							<td>Warning effect</td>
							<td>Warning effect</td>
						</tr>
						<tr class="active">
							<td>Active effect</td>
							<td>Active effect</td>
							<td>Active effect</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section class="col-md-6">
				<h3>Striped, bordered and condensed</h3>
				<table class="table table-striped table-bordered table-condensed">
					<thead>
					<tr>
						<th>Header 1</th>
						<th>Header 2</th>
						<th>Header 3</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
	<footer class="panel-footer text-right">
		<p class="mrgn-bttm-0 h4">In detail: <a href="tables-en.html" class="btn btn-primary">Tables <span class="glyphicon glyphicon-chevron-right"></span></a></p>
	</footer>
</section>

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<section class="panel panel-default" id="images">
					<header class="panel-heading">
						<h2 class="panel-title">Images</h2>
					</header>
					<div class="panel-body">
						<img src="http://placehold.it/140x140" class="img-rounded" alt="A generic square placeholder image with rounded corners" />
						<img src="http://placehold.it/140x140" class="img-circle" alt="A generic square placeholder image where only the portion within the circle circumscribed about said square is visible" />
						<img src="http://placehold.it/140x140" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera" />
					</div>
					<footer class="panel-footer text-right">
						<p class="mrgn-bttm-0 h4">In detail: <a href="images-en.html" class="btn btn-primary">Images <span class="glyphicon glyphicon-chevron-right"></span></a></p>
					</footer>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<section class="panel panel-default" id="proximity">
					<header class="panel-heading">
						<h2 class="panel-title">Margin proximity</h2>
					</header>
					<div class="panel-body">
						<p>Text...</p>
						<p class="mrgn-lft-md">...with medium left margin</p>
						<p class="mrgn-lft-xl">...with an extra large left margin</p>
						<p class="mrgn-tp-lg">...with a large top margin</p>
					</div>
					<footer class="panel-footer text-right">
						<p class="mrgn-bttm-0 h4">In detail: <a href="proximity-en.html" class="btn btn-primary">Margin proximity <span class="glyphicon glyphicon-chevron-right"></span></a></p>
					</footer>
				</section>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<section class="panel panel-default">
			<header class="panel-heading">
				<h2 class="panel-title">Alignment and floats</h2>
			</header>
			<div class="panel-body">
				<p class="text-left">Left aligned text.</p>
				<p class="text-center">Center aligned text.</p>
				<p class="text-right">Right aligned text.</p>
				<hr />
				<p>Center non-text items:</p>
				<img src="http://placehold.it/140x140" class="img-rounded center-block" alt="A generic square placeholder image with rounded corners" />
				<hr />
				<p class="pull-right">Right floated text.</p>
				<p class="pull-left">Left floated text.</p>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail:
					<a href="alignment-en.html" class="btn btn-primary">Alignment <span class="glyphicon glyphicon-chevron-right"></span></a>
					<a href="floats-en.html" class="btn btn-primary">Floats <span class="glyphicon glyphicon-chevron-right"></span></a>
				</p>
			</footer>
		</section>
	</div>
</div>

<section class="panel panel-default" id="lists">
	<header class="panel-heading">
		<h2 class="panel-title">Lists</h2>
	</header>
	<div class="panel-body">
		<div class="row">
			<section class="col-md-3">
				<h3>Unordered</h3>
				<ul>
					<li>Item</li>
					<li>Item</li>
					<li>Item </li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</section>
			<section class="col-md-3">
				<h3>Unstyled</h3>
				<ul class="list-unstyled">
					<li>Item</li>
					<li>Item</li>
					<li>Item </li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</section>
			<section class="col-md-3">
				<h3>Ordered</h3>
				<ol>
					<li>Item</li>
					<li>Item</li>
					<li>Item </li>
					<li>Item</li>
					<li>Item</li>
				</ol>
			</section>
			<section class="col-md-3">
				<h3>Inline</h3>
				<ul class="list-inline">
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</section>
		</div>

		<div class="row mrgn-tp-xl">
			<section class="col-md-3">
				<h3>Lower alpha</h3>
				<ol class="lst-lwr-alph">
					<li>Item</li>
					<li>Item</li>
					<li>Item </li>
					<li>Item</li>
					<li>Item</li>
				</ol>
			</section>

			<section class="col-md-3">
				<h3>Upper alpha</h3>
				<ol class="lst-upr-alph">
					<li>Item</li>
					<li>Item</li>
					<li>Item </li>
					<li>Item</li>
					<li>Item</li>
				</ol>
			</section>

			<section class="col-md-3">
				<h3>Lower roman</h3>
				<ol class="lst-lwr-rmn">
					<li>Item</li>
					<li>Item</li>
					<li>Item </li>
					<li>Item</li>
					<li>Item</li>
				</ol>
			</section>

			<section class="col-md-3">
				<h3>Upper roman</h3>
				<ol class="lst-upr-alph">
					<li>Item</li>
					<li>Item</li>
					<li>Item </li>
					<li>Item</li>
					<li>Item</li>
				</ol>
			</section>
		</div>

		<section class="row mrgn-tp-xl">
			<h3>Columns</h3>
			<div class="col-md-12">
				<p>The list below is a single list that divides into columns automatically.  When the screen resolution is &lt;768px, it is one column. When the screen resolution is &ge;768px it is two columns. When the screen resolution is (&ge;992px), it is three column. When the screen resolution is (&ge;1200px), it is four columns.</p>
				<p>Current columns in this one list (resize your window to see the changes): <strong><span class="visible-lg">4 columns</span><span class="visible-md">3 columns</span><span class="visible-sm">2 columns</span><span class="visible-xs">1 column</span></strong></p>
				<ul class="colcount-sm-2 colcount-md-3 colcount-lg-4">
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</div>
		</section>

		<section class="row mrgn-tp-xl">
			<h3>Definition lists</h3>
			<section class="col-md-3">
				<h4>Default</h4>
				<dl>
					<dt>Item 1</dt>
					<dd>Description of item 1</dd>
					<dt>Item 2</dt>
					<dd>Description of item 2</dd>
					<dt>Item 3</dt>
					<dd>Description of item 3</dd>
				</dl>
			</section>

			<section class="col-md-6">
				<h4>Horizontal</h4>
				<dl class="dl-horizontal">
					<dt>Item 1</dt>
					<dd>Description of item 1</dd>
					<dt>Item 2</dt>
					<dd>Description of item 2</dd>
					<dt>Item 3</dt>
					<dd>Description of item 3</dd>
				</dl>
			</section>
		</section>
	</div>
	<footer class="panel-footer text-right">
		<p class="mrgn-bttm-0 h4">In detail: <a href="lists-en.html" class="btn btn-primary">Lists <span class="glyphicon glyphicon-chevron-right"></span></a></p>
	</footer>
</section>

<section class="panel panel-default" id="buttons">
	<header class="panel-heading">
		<h2 class="panel-title">Buttons</h2>
	</header>
	<div class="panel-body">
		<section>
			<h3>Large</h3>
			<ul class="list-inline">
				<li><button type="button" class="btn btn-lg btn-default">Default</button></li>
				<li><button type="button" class="btn btn-lg btn-default fueled-white">Default</button></li>
				<li><button type="button" class="btn btn-lg btn-primary">Primary</button></li>
				<li><button type="button" class="btn btn-lg btn-success">Success</button></li>
				<li><button type="button" class="btn btn-lg btn-info">Info</button></li>
				<li><button type="button" class="btn btn-lg btn-warning">Warning</button></li>
				<li><button type="button" class="btn btn-lg btn-danger">Danger</button></li>
				<li><button type="button" class="btn btn-lg btn-nocolor">No color</button></li>
				<li><button type="button" class="btn btn-lg btn-link">Link</button></li>
			</ul>
		</section>

		<section>
			<h3>Medium (default)</h3>
			<ul class="list-inline">
				<li><button type="button" class="btn btn-default">Default</button></li>
				<li><button type="button" class="btn btn-default fueled-white">Default</button></li>
				<li><button type="button" class="btn btn-primary">Primary</button></li>
				<li><button type="button" class="btn btn-success">Success</button></li>
				<li><button type="button" class="btn btn-info">Info</button></li>
				<li><button type="button" class="btn btn-warning">Warning</button></li>
				<li><button type="button" class="btn btn-danger">Danger</button></li>
				<li><button type="button" class="btn btn-nocolor">No color</button></li>
				<li><button type="button" class="btn btn-link">Link</button></li>
			</ul>
		</section>

		<section>
			<h3>Small</h3>
			<ul class="list-inline">
				<li><button type="button" class="btn btn-sm btn-default">Default</button></li>
				<li><button type="button" class="btn btn-sm btn-default fueled-white">Default</button></li>
				<li><button type="button" class="btn btn-sm btn-primary">Primary</button></li>
				<li><button type="button" class="btn btn-sm btn-success">Success</button></li>
				<li><button type="button" class="btn btn-sm btn-info">Info</button></li>
				<li><button type="button" class="btn btn-sm btn-warning">Warning</button></li>
				<li><button type="button" class="btn btn-sm btn-danger">Danger</button></li>
				<li><button type="button" class="btn btn-sm btn-nocolor">No color</button></li>
				<li><button type="button" class="btn btn-sm btn-link">Link</button></li>
			</ul>
		</section>

		<section>
			<h3>Extra-small</h3>
			<ul class="list-inline">
				<li><button type="button" class="btn btn-xs btn-default">Default</button></li>
				<li><button type="button" class="btn btn-xs btn-default fueled-white">Default</button></li>
				<li><button type="button" class="btn btn-xs btn-primary">Primary</button></li>
				<li><button type="button" class="btn btn-xs btn-success">Success</button></li>
				<li><button type="button" class="btn btn-xs btn-info">Info</button></li>
				<li><button type="button" class="btn btn-xs btn-warning">Warning</button></li>
				<li><button type="button" class="btn btn-xs btn-danger">Danger</button></li>
				<li><button type="button" class="btn btn-xs btn-nocolor">No color</button></li>
				<li><button type="button" class="btn btn-xs btn-link">Link</button></li>
			</ul>
		</section>

		<section>
			<h3>Block level</h3>
			<ul>
				<li><button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button></li>
				<li><button type="button" class="btn btn-default btn-lg btn-block">Block level button</button></li>
			</ul>
		</section>

		<div class="row">
			<section class="col-md-4 text-center">
				<h3>Disabled button element</h3>
				<ul class="list-inline">
					<li><button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button></li>
					<li><button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button></li>
				</ul>
			</section>

			<section class="col-md-4 text-center">
				<h3>Disabled anchor element</h3>
				<ul class="list-inline">
					<li><a class="btn btn-primary btn-lg disabled">Primary link</a></li>
					<li><a class="btn btn-default btn-lg disabled">Link</a></li>
				</ul>
			</section>

			<section class="col-md-4 text-center">
				<h3>Element types</h3>
				<ul class="list-inline">
					<li><a class="btn btn-default" href="#">Link</a></li>
					<li><button class="btn btn-default" type="submit">Button</button></li>
					<li><input class="btn btn-default" type="button" value="Input" /></li>
					<li><input class="btn btn-default" type="submit" value="Submit" /></li>
				</ul>
			</section>
		</div>

		<div class="row">
			<div class="col-md-6 text-center">
				<section>
					<h3>Button group</h3>
					<div class="btn-group mrgn-tp-lg">
						<button type="button" class="btn btn-default">Left</button>
						<button type="button" class="btn btn-default">Middle</button>
						<button type="button" class="btn btn-default">Right</button>
					</div>
				</section>

				<section>
					<h3>Button toolbar</h3>
					<div class="btn-toolbar mrgn-tp-lg mrgn-lft-lg mrgn-bttm-lg">
						<div class="btn-group">
							<button type="button" class="btn btn-default">1</button>
							<button type="button" class="btn btn-default">2</button>
							<button type="button" class="btn btn-default">3</button>
							<button type="button" class="btn btn-default">4</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default">5</button>
							<button type="button" class="btn btn-default">6</button>
							<button type="button" class="btn btn-default">7</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default">8</button>
						</div>
					</div>
				</section>
			</div>

			<section class="col-md-6 text-center">
				<h3>Button group sizing</h3>
				<section>
					<h4>Large</h4>
					<div class="btn-group btn-group-lg mrgn-bttm-lg">
						<button type="button" class="btn btn-default">Left</button>
						<button type="button" class="btn btn-default">Middle</button>
						<button type="button" class="btn btn-default">Right</button>
					</div>
				</section>

				<section>
					<h4>Medium (default)</h4>
					<div class="btn-group mrgn-bttm-lg">
						<button type="button" class="btn btn-default">Left</button>
						<button type="button" class="btn btn-default">Middle</button>
						<button type="button" class="btn btn-default">Right</button>
					</div>
				</section>

				<section>
					<h4>Small</h4>
					<div class="btn-group btn-group-sm mrgn-bttm-lg">
						<button type="button" class="btn btn-default">Left</button>
						<button type="button" class="btn btn-default">Middle</button>
						<button type="button" class="btn btn-default">Right</button>
					</div>
				</section>

				<section>
					<h4>Extra-small</h4>
					<div class="btn-group btn-group-xs">
						<button type="button" class="btn btn-default">Left</button>
						<button type="button" class="btn btn-default">Middle</button>
						<button type="button" class="btn btn-default">Right</button>
					</div>
				</section>
			</section>
		</div>

		<div class="row">
			<section class="col-md-12 mrgn-tp-lg">
				<h3>Justified button groups</h3>
				<div class="btn-group btn-group-justified">
					<a href="#" class="btn btn-default">Left</a>
					<a href="#" class="btn btn-default">Middle</a>
					<a href="#" class="btn btn-default">Right</a>
				</div>
			</section>
		</div>
	</div>
	<footer class="panel-footer text-right">
		<p class="mrgn-bttm-0 h4">In detail: <a href="buttons-en.html" class="btn btn-primary">Buttons <span class="glyphicon glyphicon-chevron-right"></span></a></p>
	</footer>
</section>

<section class="panel panel-default" id="forms">
	<header class="panel-heading">
		<h2 class="panel-title">Forms</h2>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-7">
				<section>
					<h3>Form groups</h3>
					<form role="form" method="get" action="#">
						<fieldset>
							<legend>Legend</legend>
							<div class="form-group">
								<label for="exampleInputEmail">Email address</label>
								<input type="text" class="form-control" id="exampleInputEmail" placeholder="Email address" />
							</div>
							<div class="form-group">
								<label for="exampleInputPassword">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" />
							</div>
							<div class="form-group">
								<label for="exampleInputFile">File input</label>
								<input type="file" id="exampleInputFile" />
							</div>
							<div class="checkbox">
								<label><input type="checkbox" /> Check me out</label>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</fieldset>
					</form>
				</section>

				<section>
					<h3>Inline form</h3>
					<form class="form-inline mrgn-tp-lg" method="get" action="#">
						<label for="exampleInputEmailInline" class="wb-inv">Email address</label><input type="text" class="form-control" id="exampleInputEmailInline" placeholder="Email address" style="width: 200px;" />
						<label for="exampleInputPasswordInline">Password</label><input type="password" class="form-control" id="exampleInputPasswordInline" placeholder="Password" style="width: 200px;" />
						<div class="checkbox">
							<label><input type="checkbox" /> Remember me</label>
						</div>
						<button type="submit" class="btn btn-default">Sign in</button>
					</form>
				</section>
			</div>

			<div class="col-md-5">
				<section>
					<h3>Horizontal form</h3>
					<form class="form-horizontal" method="get" action="#">
						<div class="form-group">
							<label for="inputEmail" class="col-md-2 control-label">Email address</label>
							<div class="col-md-10">
								<input type="text" class="form-control" id="inputEmail" placeholder="Email address" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-md-2 control-label">Password</label>
							<div class="col-md-10">
								<input type="password" class="form-control" id="inputPassword" placeholder="Password" />
							</div>
							<label class="checkbox checkbox-custom"><input type="checkbox" /> Remember me</label>
						</div>
						<button type="submit" class="btn btn-default">Sign in</button>
					</form>
				</section>

				<section>
					<h3>Validation states</h3>
					<form role="form" method="get" action="#">
						<div class="form-group has-success">
							<label class="control-label" for="inputSuccess">Input with success</label>
							<input type="text" class="form-control" id="inputSuccess" />
						</div>
						<div class="form-group has-warning">
							<label class="control-label" for="inputWarning">Input with warning</label>
							<input type="text" class="form-control" id="inputWarning" />
						</div>
						<div class="form-group has-error">
							<label class="control-label" for="inputError">Input with error</label>
							<input type="text" class="form-control" id="inputError" />
						</div>
					</form>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<section>
					<h3>Height sizing</h3>
					<form role="form" method="get" action="#">
						<label for="form-input-lg" class="wb-inv"><code>input-lg</code> class on an input element</label>
						<input class="form-control input-lg mrgn-bttm-md" type="text" id="form-input-lg" placeholder="input-lg" />

						<label for="form-input-md" class="wb-inv">Default input element</label>
						<input type="text" class="form-control mrgn-bttm-md" id="form-input-md" placeholder="Default input" />

						<label for="form-input-sm" class="wb-inv"><code>input-sm</code> class on an input element</label>
						<input class="form-control input-sm mrgn-bttm-md" type="text" id="form-input-sm" placeholder="input-sm" />

						<label for="form-select-lg" class="wb-inv"><code>input-lg</code> class on a select element</label>
						<select class="form-control input-lg mrgn-bttm-md" id="form-select-lg">
							<option value="">.input-lg</option>
						</select>

						<label for="form-select-md" class="wb-inv">Default select element</label>
						<select class="form-control mrgn-bttm-md" id="form-select-md">
							<option value="">Default select</option>
						</select>

						<label for="form-select-sm" class="wb-inv"><code>input-sm</code> class on a select element</label>
						<select class="form-control input-sm mrgn-bttm-md" id="form-select-sm">
							<option value="">.input-sm</option>
						</select>
					</form>
				</section>

				<section>
					<h3>Disabled</h3>
					<form role="form" method="get" action="#">
						<fieldset disabled="disabled">
							<div class="form-group">
								<label for="disabledTextInput">Disabled input</label>
								<input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" />
							</div>
							<div class="form-group">
								<label for="disabledSelect">Disabled select menu</label>
								<select id="disabledSelect" class="form-control">
									<option>Disabled select</option>
								</select>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" /> Can't check this</label>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</fieldset>
					</form>
				</section>
			</div>

			<div class="col-md-6">
				<section>
					<h3>With optional icons</h3>
					<form role="form" method="get" action="#">
						<div class="form-group has-success has-feedback">
							<label class="control-label" for="inputSuccess2">Input with success</label>
							<input class="form-control full-width" id="inputSuccess2" type="text" />
							<span class="glyphicon glyphicon-ok form-control-feedback"></span>
						</div>
						<div class="form-group has-warning has-feedback">
							<label class="control-label" for="inputWarning2">Input with warning</label>
							<input class="form-control full-width" id="inputWarning2" type="text" />
							<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
						</div>
						<div class="form-group has-error has-feedback">
							<label class="control-label" for="inputError2">Input with error</label>
							<input class="form-control full-width" id="inputError2" type="text" />
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</form>
				</section>

				<section>
					<h3>Button addons</h3>
					<form role="form" method="get" action="#">
						<div class="row">
							<div class="col-lg-6">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
									<label class="wb-inv" for="btngrp-search1">Search</label>
									<input type="text" class="form-control" id="btngrp-search1" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="input-group">
									<label class="wb-inv" for="btngrp-search2">Search</label>
									<input type="text" class="form-control" id="btngrp-search2" />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

		<div class="row mrgn-tp-md">
		  	<section>
				<h3>Column sizing</h3>
				<form role="form" method="get" action="#">
					<div class="row">
						<div class="col-xs-2">
							<label for="form-input-col-xs-2" class="wb-inv"><code>col-xs-2</code> class on the parent element</label>
							<input type="text" class="form-control" id="form-input-col-xs-2" placeholder="col-xs-2" />
						</div>
						<div class="col-xs-3">
							<label for="form-input-col-xs-3" class="wb-inv"><code>col-xs-3</code> class on the parent element</label>
							<input type="text" class="form-control" id="form-input-col-xs-3" placeholder="col-xs-3" />
						</div>
						<div class="col-xs-4">
							<label for="form-input-col-xs-4" class="wb-inv"><code>col-xs-4</code> class on the parent element</label>
							<input type="text" class="form-control" id="form-input-col-xs-4" placeholder="col-xs-4" />
						</div>
					</div>
				</form>
            </section>
		</div>
	</div>
	<footer class="panel-footer text-right">
		<p class="mrgn-bttm-0 h4">In detail: <a href="forms-en.html" class="btn btn-primary">Forms <span class="glyphicon glyphicon-chevron-right"></span></a> <a href="buttons-en.html" class="btn btn-primary">Buttons <span class="glyphicon glyphicon-chevron-right"></span></a></p>
	</footer>
</section>

<section class="panel panel-default" id="pills">
	<header class="panel-heading">
		<h2 class="panel-title">Pills</h2>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				<section>
					<h3>Default</h3>
					<ul class="nav nav-pills mrgn-tp-lg">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href="#">Messages</a></li>
						<li class="disabled"><a>Disabled link</a></li>
					</ul>
				</section>

				<section>
					<h3>Justified</h3>
					<ul class="nav nav-pills nav-justified mrgn-tp-lg">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href="#">Messages</a></li>
					</ul>
				</section>
			</div>

			<section class="col-md-4">
				<h3>Stacked</h3>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Messages</a></li>
				</ul>
			</section>
		</div>
	</div>
	<footer class="panel-footer text-right">
		<p class="mrgn-bttm-0 h4">In detail: <a href="pills-en.html" class="btn btn-primary">Pills <span class="glyphicon glyphicon-chevron-right"></span></a></p>
	</footer>
</section>

<div class="row">
	<div class="col-md-3">
		<section class="panel panel-default" id="borders">
			<header class="panel-heading">
				<h2 class="panel-title">Borders</h2>
			</header>
			<div class="panel-body">
				<div class="row">
					<div class="mrgn-tp-md mrgn-rght-md mrgn-bttm-md mrgn-lft-md">
						<div class="brdr-bttm col-md-12">
							<p>On bottom</p>
						</div>
						<div class="brdr-rght col-md-12 mrgn-tp-sm">
							<p>On right</p>
						</div>
						<div class="brdr-lft col-md-12 mrgn-tp-sm">
							<p>On left</p>
						</div>
						<div class="brdr-tp col-md-12 mrgn-tp-sm">
							<p class="mrgn-tp-sm">On top</p>
						</div>
						<div class="brdr-tp brdr-rght brdr-bttm brdr-lft col-md-12 mrgn-tp-sm">
							<p class="mrgn-tp-sm">All borders</p>
						</div>
					</div>
				</div>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="borders-en.html" class="btn btn-primary">Borders <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>
	</div>

	<div class="col-md-9">
		<section class="panel panel-default" id="pagination">
			<header class="panel-heading">
				<h2 class="panel-title">Pagination</h2>
			</header>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<section>
							<h3>Default pagination</h3>
							<ul class="pagination mrgn-bttm-sm mrgn-tp-0">
								<li><a href="#" rel="prev">Previous</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#" rel="next">Next</a></li>
							</ul>

							<section>
								<h4>Disabled and active states</h4>
								<ul class="pagination mrgn-bttm-sm mrgn-tp-0">
									<li class="disabled"><a href="#" rel="prev">Previous</a></li>
									<li class="active"><a href="#">1 <span class="wb-inv">(current)</span></a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#" rel="next">Next</a></li>
								</ul>
							</section>

							<section>
								<h4>Large size</h4>
								<ul class="pagination pagination-lg mrgn-bttm-sm mrgn-tp-0">
									<li><a href="#" rel="prev">Previous</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#" rel="next">Next</a></li>
								</ul>
							</section>

							<section>
								<h4>Small size</h4>
								<ul class="pagination pagination-sm mrgn-bttm-sm mrgn-tp-0">
									<li><a href="#" rel="prev">Previous</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#" rel="next">Next</a></li>
								</ul>
							</section>
						</section>
					</div>

					<div class="col-md-6">
						<section>
							<h3>Simple pager</h3>
							<ul class="pager mrgn-bttm-sm mrgn-tp-0">
								<li><a href="#" rel="prev">Previous</a></li>
								<li><a href="#" rel="next">Next</a></li>
							</ul>

							<section>
								<h3>Disabled state</h3>
								<ul class="pager mrgn-bttm-sm mrgn-tp-0">
									<li class="previous disabled"><a href="#" rel="prev">Previous</a></li>
									<li class="next"><a href="#" rel="next">Next</a></li>
								</ul>
							</section>
						</section>
					</div>
				</div>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="pagination-en.html" class="btn btn-primary">Pagination <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<section class="panel panel-default" id="labels">
			<header class="panel-heading">
				<h2 class="panel-title">Labels</h2>
			</header>
			<div class="panel-body">
				<h1>Example heading <span class="label label-default">New</span></h1>
				<h2>Example heading <span class="label label-default">New</span></h2>
				<h3>Example heading <span class="label label-default">New</span></h3>
				<h4>Example heading <span class="label label-default">New</span></h4>
				<h5>Example heading <span class="label label-default">New</span></h5>
				<h6>Example heading <span class="label label-default">New</span></h6>

				<ul class="list-inline">
					<li><span class="label label-default">Default</span></li>
					<li><span class="label label-primary">Primary</span></li>
					<li><span class="label label-success">Success</span></li>
					<li><span class="label label-info">Info</span></li>
					<li><span class="label label-warning">Warning</span></li>
					<li><span class="label label-danger">Danger</span></li>
				</ul>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="labels-en.html" class="btn btn-primary">Labels <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>

		<section class="panel panel-default" id="progressmeter">
			<header class="panel-heading">
				<h2 class="panel-title">Progress bars and meters</h2>
			</header>
			<div class="panel-body">
				<section class="col-sm-6">
					<h3>Progress bars</h3>
					<ul class="list-unstyled">
						<li><progress value="22" max="100"><span class="wb-inv">22%</span></progress></li>
						<li><progress value="198" max="300"><span class="wb-inv">66%</span></progress></li>
					</ul>
				</section>

				<section class="col-sm-6">
					<h3>Meters</h3>
					<ul class="list-unstyled">
						<li><meter min="20" value="65" max="80">75% (normal)</meter></li>
						<li><meter min="0" value="90" max="100" high="80">90% (too high)</meter></li>
						<li><meter min="100" low="120" value="115" max="200" high="180">15% (too low)</meter></li>
					</ul>
				</section>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="progressmeter-en.html" class="btn btn-primary">Progress bar and meter <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>
	</div>

	<div class="col-md-6">
		<section class="panel panel-default" id="badges">
			<header class="panel-heading">
				<h2 class="panel-title">Badges</h2>
			</header>
			<div class="panel-body">
				<div class="mrgn-tp-lg mrgn-bttm-lg"><a href="#">Inbox <span class="badge">42</span></a></div>
				<ul class="nav nav-pills">
					<li class="active"><a href="#">Home <span class="badge">42</span></a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Messages <span class="badge">3</span></a></li>
				</ul>

				<ul class="nav nav-pills nav-stacked">
					<li class="active"> <a href="#"> <span class="badge pull-right">42</span> Home </a> </li>
					<li><a href="#">Profile</a></li>
					<li> <a href="#"> <span class="badge pull-right">3</span> Messages </a> </li>
				</ul>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="badges-en.html" class="btn btn-primary">Badges <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>

		<section class="panel panel-default" id="alerts">
			<header class="panel-heading">
				<h2 class="panel-title">Alerts</h2>
			</header>
			<div class="panel-body">
				<section class="alert alert-danger">
					<h3>Oh snap!</h3>
					<p><a href="#" class="alert-link">Change a few things up</a> and try submitting again.</p>
				</section>

				<section class="alert alert-success">
					<h3>Well done!</h3>
					<p>You successfully read <a href="#" class="alert-link">this important alert message</a>.</p>
				</section>

				<section class="alert alert-warning">
					<h3>Heads up!</h3>
					<p>This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.</p>
				</section>

				<section class="alert alert-info">
					<h3>Heads up!</h3>
					<p>This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.</p>
				</section>

				<section class="alert">
					<h3>Warning!</h3>
					<p>This is a block style alert.</p>
				</section>
			</div>
			<footer class="panel-footer text-right">
				<p class="mrgn-bttm-0 h4">In detail: <a href="alerts-en.html" class="btn btn-primary">Alerts <span class="glyphicon glyphicon-chevron-right"></span></a></p>
			</footer>
		</section>
	</div>
</div>

<div class="row">
	<section class="panel panel-default" id="thumbnails">
		<header class="panel-heading">
			<h2 class="panel-title">Thumbnails</h2>
		</header>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/245x180"  alt="Generic placeholder thumbnail" /></a></div>
				<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/245x180"  alt="Generic placeholder thumbnail" /></a></div>
				<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/245x180"  alt="Generic placeholder thumbnail" /></a></div>
				<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/245x180"  alt="Generic placeholder thumbnail" /></a></div>
			</div>

			<section class="row mrgn-tp-lg">
				<h3>With captions</h3>
				<div class="col-md-4">
					<section>
						<figure class="thumbnail">
							<img src="http://placehold.it/339x200" alt="Generic placeholder thumbnail" />
							<figcaption class="caption">
								<h4>Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
							</figcaption>
						</figure>
					</section>
				</div>

				<div class="col-md-4">
					<section>
						<figure class="thumbnail">
							<img src="http://placehold.it/339x200"  alt="Generic placeholder thumbnail" />
							<figcaption class="caption">
								<h4>Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
							</figcaption>
						</figure>
					</section>
				</div>

				<div class="col-md-4">
					<section>
						<figure class="thumbnail">
							<img src="http://placehold.it/339x200"  alt="Generic placeholder thumbnail" />
							<figcaption class="caption">
								<h4>Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
							</figcaption>
						</figure>
					</section>
				</div>
			</section>
		</div>
		<footer class="panel-footer text-right">
			<p class="mrgn-bttm-0 h4">In detail: <a href="images-en.html" class="btn btn-primary">Images <span class="glyphicon glyphicon-chevron-right"></span></a> <a href="buttons-en.html" class="btn btn-primary">Buttons <span class="glyphicon glyphicon-chevron-right"></span></a></p>
		</footer>
	</section>

	<section class="panel panel-default" id="media-object">
		<header class="panel-heading">
			<h2 class="panel-title">Media object</h2>
		</header>
		<div class="panel-body">
			<section class="media">
				<a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image" /></a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</section>

			<ul class="media-list mrgn-tp-lg">
				<li class="media">
					<section>
						<a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image" /></a>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
							<section class="media">
								<a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image" /></a>
								<div class="media-body">
									<h5 class="media-heading">Nested media heading</h5>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								</div>
							</section>

							<section class="media">
								<a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image" /></a>
								<div class="media-body">
									<h5 class="media-heading">Nested media heading</h5>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								</div>
							</section>
						</div>
					</section>
				</li>
				<li class="media">
					<section>
						<a class="pull-right" href="#"> <img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image" /></a>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
						</div>
					</section>
				</li>
			</ul>
		</div>
		<footer class="panel-footer text-right">
			<p class="mrgn-bttm-0 h4">In detail: <a href="images-en.html" class="btn btn-primary">Images <span class="glyphicon glyphicon-chevron-right"></span></a></p>
		</footer>
	</section>

	<section class="panel panel-default" id="wells">
		<header class="panel-heading">
			<h2 class="panel-title">Wells</h2>
		</header>
		<div class="panel-body">
			<div class="row">
				<section class="col-md-4">
					<h3>Small wells</h3>
					<div class="well well-sm">Ut aliquet, lorem eu porta imperdiet, velit justo adipiscing dui, vitae sollicitudin arcu tellus eu est. Duis sem enim, venenatis non luctus eu, malesuada non nunc. Vestibulum venenatis <a href="#">eget purus scelerisque ultricies</a>. Donec viverra metus vitae ultrices commodo.</div>
				</section>

				<section class="col-md-4">
					<h3>Medium wells (default)</h3>
					<div class="well">Ut aliquet, lorem eu porta imperdiet, velit justo adipiscing dui, vitae sollicitudin arcu tellus eu est. Duis sem enim, venenatis non luctus eu, malesuada non nunc. Vestibulum venenatis <a href="#">eget purus scelerisque ultricies</a>. Donec viverra metus vitae ultrices commodo.</div>
				</section>

				<section class="col-md-4">
					<h3>Large wells</h3>
					<div class="well well-lg">Ut aliquet, lorem eu porta imperdiet, velit justo adipiscing dui, vitae sollicitudin arcu tellus eu est. Duis sem enim, venenatis non luctus eu, malesuada non nunc. Vestibulum venenatis <a href="#">eget purus scelerisque ultricies</a>. Donec viverra metus vitae ultrices commodo.</div>
				</section>
			</div>
		</div>
		<footer class="panel-footer text-right">
			<p class="mrgn-bttm-0 h4">In detail: <a href="wells-en.html" class="btn btn-primary">Wells <span class="glyphicon glyphicon-chevron-right"></span></a></p>
		</footer>
	</section>

	<section class="panel panel-default" id="list-groups">
		<header class="panel-heading">
			<h2 class="panel-title">List group</h2>
		</header>
		<div class="panel-body">
			<div class="row">
				<section class="col-md-4">
					<h3>Default</h3>
					<ul class="list-group">
						<li class="list-group-item">Cras justo odio</li>
						<li class="list-group-item">Dapibus ac facilisis in</li>
						<li class="list-group-item">Morbi leo risus</li>
						<li class="list-group-item">Porta ac consectetur ac</li>
						<li class="list-group-item">Vestibulum at eros</li>
					</ul>
				</section>

				<section class="col-md-4">
					<h3>With links</h3>
					<div class="list-group">
						<a href="#" class="list-group-item active">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
					</div>
				</section>

				<section class="col-md-4">
					<h3>Custom content</h3>
					<div class="list-group">
						<a href="#" class="list-group-item active">
							<section>
								<h4 class="list-group-item-heading">List group item heading</h4>
								<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							</section>
						</a>
						<a href="#" class="list-group-item">
							<section>
								<h4 class="list-group-item-heading">List group item heading</h4>
								<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							</section>
						</a>
						<a href="#" class="list-group-item">
							<section>
								<h4 class="list-group-item-heading">List group item heading</h4>
								<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							</section>
						</a>
					</div>
				</section>
			</div>
		</div>
		<footer class="panel-footer text-right">
			<p class="mrgn-bttm-0 h4">In detail: <a href="listgroup-en.html" class="btn btn-primary">List group <span class="glyphicon glyphicon-chevron-right"></span></a></p>
		</footer>
	</section>

	<section class="panel panel-default" id="panels">
		<header class="panel-heading">
			<h2 class="panel-title">Panels</h2>
		</header>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<section class="panel panel-primary">
						<header class="panel-heading">
							<h3 class="panel-title">Default panel</h3>
						</header>
						<p class="panel-body">This is a default panel</p>
						<footer class="panel-footer">This is a footer</footer>
					</section>
				</div>

				<div class="col-md-3">
					<section class="panel panel-success">
						<header class="panel-heading">
							<h3 class="panel-title">Success panel</h3>
						</header>
						<div class="panel-body">This is a success panel</div>
						<footer class="panel-footer">This is a footer</footer>
					</section>
				</div>

				<div class="col-md-3">
					<section class="panel panel-danger">
						<header class="panel-heading">
							<h3 class="panel-title">Danger panel</h3>
						</header>
						<div class="panel-body">This is a danger panel</div>
						<footer class="panel-footer">This is a footer</footer>
					</section>
				</div>

				<div class="col-md-3">
					<section class="panel panel-warning">
						<header class="panel-heading">
							<h3 class="panel-title">Warning panel</h3>
						</header>
						<div class="panel-body">This is a panel</div>
						<footer class="panel-footer">This is a footer</footer>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<section class="panel panel-info">
						<header class="panel-heading">
							<h3 class="panel-title">Info panel</h3>
						</header>
						<div class="panel-body">This is a panel</div>
						<footer class="panel-footer">This is a footer</footer>
					</section>
				</div>

				<div class="col-md-3">
					<section class="panel panel-default">
						<header class="panel-heading">
							<h3 class="panel-title">Panel with a nested list group</h3>
						</header>
						<div class="panel-body">This is a panel</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">First Item</li>
							<li class="list-group-item">Second Item</li>
							<li class="list-group-item">Third Item</li>
						</ul>
						<footer class="panel-footer">This is a footer</footer>
					</section>
				</div>
			</div>
		</div>
		<footer class="panel-footer text-right">
			<p class="mrgn-bttm-0 h4">In detail: <a href="panels-en.html" class="btn btn-primary">Panels <span class="glyphicon glyphicon-chevron-right"></span></a></p>
		</footer>
	</section>

	<div class="row">
		<div class="col-md-6">
			<section class="panel panel-default" id="comboboxes">
				<header class="panel-heading">
					<h2 class="panel-title">Opacity</h2>
				</header>
				<div class="panel-body">
					<img class="media-object pull-left mrgn-rght-md mrgn-bttm-md" src="http://placehold.it/64x64" alt="Default opacity" />
					<img class="media-object opct-20 pull-left mrgn-rght-md mrgn-bttm-md" src="http://placehold.it/64x64" alt="Demo of opct-20" />
					<img class="media-object opct-70 pull-left mrgn-rght-md mrgn-bttm-md" src="http://placehold.it/64x64" alt="Demo of opct-70" />
					<p class="opct-20">Demo of <code>opct-20</code></p>
					<p class="opct-70">Demo of <code>opct-70</code></p>
				</div>
				<footer class="panel-footer text-right">
					<p class="mrgn-bttm-0 h4">In detail: <a href="opacity-en.html" class="btn btn-primary">Opacity <span class="glyphicon glyphicon-chevron-right"></span></a></p>
				</footer>
			</section>

			<section class="panel panel-default" id="selects">
				<header class="panel-heading">
					<h2 class="panel-title">Absolute positioning</h2>
				</header>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<img height="190" width="700" class="img-responsive" alt="" src="http://wet-boew.github.io/wet-boew/demos/grids/images/position.png" />
							<div class="row">
								<div class="pstn-bttm-md col-md-12 mrgn-bttm-lg">
									<p class="text-right opct-80 well well-sm mrgn-bttm-0"><strong>I love camping!</strong></p>
								</div>
							</div>
						</div>
					</div>

					<div class="row mrgn-tp-md mrgn-bttm-md">
						<div class="col-md-12">
							<img height="190" width="700" class="img-responsive" alt="" src="http://wet-boew.github.io/wet-boew/demos/grids/images/position.png" />
							<div class="row">
								<div class="pstn-bttm-md col-md-12">
									<p class="text-right opct-80 well well-sm mrgn-bttm-0"><strong>I love camping!</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="panel-footer text-right">
					<p class="mrgn-bttm-0 h4">In detail: <a href="position-en.html" class="btn btn-primary">Absolute positioning <span class="glyphicon glyphicon-chevron-right"></span></a></p>
				</footer>
			</section>

			<section class="panel panel-default">
				<header class="panel-heading">
					<h2 class="panel-title">Visible / Invisible</h2>
				</header>
				<div class="panel-body">
					<p>Content can be made appear or hide using CSS.</p>
				</div>
				<footer class="panel-footer text-right">
					<p class="mrgn-bttm-0 h4">In detail: <a href="visible-en.html" class="btn btn-primary">Invisible and visible content <span class="glyphicon glyphicon-chevron-right"></span></a></p>
				</footer>
			</section>
		</div>

		<div class="col-md-6">
			<section class="panel panel-default">
				<header class="panel-heading">
					<h2 class="panel-title">Icons</h2>
				</header>
				<div class="panel-body">
					<ul class="list-unstyled clmn-2-sm clmn-3-md">
						<li> <span class="glyphicon glyphicon-adjust"></span></li>
						<li> <span class="glyphicon glyphicon-align-center"></span></li>
						<li> <span class="glyphicon glyphicon-align-justify"></span></li>
						<li> <span class="glyphicon glyphicon-align-left"></span></li>
						<li> <span class="glyphicon glyphicon-text-right"></span></li>
						<li> <span class="glyphicon glyphicon-arrow-down"></span></li>
						<li> <span class="glyphicon glyphicon-arrow-left"></span></li>
						<li> <span class="glyphicon glyphicon-arrow-right"></span></li>
						<li> <span class="glyphicon glyphicon-arrow-up"></span></li>
						<li> <span class="glyphicon glyphicon-asterisk"></span></li>
						<li> <span class="glyphicon glyphicon-backward"></span></li>
						<li> <span class="glyphicon glyphicon-ban-circle"></span></li>
						<li> <span class="glyphicon glyphicon-barcode"></span></li>
						<li> <span class="glyphicon glyphicon-bell"></span></li>
						<li> <span class="glyphicon glyphicon-bold"></span></li>
						<li> <span class="glyphicon glyphicon-book"></span></li>
						<li> <span class="glyphicon glyphicon-bookmark"></span></li>
						<li> <span class="glyphicon glyphicon-briefcase"></span></li>
						<li class="mrgn-tp-sm"><a href="#" class="btn btn-primary">Have your say <span class="glyphicon glyphicon-bullhorn"></span></a></li>
						<li>&hellip;</li>
					</ul>
				</div>
				<footer class="panel-footer text-right">
					<p class="mrgn-bttm-0 h4">In detail: <a href="icons-en.html" class="btn btn-primary">Icons <span class="glyphicon glyphicon-chevron-right"></span></a></p>
				</footer>
			</section>

			<section class="panel panel-default" id="search">
				<header class="panel-heading">
					<h2 class="panel-title">Jumbotron</h2>
				</header>
				<div class="jumbotron mrgn-bttm-0">
					<h3>Hello, world!</h3>
					<p>...</p>
				</div>
				<footer class="panel-footer text-right">
					<p class="mrgn-bttm-0 h4">In detail: <a href="jumbotron-en.html" class="btn btn-primary">Jumbotron <span class="glyphicon glyphicon-chevron-right"></span></a></p>
				</footer>
			</section>
		</div>
	</div>

	<section class="panel panel-default">
		<header class="panel-heading">
			<h2 class="panel-title">Grid layout</h2>
		</header>
		<div class="panel-body">
			<p>There are hundreds of possible layout options. Here are some samples:</p>
			<section>
				<h3 class="h4">Full Width</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="row">
					<section class="col-xs-6">
						<h4>Half width</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</section>

					<section class="col-xs-6">
						<h4>Half width</h4>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
					</section>
				</div>

				<div class="row">
					<section class="col-xs-9">
						<h4>Three quarters width</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</section>

					<section class="col-xs-3">
						<h4>One quarter width</h4>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
					</section>
				</div>

				<div class="row">
					<section class="col-xs-4">
						<h4>One third width</h4>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Duis aute irure dolor in reprehenderit in voluptate.</p>
					</section>

					<section class="col-xs-8">
						<h4>Two thirds width</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
					</section>
				</div>
			</section>
		</div>
		<footer class="panel-footer text-right">
			<p class="mrgn-bttm-0 h4">In detail: <a href="grids-en.html" class="btn btn-primary">Grids <span class="glyphicon glyphicon-chevron-right"></span></a></p>
		</footer>
	</section>
</div>
