<div class="row">
<div class="col-sm-3 col-lg-3">
<section>
<h3>Pour nous joindre</h3>
<ul class="list-unstyled">
<!-- EPI-11597 -->
<li><a href="/eic/site/icgc.nsf/fra/h_07026.html#pageid=E048-H00000&&amp;from=!DEFVAR18!">Coordonnées</a></li>
</ul>
</section>
<section>
<h3>Nouvelles</h3>
<ul class="list-unstyled">
<li><a href="http://nouvelles.gc.ca/web/index-fr.do">Salle de presse</a></li>
<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=1">Communiqués de presse</a></li>
<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=3">Avis aux médias</a></li>
<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=970">Discours</a></li>
<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=980">Déclarations</a></li>
</ul>
</section>
</div>
<section class="col-sm-3 col-lg-3">
<h3>Gouvernement</h3>
<ul class="list-unstyled">
<li><a href="http://www.canada.ca/fr/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
<li><a href="http://www.canada.ca/fr/gouv/min/index.html">Ministères et organismes</a></li>
<li><a href="http://pm.gc.ca/fra">Premier ministre</a></li>
<li><a href="http://www.canada.ca/fr/gouv/ministres/index.html">Ministres</a></li>
<li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
<li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
<li><a href="http://www.canada.ca/fr/gouv/bibliotheques/index.html">Bibliothèques</a></li>
<li><a href="http://www.canada.ca/fr/gouv/publications/index.html">Publications</a></li>
<li><a href="http://www.canada.ca/fr/gouv/statistiques/index.html">Statistiques et données</a></li>
<li><a href="http://www.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
</ul>
</section>
<section class="col-sm-3 col-lg-3 brdr-lft">
<h3>Transparence</h3>
<ul class="list-unstyled">
<li><a href="http://www.canada.ca/fr/transparence/rapports.html">Établissement de rapports à l’échelle du gouvernement</a></li>
<li><a href="http://ouvert.canada.ca/fr/">Gouvernement ouvert</a></li>
<li><a href="http://www.canada.ca/fr/transparence/divulgation.html">Divulgation proactive</a></li>
<li><a href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/h_07033.html">Avis</a></li>
<li><a href="http://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
</ul>
</section>
<div class="col-sm-3 col-lg-3 brdr-lft">
<section>
<h3>Rétroaction</h3>
<p><a href="http://www.canada.ca/fr/contact/retroaction.html"><img src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/feedback.png" alt="Rétroaction sur ce site Web"></a></p>
</section>
<section>
<h3>Médias sociaux</h3>
<p><a href="http://www.canada.ca/fr/sociaux/index.html"><img src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/social.png" alt="Médias sociaux"></a></p>
</section>
<section>
<h3>Centre mobile</h3>
<p><a href="http://www.canada.ca/fr/mobile/index.html"><img src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/mobile.png" alt="Centre mobile"></a></p>
</section>
</div>
</div>
</nav>
<div class="brand">
<div class="container">
<div class="row">
<div class="col-xs-6 visible-sm visible-xs tofpg">
<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div class="col-xs-6 col-md-12 text-right">
<object type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/wmms-blk.svg" aria-label="Symbole du gouvernement du Canada"></object>
</div>
</div>
</div>
</div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/js/theme.min.js"></script>

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJS" --> <!-- /EPIC_DYNAMIC_TAG -->

<!-- EPI-11190 - Webtrends -->
<script src="/eic/home.nsf/js/webtrends.js"></script>
<script>var endTime = new Date();</script>
<noscript>
<div><img alt="" id="DCSIMG" width="1" height="1" src="//wt-sdc.ic.gc.ca/dcs6v67hwe0ei7wsv8g9fv50d_3k6i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca"/></div>
</noscript>
<!-- /Webtrends -->

<!-- JS deps -->
<script src="/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- EPI-11262 - Util JS -->
<script src="/eic/home.nsf/js/_WET_4-0_utils_canada.min.js"></script>

<!-- /EPIC_DYNAMIC_VAR -->

<!-- IC SubSites Canada | WET 4.0.21 | BOEW 4.0.21 -->
