First Level
First Level - Open	<ul class="list-group menu list-unstyled">
Menu Title - Open	<!--!MENUENTRY!-->
HTML Entry	!HTMLENTRY!
Collapsed	<li><a href="!LINK!" title="!LINKTITLE!" class="list-group-item">!LINKTITLE!</a></li>
Selected - Open	<li><a href="!LINK!" title="!LINKTITLE!" class="list-group-item">!LINKTITLE!</a>
	Open Second Level
Selected - Close	</li>
Expanded - Open	<li><a href="!LINK!" title="!LINKTITLE!" class="list-group-item">!LINKTITLE!</a>
	Open Second Level
Expanded - Close	</li>
Menu Title - Close	
First Level - Close	</ul>
Second Level
Second Level - Open	<ul class="list-group menu list-unstyled">
HTML Entry	!HTMLENTRY!
Collapsed	<li><a href="!LINK!" title="!LINKTITLE!" class="list-group-item">!LINKTITLE!</a></li>
Selected - Open	<li><a href="!LINK!" title="!LINKTITLE!" class="list-group-item">!LINKTITLE!</a>
	Open Third Level
Selected - Close	</li>
Expanded - Open	<li><a href="!LINK!" title="!LINKTITLE!" class="list-group-item">!LINKTITLE!</a>
	Open Third Level
Expanded - Close	</li>
Second Level - Close	</ul>
Third Level
Third Level - Open	
HTML Entry	!HTMLENTRY!
Collapsed	<a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE!</a>
Selected - Open	<a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE!</a>
Third Level - Close	
