General:

Form English Starts
<div id="eic-form-wrapper" class="eic-form-wrapper">
<form method="post" action="../eng/go">

<input type="hidden" name="open" value="" />
<input type="hidden" name="$id" value="!formid.value!" />
<input type="hidden" name="$sid" value="!sessionid.value!" />
<input type="hidden" name="$key" value="!spamkey.value!" />
<input type="hidden" name="$pg" value="1" />
<input type="hidden" name="$referer" value="!http_referer.value!" />
Messages
Layout

</form>
</div>
Form French Starts
<div id="eic-form-wrapper" class="eic-form-wrapper">
<form method="post" action="../fra/go">

<input type="hidden" name="open" value="" />
<input type="hidden" name="$id" value="!formid.value!" />
<input type="hidden" name="$sid" value="!sessionid.value!" />
<input type="hidden" name="$key" value="!spamkey.value!" />
<input type="hidden" name="$pg" value="1" />
<input type="hidden" name="$referer" value="!http_referer.value!" />
Messages
Layout

</form>
</div>
Objects
Single Line Text	<input type="text" name="name" id="id" class="form-control" />
Multi-Line Text	<textarea name="name" cols="#" id="id" class="form-control"></textarea>
List / Menu	<select name="name" size="#" id="id" class="form-control"><option value="x" >x</option></select>
Check Box	<input type="checkbox" name="name" value="x" id="id"  /><label for="id">x</label>
Radio Box	<input type="radio" name="name" value="x" id="id"  /><label for="id">x</label>
Plain Text	x
File Upload	<input type="button" value="x" onclick="window.open"  /> <span id="n018"></span>
Other Input Type	<input type="type" name="name" id="id" class="form-control" />




Layout:

Stacked Layout
Open Form	<form method="post" action="../???/go"  class="eic-form">
Open Section	
Code	<span class="wb-inv">*</span><div class="form-group">!LABEL!!OBJECT!</div>
Radio/Checkbox Separator
Code	<div class="checkbox radio">!OBJECT!</div>
Buttons
Code	!SUBMIT!!BACK!!RESET!
Close Section	

Horizontal Layout
Open Form	<form method="post" action="../???/go"  class="eic-form form-horizontal">
Open Section	<table>
Code	<tr><td style="text-align: right; font-weight: bold; padding-right: 8px; vertical-align: top; padding-bottom: 12px;"><span class="wb-inv">*</span>!LABEL!</td><td style=" padding-bottom: 12px;">!OBJECT!</td></tr>
Radio/Checkbox Separator
Code	<div class="form-group"><div class="checkbox radio">!OBJECT!</div></div>
Buttons
Code	<tr><td colspan="2">!SUBMIT!!BACK!!RESET!</td></tr>
Close Section	</table>

Inline Layout
Open Form	<form method="post" action="../???/go"  class="eic-form form-inline">
Open Section	
Code	<span class="wb-inv">*</span><div class="form-group">!LABEL!!OBJECT!</div>
Radio/Checkbox Separator
Code	<div class="checkbox radio">!OBJECT!</div>
Buttons
Code	!SUBMIT!!BACK!!RESET!
Close Section	




Messages:

Mandatory Info
English Info	Indicates mandatory fields.
French Info	Indique les champs obligatoires.
Code	<div class="mrgn-bttm-lg"><span style="color: #D3080C">*</span>!INFO!</div>
Mandatory Indicator	*
English Label	<label for="name" class="required">!LABEL!<strong class="required">(required)</strong></label>
	* does not apply to radio/checkbox
French  Label	<label for="name" class="required">!LABEL!<strong class="required">(obligatoire)</strong></label>
	* does not apply to radio/checkbox
Mandatory Radio/Checkbox Title Wrapper
English Wrapper	<legend class="required"><span>!TITLE!</span> <strong class="required">(required)</strong></legend>
French Wrapper	<legend class="required"><span>!TITLE!</span> <strong class="required">(obligatoire)</strong></legend>
Not Mandatory Radio/Checkbox Title Wrapper
English Wrapper	<legend><span>!TITLE!</span></legend>
French Wrapper	<legend><span>!TITLE!</span></legend>
Error Messages
Open Section	
Failed Mandatory Field
English Message	The following mandatory fields are required.
French Message	Les champs obligatoires suivants sont requis.
Element	<li>!FIELDNAME!</li>
Code	!MESSAGE!<ul>!ELEMENT!</ul>
Failed Validation Field
English Message	The following fields are not valid.
French Message	Les champs suivants ne sont pas valides.
Element	<li>!FIELDNAME!</li>
Code	!MESSAGE!<ul>!ELEMENT!<ul>
Close Section	

