<div class="row">
!LINKS!
</div>
<!-- <span class="page-id">Page: !PAGEID!</span> -->
!DEFVAR11!
</nav>
</div>
</footer>

<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/js/ie8-wet-boew2.min.js"></script>
<![endif]-->

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->

<!-- JS deps -->
<script src="/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- Webtrends for Intranets: EPI-9018 -->
<script src="/eic/home.nsf/js/webtrends_icweb.js"></script>
<script>
(function () {
    'use strict';

     window._tag = new WebTrends();
    _tag.dcsGetId();

    _tag.dcsCustom = function () {};
    _tag.dcsCollect();
}());
</script>
<noscript>
<div><img alt="" id="DCSIMG" width="1" height="1" src="//wt-sdc.ic.gc.ca/dcsyhsi8cf0ei7oen6b0j8ywe_4w8z/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca"/></div>
</noscript>

<!-- Util JS -->
<script src="/eic/home.nsf/js/_WET_4-0_utils.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gc-intranet/js/theme.min.js"></script>
<!-- Institution JS -->
!DEFVAR2!

<!-- /EPIC_DYNAMIC_VAR -->

<!-- eic-Intranet | WET 4.0.26 | BOEW 4.0.26 -->
