	Labels for Variables
1	Terms & Transparency (eng)
E.G.:
<ul id="gc-tctr" class="list-inline">
<li><a rel="license" href="#">Terms and conditions</a></li>
<li><a href="#">Transparency</a></li>
</ul>

2	Institution JS (eng - fra)
3	
4	
5	
6	
7	
8	
9	
10	
11	Terms & Transparency (fra)
E.G.:
<ul id="gc-tctr" class="list-inline">
<li><a rel="license" href="http://wet-boew.github.io/wet-boew/License-fr.html">Avis</a></li>
<li><a href="http://www.tbs-sct.gc.ca/tbs-sct/common/trans-fra.asp">Transparence</a></li>
</ul>
12	
13	
14	
15	
16	
17	
18	
19	
20	

