<!-- EPI-11737 -->
<span typeof="Organization"><meta property="legalName" content="Department_of_Industry"></span>

		<ul id="wb-tphp">
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-cont">Skip to main content</a>
			</li>

			<li class="wb-slc visible-sm visible-md visible-lg">
				<a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
			</li>


		</ul>
		<header role="banner">
			<div id="wb-bnr">
				<div id="wb-bar">
					<div class="container">
						<div class="row">

<object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gcwu-fegc/assets/sig-en.svg" aria-label="Government of Canada"></object>
<ul id="gc-bar" class="list-inline">

	<li><a href="http://www.canada.ca/en/index.html" rel="external">Canada.ca</a></li>
	<li><a href="http://www.canada.ca/en/services/index.html" rel="external">Services</a></li>
	<li><a href="http://www.canada.ca/en/gov/dept/index.html" rel="external">Departments</a></li>


	<li id="wb-lng"><h2>Language selection</h2>
	<ul class="list-inline">

		<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a href="!LANG.SWAP!" title="Fran&ccedil;ais  - Version fran&ccedil;aise de cette page" lang="fr">Français</a><!-- /EPIC_DYNAMIC_TAG --></li>


	</ul>
</li>

</ul>

							<section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
								<h2>Search and menus</h2>
								<ul class="pnl-btn list-inline text-right">
	<li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>

							</section>

						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div id="wb-sttl" class="col-md-5">
							<a href="/eic/site/icgc.nsf/eng/home">
	<span>Innovation, Science and Economic Development Canada</span>
</a>

						</div>
						<object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gcwu-fegc/assets/wmms.svg" aria-label="Symbol of the Government of Canada"></object>

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITESEARCH" -->
						<section id="wb-srch" class="visible-md visible-lg">
							<h2>Search</h2>
							<form action="https://recherche-search.gc.ca/rGs/s_r?#wb-land" method="get" role="search" class="form-inline">

	<div class="form-group">
		<label for="wb-srch-q">Search website</label>
		<input type="hidden" name="st" value="s" />
		<input type="hidden" name="s5bm3ts21rch" value="x" />
		<input type="hidden" name="num" value="10" />
		<input type="hidden" name="st1rt" value="0" />
		<input type="hidden" name="langs" value="eng" />
		<input type="hidden" name="cdn" value="isdeised" />
		<input type="hidden" name="hq" value="" />
		<input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150" />
	</div>

	<button type="submit" id="wb-srch-sub" class="btn btn-default">Search</button>

</form>

						</section><!-- /EPIC_DYNAMIC_TAG -->

					</div>
				</div>
			</div>

			<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
                <div class="pnl-strt container visible-md visible-lg nvbar">
                    <h2>Topics menu</h2>
                    <div class="row">
                        <ul class="list-inline menu" role="menubar">
				!MENU!
                        </ul>
                    </div>
                </div>
			</nav>
