			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2>You are here:</h2>
				<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			!BREADCRUMB!
            <!-- EPIC_DYNAMIC_TAG KEY="EPIC_BREADCRUMB" --><!-- /EPIC_DYNAMIC_TAG -->
		</ol>
	</div>
</div>

			</nav>
		</header>

<!-- EPI-10706 Banner positioning-->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITEBANNER" -->
<div class="container">
<div class="row">
<p class="ic-subbanner eic-subbanner h1"><span class="eic-subbanner-text">!BANNER!</span></p>
</div>
</div>
<!-- /EPIC_DYNAMIC_TAG -->

<main id="wb-cont" role="main" property="mainContentOfPage" class="container">

<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
			!BODY!

<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
			<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
	<dt>Date modified:&#32;</dt>
	<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>


		</main>



		<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
			<div class="container">
				<nav role="navigation">
					<h2>About this site</h2>
