					<ul id="gc-tctr" class="list-inline">
	<li><a rel="license" href="/eic/site/icgc.nsf/fra/h_07033.html">Avis</a></li>
	<li><a href="/eic/site/icgc.nsf/fra/h_00016.html">Transparence</a></li>
</ul>

					<div class="row">
						!LINKS!
					</div>
				</nav>
			</div>
			<div id="gc-info">
				<div class="container">
					<nav role="navigation">
						<h2>Pied de page du gouvernement du Canada</h2>

<ul class="list-inline">

	<li><a href="http://canadiensensante.gc.ca"><span>Santé</span></a></li>
	<li><a href="http://voyage.gc.ca"><span>Voyage</span></a></li>
	<li><a href="http://www.servicecanada.gc.ca/fra/accueil.shtml"><span>Service Canada</span></a></li>
	<li><a href="http://www.guichetemplois.gc.ca"><span>Emplois</span></a></li>
	<li><a href="https://www.budget.gc.ca/2018/home-accueil-fr.html"><span>Économie</span></a></li>

	<li id="canada-ca"><a href="http://www.canada.ca/fr/index.html">Canada.ca</a></li>
</ul>
					</nav>
				</div>
			</div>
		</footer>

		<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gcwu-fegc/js/wet-boew.min.js"></script>
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJSCustom" --><!-- /EPIC_DYNAMIC_TAG -->
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gcwu-fegc/js/ie8-wet-boew2.min.js"></script>
<![endif]-->

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->

<!-- JS deps -->
<script src="/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- Webtrends -->
<script src="/eic/home.nsf/js/webtrends.js"></script>
<script>var endTime = new Date();</script>
<noscript>
<div><img alt="" id="DCSIMG" width="1" height="1" src="//wt-sdc.ic.gc.ca/dcs6v67hwe0ei7wsv8g9fv50d_3k6i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca"/></div>
</noscript>

<!-- Util JS -->
<script src="/eic/home.nsf/js/_WET_4-0_utils.min.js"></script>

<!-- Institution JS -->
<script src="/eic/home.nsf/js/ic_WET_4-0_institution.min.js"></script>
!DEFVAR1!

<!-- /EPIC_DYNAMIC_VAR -->

<!-- IC SubSite App | WET 4.0.22 | BOEW 4.0.22 -->
