First Entry
Before Link:	<li>
Link:	<a href="!LINK!" >!LINKTITLE!</a>
After Link:	</li>
Middle Entry(ies)
Before Link:	<li>
Link:	<a href="!LINK!" >!LINKTITLE!</a>
After Link:	</li>
Last Entry
Before Link:	<li>
Link:	<a href="!LINK!" >!LINKTITLE!</a>
After Link:	</li>
