<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
<h2 class="wb-inv">You are here:</h2>
<div class="container">
<div class="row">
<ol class="breadcrumb">
!BREADCRUMB!
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_BREADCRUMB" --><!-- /EPIC_DYNAMIC_TAG -->
</ol>
</div>
</div>
</nav>
</header>
<div class="container">
<div class="row">
<main id="wb-cont" property="mainContentOfPage" class="col-md-9 col-md-push-3" role="main" >
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
!BODY!
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
<div class="row pagedetails">
<div class="col-sm-5 col-xs-12 datemod">
<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
<dt>Date modified:&#32;</dt>
<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>
</div>
<div class="clear visible-xs"></div>
<div class="col-sm-4 col-xs-6">
</div>
<div class="col-sm-3 col-xs-6 text-right">
<div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default"}'></div>
</div>
<div class="clear visible-xs"></div>
</div>
</main>
<nav class="wb-sec col-md-3 col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
<h2 id="wb-sec-h" class="wb-inv">Section menu</h2>
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_LEFT_NAV" -->
!MENU!
<!-- /EPIC_DYNAMIC_TAG -->
</nav>
</div>
</div>
<footer id="wb-info">
<div class="landscape">
<nav class="container wb-navcurr">
<h2 class="wb-inv">About government</h2>
