<! -- *********************************DO NOT USE***********************************

                          Use WET_4-x_IC_Sub_Sites_Canada instead

************************************************************************************
Canada.ca Content and Information Architecture Specification, version 1.3
7.23 Promotional content (Page 207)
http://www.gcpedia.gc.ca/gcwiki/images/8/8f/Canada_Site_Content_IA_Specification_-_V1_3_ENDORSED_-_FINAL_-_LOWRES.pdf -->


<!-- EPI-11240 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- MCG-202 -->
<meta content="width=device-width,initial-scale=1" name="viewport">

<!-- EPI-11567 -->
<meta name = "format-detection" content = "telephone=no">

!DEFVAR1!

<!-- EPI-11190 - Webtrends -->
<script>
var startTime = new Date();
startTime = startTime.getTime();
</script>

<!-- EPIC_DYNAMIC_VAR NAME="EPIC_HEADER" -->
<!--[if gte IE 9 | !IE ]><!-->
<link href="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/css/wet-boew.min.css">
<!--<![endif]-->
<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/css/theme.min.css">
<!--[if lt IE 9]>
<link href="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/favicon.ico" rel="shortcut icon" />

<link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/css/ie8-wet-boew.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/js/ie8-wet-boew.min.js"></script>
<![endif]-->
<!--[if lte IE 9]>


<![endif]-->
<noscript><link rel="stylesheet" href="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/css/noscript.min.css" /></noscript>

<!-- EPI-11235 -->
<link rel="stylesheet" href="/eic/home.nsf/css/add_WET_4-0_Canada_Apps.css">

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPCSS" --><!-- /EPIC_DYNAMIC_TAG -->
