<!-- EPI-11737 -->
<span typeof="Organization"><meta property="legalName" content="Ministere_de_l_Industrie"></span>

<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a>
</li>
</ul>
<header role="banner">
<div id="wb-bnr" class="container">
<section id="wb-lng" class="visible-md visible-lg text-right">
<h2 class="wb-inv">Sélection de la langue</h2>
<div class="row">
<div class="col-md-12">
<ul class="list-inline mrgn-bttm-0">
<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a href="!LANG.SWAP!" title="English - English version of this page" lang="en">English</a><!-- /EPIC_DYNAMIC_TAG --></li>
</ul>
</div>
</div>
</section>
<div class="row">
<div class="brand col-xs-8 col-sm-9 col-md-6">
<a href="http://www.canada.ca/fr/index.html"><object type="image/svg+xml" tabindex="-1" data="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/sig-blk-fr.svg"></object><span class="wb-inv"> Gouvernement du Canada</span></a>
</div>
<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
<h2>Menus</h2>
<ul class="list-inline text-right chvrn">
<li><a href="#mb-pnl" title="Menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Menus</span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>
!DEFVAR11!
</div>
</div>
<!--EPI-12061 Inline style -->
<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" style="min-height:40px;" data-trgt="mb-pnl" typeof="SiteNavigationElement">
<h2 class="wb-inv">Menu des sujets</h2>
<div class="container nvbar">
<div class="row">
<ul class="list-inline menu">
!MENU!
</ul>
</div>
</div>
</nav>
