<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
<h2 class="wb-inv">Vous êtes ici :</h2>
<div class="container">
<div class="row">
<ol class="breadcrumb">
<li><a href="https://www.canada.ca/fr.html">Accueil</a></li>
!BREADCRUMB!
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_BREADCRUMB" --><!-- /EPIC_DYNAMIC_TAG -->
</ol>
</div>
</div>
</nav>
</header>
<main  id="wb-cont" role="main" property="mainContentOfPage" class="container">
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
			!BODY!
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
<div class="row pagedetails">
<div class="col-sm-5 col-xs-12 datemod">
<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
<dt>Date de modification&#160;:&#32;</dt>
<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>
</div>
<div class="clear visible-xs"></div>
<div class="col-sm-4 col-xs-6">
</div>
<div class="col-sm-3 col-xs-6 text-right">
<div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default"}'></div>
</div>
<div class="clear visible-xs"></div>
</div>
</main>
<footer role="contentinfo" id="wb-info">
<nav role="navigation" class="container visible-sm visible-md visible-lg wb-navcurr">
<h2 class="wb-inv">À propos de ce site</h2>
