	Body
	Variables	View list of variables
	Body Tag	<body  class="home" vocab="http://schema.org/" typeof="WebPage">
	Title Display
	English	<h1> !TITLE! </h1>
	French	<h1> !TITLE! </h1>
	Subtitle Display
	English	<h2> !TITLE! </h2>
	French	<h2> !TITLE! </h2>
