<div class="row">
<div class="col-sm-12 col-lg-12" style="height: 80px;"></div>
</div>
</nav>

<div class="brand">
<div class="container">
<div class="row">

<div class="visible-lg visible-sm visible-md col-sm-9 col-md-6 col-lg-6 text-left">
<ul style="display:inline-flex; height: 20px; margin-top:30px">
<li style="list-style-type: none;"><a href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/h_07026.html">Coordonnées</a></li>
<li style="margin-left:25px"><a href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/h_07033.html">Avis</a></li>
<li style="margin-left:25px"><a href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/h_07033.html#p1">Confidentialité</a></li>
</ul>
</div>

<div class="col-xs-6 visible-xs tofpg">
<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 text-right">
<object type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/assets/wmms-blk.svg" aria-label="Symbole du gouvernement du Canada"></object>
</div>
</div>
</div>

<!-- EPI-12572 -->
<span class="wb-inv page-id">Page: !PAGEID!</span>

</div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/gcweb/js/theme.min.js"></script>

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJS" --> <!-- /EPIC_DYNAMIC_TAG -->

<!-- EPI-11190 - Webtrends -->
<script src="/eic/home.nsf/js/webtrends.js"></script>
<script>var endTime = new Date();</script>
<noscript>
<div><img alt="" id="DCSIMG" width="1" height="1" src="//wt-sdc.ic.gc.ca/dcs6v67hwe0ei7wsv8g9fv50d_3k6i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca"/></div>
</noscript>
<!-- /Webtrends -->

<!-- JS deps -->
<script src="/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- EPI-11262 - Util JS -->
<script src="/eic/home.nsf/js/_WET_4-0_utils_canada.min.js"></script>

<!-- EPI-12572 -->
<script src="/eic/home.nsf/js/canada_promo_ised-contact-us.js"></script>

<!-- Institution JS -->
!DEFVAR1!


<!-- /EPIC_DYNAMIC_VAR -->

<!-- Canada_Promo | WET 4.0.26 | BOEW 4.0.26 -->
