1	Site name (eng)
2	Site url  (eng)
3	Product Code (eng - fra)
Ex: 040 (for the top search box)
4	nsf name. (eng - fra)
Ex: ipp-ppi.nsf (for the top search box) 
5	ORG_KEY (eng)
Ex: <span typeof="Organization"><meta property="legalName" content="Government_of_Canada"></span>
6	
7	
8	
9	
10	
11	Site name (fra)
12	Site url (fra)
13	
14	
15	ORG_KEY (fra)
Ex: <span typeof="Organization"><meta property="legalName" content="Gouvernement_du_Canada"></span>
16	
17	
18	
19	
20	