First Level
First Level - Open	
Menu Title - Open	<!--!MENUENTRY! -->
HTML Entry	!HTMLENTRY! 
Collapsed	<li class="item"><a href="!LINK!" title="!LINKTITLE!"  class="item">!LINKTITLE!</a></li>
Selected - Open	<a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE!</a>
	Open Second Level
Selected - Close	
Expanded - Open	<li><a href="!LINK!" title="!LINKTITLE!"  class="item">!LINKTITLE!</a>
	Open Second Level
Expanded - Close	</li>
Menu Title - Close	
First Level - Close	
Second Level
Second Level - Open	<ul class="sm list-unstyled" role="menu">
Menu Title - Open	<!-- !MENUENTRY! -->
HTML Entry	!HTMLENTRY!
Selected - Open	<a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE!</a>
	Open Third Level
Selected - Close	
Expanded - Open	<li><a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE!</a>
	Open Third Level
Expanded - Close	</li>
Menu Title - Close	
Second Level - Close	</ul>
Third Level
Third Level - Open	<ul class="list-unstyled" role="menu">
Menu Title - Open	<!-- !MENUENTRY! -->
HTML Entry	!HTMLENTRY!
Selected - Open	<a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE!</a>
	Open Third Level - Repeat
Selected - Close	
Expanded - Open	<li><a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE!</a>
	Open Third Level - Repeat
Expanded - Close	</li>
Menu Title - Close	
Third Level - Close	</ul>
