					<ul id="gc-tctr" class="list-inline">
	<li><a rel="license" href="!DEFVAR1!">Terms and conditions</a></li>
	<li><a href="!DEFVAR2!">Transparency</a></li>
</ul>

					<div !DEFVAR5! class="row">
						!LINKS!
					</div>
					<span class="page-id">Page: !PAGEID!</span>
				</nav>
			</div>
			<div id="gc-info">
				<div class="container">
					<nav role="navigation">
						<h2>Government of Canada footer</h2>

<ul class="list-inline">

	<li><a href="http://healthycanadians.gc.ca"><span>Health</span></a></li>
	<li><a href="http://travel.gc.ca"><span>Travel</span></a></li>
	<li><a href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>Service Canada</span></a></li>
	<li><a href="http://www.jobbank.gc.ca"><span>Jobs</span></a></li>
	<li><a href="https://www.budget.gc.ca/2018/home-accueil-en.html"><span>Economy</span></a></li>

	<li id="canada-ca"><a href="http://www.canada.ca/en/index.html">Canada.ca</a></li>
</ul>
					</nav>
				</div>
			</div>
		</footer>

		<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/js/ie8-wet-boew2.min.js"></script>
<![endif]-->

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->

<!-- JS deps -->
<script src="/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- Webtrends -->
<script src="/eic/home.nsf/js/webtrends.js"></script>
<script>var endTime = new Date();</script>
<noscript>
<div><img alt="" id="DCSIMG" width="1" height="1" src="//wt-sdc.ic.gc.ca/dcs6v67hwe0ei7wsv8g9fv50d_3k6i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca"/></div>
</noscript>

<!-- Util JS -->
<script src="/eic/home.nsf/js/_test-jquery-ui.min.js"></script>
!DEFVAR4!
<script src="/eic/home.nsf/js/_WET_4-0_utils.min.js"></script>

<!-- Institution JS -->
!DEFVAR3!

<!-- /EPIC_DYNAMIC_VAR -->

<!-- Custom | WET 4.0.26 | BOEW 4.0.26 -->
