/* DEFVARS for english first splash page */

1	Page title
2	Favicon (EG: /utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/assets/favicon.ico)
3	H1 (EG: Industry Canada Main Site)
4	H2 (EG: Industry Canada)
5	Terms link  (EG: /eic/site/icgc.nsf/eng/h_07033.html)
6	FIP Signatire(EG: <object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/assets/sig-alt-en.svg" aria-label="Government of Canada"></object>)
7	FIP Wordmark
(EG: <object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/theme-gcwu-fegc/assets/wmms-alt.svg" aria-label="Symbol of the Government of Canada"></object>)
8	
9	
10	
11	Page title Fra
12	
13	H1 Fra (EG: Site principal d'Industrie Canada)
14	H2 Fra (EG:Industrie Canada)
15	Terms link Fra (EG: /eic/site/icgc.nsf/fra/h_07033.html)
16	
17	
18	
19	
20	
