<!-- EPI-11737 -->
<span typeof="Organization"><meta property="legalName" content="Ministere_de_l_Industrie"></span>
<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a>
</li>
</ul>
<header>
<div id="wb-bnr" class="container">
<section id="wb-lng" class=" text-right">
<h2 class="wb-inv">Sélection de la langue</h2>
<ul class="list-inline mrgn-bttm-none">
<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a href="!LANG.SWAP!" title="English - English version of this page" lang="en">English</a>
<!-- /EPIC_DYNAMIC_TAG --></li>
</ul>
</section>
<div class="row">
<div class="brand col-xs-5 col-sm-9 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">				               
<a href="https://www.canada.ca/en.html" property="url">
<img src="https://stratpre1.ic.gc.ca/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo">
<span class="wb-inv"> / <span lang="en">Government of Canada</span></span></a>		
<meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada">
<link property="logo" href="https://stratpre1.ic.gc.ca/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/assets/sig-blk-fr.svg">
</div>

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITESEARCH" -->
<section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg">
<h2>Recherche</h2>
<!-- EPI-11385 -->
<form action="https://www.canada.ca/fr/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
<div class="form-group">
<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Rechercher dans Canada.ca">
<datalist id="wb-srch-q-ac">
<!--[if lte IE 9]><select><![endif]-->
<!--[if lte IE 9]></select><![endif]-->
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Recherche</span></button>
</div>
</form>
</section>
<!-- /EPIC_DYNAMIC_TAG -->

</div>
</div>

<nav class="gcweb-menu" typeof="SiteNavigationElement">

<div class="container">
<h2 class="wb-inv">Menu</h2>
<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/sitemenu/sitemenu-v5-fr.html">

<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/jobs.html">Emplois et milieu de travail</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration et citoyenneté</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/benefits.html">Prestations</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/transport.html">Transport et infrastructure</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://international.gc.ca/world-monde/index.aspx?lang=fra">Canada et le monde</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
</ul>
</div>
</nav>

