<!-- EPI-11737 -->
<span typeof="Organization"><meta property="legalName" content="Department_of_Industry"></span>
<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Skip to main content</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
</li>
<li class="wb-slc visible-md visible-lg">
<a class="wb-sl" href="#wb-sec">Skip to section menu</a>
</li>
</ul>
<header>
<div id="wb-bnr" class="container">
<section id="wb-lng" class="text-right">
<h2 class="wb-inv">Language selection</h2>
<ul class="list-inline mrgn-bttm-none">
<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a href="!LANG.SWAP!" title="Fran&ccedil;ais  - Version fran&ccedil;aise de cette page" lang="fr">Français</a><!-- /EPIC_DYNAMIC_TAG --></li>
</ul>
</section>
<div class="row">
<div class="brand col-xs-5 col-sm-9 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
<a href="https://www.canada.ca/en.html" property="url">
<img src="https://stratpre1.ic.gc.ca/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo">
<span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span></a>
<meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada">
<link property="logo" href="https://stratpre1.ic.gc.ca/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/assets/sig-blk-en.svg">
</div>

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITESEARCH" -->
<section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg">
<h2 class="wb-inv">Search</h2>
<!-- EPI-11385 -->
<form action="https://www.canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
<div class="form-group">
<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca">
<datalist id="wb-srch-q-ac">
<!--[if lte IE 9]><select><![endif]-->
<!--[if lte IE 9]></select><![endif]-->
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
</div>
</form>
</section>
<!-- /EPIC_DYNAMIC_TAG -->

</div>
</div>
<nav class="gcweb-menu" typeof="SiteNavigationElement">
<div class="container">
<h2 class="wb-inv">Menu</h2>

 <button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>

<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/sitemenu/sitemenu-v5-en.html">

<li role="presentation"><a role="menuitem"  href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://travel.gc.ca/">Travel and tourism</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/health.html">Health</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
<li role="presentation"><a role="menuitem"  tabindex="-1"  href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
</ul>
</div>
</nav>

