<ul class="list-unstyled colcount-sm-2 colcount-md-3">
<li><a href="/eic/site/icgc.nsf/eng/h_07026.html">Contact us</a></li>
<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
<li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
<li><a href="https://www.canada.ca/en/news.html">News</a></li>
<li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
<li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
<li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
<li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
<li><a href="https://open.canada.ca/en/">Open government</a></li>
</ul>
</nav>
</div>
<div class="brand">
<div class="container">
<div class="row">
<nav class="col-md-10 ftr-urlt-lnk">
<h2 class="wb-inv">About this site</h2>
<ul>
<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
<li><a href="http://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
<li><a href="/eic/site/icgc.nsf/eng/h_07033.html">Terms and conditions</a></li>
<li><a href="/eic/site/icgc.nsf/eng/h_07033.html#p1">Privacy</a></li>
</ul>
</nav>

<div class="col-xs-6 visible-sm visible-xs tofpg">
<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div class="col-xs-6 col-md-2 text-right">
<object type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada"></object>

</div>
</div>
</div>

<!-- EPI-12572 -->
<span class="wb-inv page-id">Page: !PAGEID!</span>


</div>
</footer>

<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="/utils/scripts/_WET_4-0/sites/themes-dist/GCW_V5/gcweb/js/theme.min.js"></script>

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJS" --> <!-- /EPIC_DYNAMIC_TAG -->

<!-- EPI-11262 - Util JS -->
<script src="/eic/home.nsf/js/_WET_4-0_utils_canada.min.js"></script>

<!-- EPI-12572 -->
<script src="/eic/site/icgc.nsf/vwapj/canada_sites_ised-contact-us.js/$file/canada_sites_ised-contact-us.js"></script>

!DEFVAR1!
<!-- /EPIC_DYNAMIC_VAR -->

<!-- Siteimprove Analytics -->
<script>
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_8489.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>

<!-- GCWEB V.5 | WET 4.0.30 | BOEW 4.0.30 -->
