<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a>
</li>
<li class="wb-slc visible-md visible-lg">
<a class="wb-sl" href="#wb-sec">Passer au menu de la section</a>
</li>
</ul>
<header role="banner">
<div id="wb-bnr">
<div id="wb-bar">
<div class="container">
<div class="row">
<img id="gcwu-sig" src="/eic/home.nsf/images/ic_FIP_ISDE-ISED.jpg/$file/ic_FIP_ISDE-ISED.jpg" width="437" height="27" alt="Innovation, Sciences et Développement économique Canada" title="Innovation, Sciences et Développement économique Canada" />
<section id="wb-lng"><h2>Sélection de la langue</h2>
<ul class="list-inline">
<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a href="!LANG.SWAP!" title="English - English version of this page" lang="en">English</a><!-- /EPIC_DYNAMIC_TAG --></li>
</ul>
</section>
<section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
<h2>Recherche et menus</h2>
<ul class="pnl-btn list-inline text-right">
<li><a href="#mb-pnl" title="Recherche et menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Recherche et menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div id="wb-sttl" class="col-md-12">
<a href="!DEFVAR2!">
<span>!DEFVAR1!</span>
</a>
<object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gc-intranet/assets/wmms-intra.svg" aria-label="Symbole du gouvernement du Canada"></object>
</div>
<section id="wb-srch" class="visible-md visible-lg">
<h2>Recherche</h2>
<form action="https://google.ca/search" method="get" role="search" class="form-inline">
<div class="form-group">
<label for="wb-srch-q">Recherchez le site Web</label>
<input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150">
<input type="hidden" name="q" value="site:wet-boew.github.io OR site:github.com/wet-boew/">
</div>
<button type="submit" id="wb-srch-sub" class="btn btn-default">Recherche</button>
</form>
</section>
</div>
</div>
</div>
<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
<div class="pnl-strt container visible-md visible-lg nvbar">
<h2>Menu des sujets</h2>
<div class="row">
<ul class="list-inline menu" role="menubar">
!MENU!
</ul>
</div>
</div>
</nav>
