<div class="row">
!LINKS!
</div>
!DEFVAR11!
</nav>
</div>
</footer>

<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gc-intranet/js/wet-boew.min.js"></script>
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJSCustom" --><!-- /EPIC_DYNAMIC_TAG -->
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gc-intranet/js/ie8-wet-boew2.min.js"></script>
<![endif]-->

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->

<!-- JS deps -->
<script src="/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- Util JS -->
<script src="/eic/home.nsf/js/_WET_4-0_utils.min.js"></script>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gc-intranet/js/theme.min.js"></script>
<!-- Institution JS -->
!DEFVAR2!

<!-- /EPIC_DYNAMIC_VAR -->

<!-- eic-Intranet App | WET 4.0.22 | BOEW 4.0.22 -->
