Open Section	<div class="clearfix"></div>
<ul class="btn-toolbar list-inline pull-right eic-prenex" role="toolbar">
<li class="btn-group btn-group-xs">
English
* First	<a href="!URL!" title="Go to first page" class="btn btn-default"><span class="eic-prenex eic-icon eic-icon-angle-double-left "></span> First</a>
** Separator
* Previous	<a href="!URL!" rel="prev" title="Go to previous page" class="btn btn-default"><span class="eic-prenex eic-icon eic-icon-angle-left"></span> Previous</a>
** Separator
* Next	<a href="!URL!" rel="next" title="Go to next page" class="btn btn-default">Next <span class="eic-prenex eic-icon eic-icon-angle-right"></span></a>
** Separator
* Last	<a href="!URL!" title="Go to last page" class="btn btn-default">Last <span class="eic-prenex eic-icon eic-icon-angle-double-right"></span></a></li>
** Separator
* View All	<li class="btn-group  btn-group-xs "><a href="!URL!" title="View entire series in one document" class="btn btn-default">View all pages</a>
</li>
Exit View All	<li class="btn-group  btn-group-xs "><a href="!URL!" title="Exit view all" class="btn btn-default">Exit view all</a>
</li>
French
First	<a href="!URL!" title="Aller &agrave; la premi&egrave;re page" class="btn btn-default"><span class="eic-prenex eic-icon eic-icon-angle-double-left "></span>Première</a>
** Separator
Previous	<a href="!URL!" rel="prev" title="Aller &agrave; la page précédente" class="btn btn-default"><span class="eic-prenex eic-icon eic-icon-angle-left"></span> Précédente</a>
** Separator
Next	<a href="!URL!" rel="next" title="Aller &agrave; la page suivante" class="btn btn-default">Suivante <span class="eic-prenex eic-icon eic-icon-angle-right"></span></a>
** Separator
Last	<a href="!URL!" title="Aller &agrave; la dernière page" class="btn btn-default">Dernière <span class="eic-prenex eic-icon eic-icon-angle-double-right"></span></a></li>
** Separator
View All	<li class="btn-group  btn-group-xs "><a href="!URL!" title="Voir toute la série en un seul document" class="btn btn-default">Voir toutes les pages</a>
</li>
Exit View All	<li class="btn-group  btn-group-xs "><a href="!URL!" title="Voir une page de la série" class="btn btn-default">Retour à la page précédente</a>
</li>
Close Section	</ul>
<div class="clearfix"></div>
