/**
 * Styles for the 'archived' top-bar
 *
 * The following styles are included by WET in the GCWeb and Usability themes,
 * but not the Intranet theme. They are copied here for consistency across
 * EPIC templates
 *
 * Refs:
 *  https://github.com/wet-boew/theme-gcwu-fegc/blob/47c0a8b1af2f3a895fc5406430ae9623d816919e/src/archive/_base.scss
 */

#archived-bnr {
    background-color: #fd0;

    p {
        margin: 0;
        text-align: center;
    }

    a {
        color: #000;
        display: block;
        font-weight: 700;
        padding: .75em 44px;
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    .overlay-close {
        color: #000;
    }
}
