---
title: 1-col .ic-banner
---
<h1 class="eic-cont" property="name">{{title}}</h1>

<div class="ic-banner bg-primary">
<div>
    <img src="/eic/home.nsf/images/Bankruptcy_1.jpg/$file/Bankruptcy_1.jpg" alt="alt text">
  </div>
  <div>
    <h3>Hello, world!</h3>
    <p class="lead">This is a small blurb about the content in this database.</p>
    <a class="btn btn-info btn-lg" role="button">I am a button!</a>
  </div>
</div>

{{>epic.body-eng}}
