---
title: Contact Us

head:
    DEFVAR2: |
        <style>
            .gsc-search-box,
            .gs-spelling,
            .gsc-above-wrapper-area,
            .gsc-tabsAreaInvisible,
            .gsc-resultsHeader,
            .gsc-promotion,
            .gs-watermark,
            .gsc-cursor-box,
            .gcsc-branding,
            #contact-info-box,
            .eic-cont,
            .eic-subbanner,
            .ic-rltd-q {
                display: none;
            }

            .xxsmallview .ic-rltd-q,
            .xsmallview .ic-rltd-q {
                display: none !important;
            }

            main label,
            main select {
                display: block;
            }
        </style>
---

<h1 class="eic-cont" property="name">{{title}}</h1>

<p class="ic-subbanner h1">Contact us</p>

<div class="ic-details well">
  <details>
    <summary id="phone">Telephone / Fax</summary>
    <div class="row">
      <div class="col-sm-6">
        <div class="phone-in" style="margin-left: 1.5em;">
          <noscript class="noscript">
            <p>For general questions, give us a call at:</p>
            <ul class="list-unstyled">
              <li>Toll-Free (Canada): 1-800-328-6189</li>
              <li>Telephone (Ottawa): 613-954-5031</li>
              <li>TTY (for hearing-impaired): 1-866-694-8389</li>
              <li>Business hours (Eastern Time): 8:30 a.m. to 5:00 p.m.</li>
            </ul>
            <p>If you have a specific question, <a href="07148.html">find contact information by topic</a>.</p>
          </noscript>
        </div>
      </div>
      <div class="ic-rltd-q col-sm-6">
        <h2 class="mrgn-tp-0 mrgn-bttm-lg page-header">Related Questions</h2>
      </div>
    </div>
  </details>
</div>

<div class="ic-details well">
  <details>
    <summary id="email">Email</summary>
    <div class="row">
      <div class="col-sm-6">
        <div class="email-in" style="margin-left: 1.5em;">
          <noscript>
            <p>For general questions, use our contact form.</p>

            <form method="post" action="/imcc/internet.nsf/IC-Eng?CreateDocument" id="_SRT">
              <p><a href="07139.html">Privacy Notice</a></p>

              <input type="hidden" name="hid_pageid" id="hid_pageid" value="n/a" />

              <div class="hidden">
                <label for="emailx"><b>EID:</b></label>
                <input name="emailx" id="emailx" />
              </div>

              <div class="form-group">
                <label for="Subject"><b>Subject:</b></label>
                <input class="form-control" name="Subject" id="Subject" size="60" />
              </div>

              <div class="form-group">
                <label for="Body"><b>Text:</b></label>
                <textarea class="form-control" name="Body" id="Body" cols="60" rows="8"></textarea>
              </div>

              <fieldset>
              <legend>Do you need a response?</legend>
                <p>
                  <label for="net_question_0">Yes&nbsp;<input type="radio" name="net_question_no_script" id="net_question_0" value="Yes" /></label>
                  <label for="net_question_1">No&nbsp;<input type="radio" name="net_question_no_script" id="net_question_1" value="No" /></label>
                </p>
              </fieldset>

              <fieldset>
            <legend>Contact Information</legend>
                <div class="form-group">
                  <label for="net_Email">Email Address:</label>
                  <input class="form-control" name="net_Email" id="net_Email" size="30" />
                </div>

                <div class="form-group">
                  <label for="net_FirstName">First Name:</label>
                  <input class="form-control" name="net_FirstName" id="net_FirstName" size="30" />
                </div>

                <div class="form-group">
                  <label for="net_LastName">Last Name:</label>
                  <input class="form-control" name="net_LastName" id="net_LastName" size="30" />
                </div>

                <div class="form-group form-inline">
                  <label for="net_Phone">Telephone:</label>
                  <input class="form-control" name="net_PhoneArea" id="net_PhoneArea" size="4" maxlength="3" />
                  <input class="form-control" name="net_Phone" id="net_Phone" size="15" />

                  <label for="net_Ext">Ext.:</label>
                  <input class="form-control" name="net_Ext" id="net_Ext" size="5" />
                </div>

                <div class="form-group form-inline">
                  <label for="net_Phone">Fax:</label>
                  <input class="form-control" name="net_FaxArea" id="net_FaxArea" size="4" maxlength="3" />
                  <input class="form-control" name="net_Fax" id="net_Fax" size="15" />
                </div>

                <input type="submit" value="Send" />
              </fieldset>
            </form>
          </noscript>
        </div>
      </div>
      <div class="ic-rltd-q col-sm-6">
        <h2 class="mrgn-tp-0 mrgn-bttm-lg page-header">Related Questions</h2>
      </div>
    </div>
  </details>
</div>

<div class="ic-details well">
  <details>
    <summary id="visit">Mail</summary>
    <div class="visit-in">
      <noscript class="noscript">
        <p>For specific questions, <a href="07150.html">find the right mailing address by topic</a>.</p>
        <p><a href="http://www.tbs-sct.gc.ca/ollo/appollo/burolis/search-recherche/search-recherche-eng.aspx">Find an office near you that provides service in your official language</a></p>
      </noscript>
    </div>
  </details>
</div>

<div id="ic-webResult" style="display: none;">
  <ol class="list-unstyled">
    <li class="ic-result-li" style="margin-bottom: 10px;" data-foreach="Vars.richSnippet.question">
      <a data-if="typeof Cur.question != 'undefined' && typeof Cur.answerUrl != 'undefined'" data-body="Cur.question" data-attr="{href:Cur.answerUrl}"></a>
    </li>
  </ol>
</div>

<script src="http://stratpre1.ic.gc.ca/eic/site/icgc.nsf/vwapj/filters-eng-v4.js/$file/filters-eng-v4.js"></script>
<script src="http://stratpre1.ic.gc.ca/eic/site/icgc.nsf/vwapj/contactUs-v4.js/$file/contactUs-v4.js"></script>
