---
title: .ic-details
---

<h1 class="eic-cont" property="name">{{title}}</h1>

<div class="ic-details well">
    <details>
        <summary>Test</summary>

        <div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt volutpat nibh. Vivamus in feugiat velit, in hendrerit sem. Sed quis tristique urna, nec gravida nulla. Mauris vitae pretium lorem. Donec maximus pellentesque lacus sit amet tempor. Maecenas imperdiet, urna venenatis commodo egestas, sapien dui eleifend arcu, id ornare enim felis a magna. Cras a dolor fermentum metus gravida fermentum. Ut ut pellentesque libero, id malesuada ipsum. Nulla facilisi. Aliquam imperdiet odio sed tellus fringilla, vel convallis tellus porttitor.
            </p>

            <p>
            In hac habitasse platea dictumst. In sit amet velit vel massa laoreet interdum nec ac eros. Fusce malesuada tellus nisi. Morbi efficitur nisi at libero rutrum, sit amet pulvinar nunc vestibulum. Phasellus vulputate dolor leo, eget posuere nisl sodales at. Phasellus sit amet nisl laoreet, ullamcorper urna sed, aliquet purus. Pellentesque turpis justo, vehicula vitae est vitae, dignissim tincidunt ligula. Nullam sit amet urna consectetur, tincidunt justo vel, consectetur leo. Pellentesque sed velit id sem tincidunt tempor. Pellentesque sit amet lectus eget lectus luctus feugiat. Mauris imperdiet luctus risus, eget convallis arcu aliquam ut. Vivamus dapibus nisi quis neque fringilla, et rhoncus tellus commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras mi justo, dignissim et rutrum eget, venenatis egestas nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur non eros eu magna tincidunt bibendum.
            </p>

            <p>
            Phasellus varius libero a ligula congue pharetra. Etiam in tempus mauris. Integer lacus metus, mattis quis massa vel, pellentesque mollis tellus. Cras venenatis diam eu ex molestie tempor. Pellentesque non turpis velit. Nullam mollis, ipsum vel iaculis tempus, lorem massa auctor felis, a imperdiet metus tortor gravida lorem. Curabitur ac est magna. Aenean tincidunt consectetur risus egestas dapibus. Mauris vel volutpat magna, feugiat malesuada arcu. Nunc felis turpis, ornare in lacus sed, fringilla molestie mauris. Mauris et imperdiet nunc, sit amet tristique mauris. Praesent aliquet volutpat neque, vitae consequat libero auctor in. Integer ac auctor mauris. Sed eleifend elit ut neque luctus dignissim id eu augue.
            </p>

            <p>
            Fusce vel arcu ut odio volutpat vestibulum vitae vel mauris. Aenean volutpat risus vitae nisl malesuada, eu ullamcorper sapien rhoncus. Nulla auctor, ex vitae fringilla imperdiet, ligula sem tincidunt tortor, eu elementum eros felis eu massa. Aenean a tincidunt erat, quis sollicitudin magna. Etiam mattis bibendum faucibus. Donec lacinia faucibus dignissim. Aliquam nec quam et mauris condimentum fringilla vel nec nulla. Suspendisse tempor, lectus non mattis cursus, justo orci porttitor lorem, at ullamcorper nunc tortor sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>

            <p>
            Quisque vulputate ornare eros, et ornare felis ultrices ut. Vivamus hendrerit sit amet lacus in tincidunt. Aliquam imperdiet orci id eros ultricies congue. Nullam at bibendum lectus. Aenean non turpis pellentesque, pretium sapien at, fringilla quam. Duis ullamcorper porttitor justo ac egestas. In non velit nisi. Vestibulum ultrices lacinia fringilla. Vivamus neque libero, porta non congue eu, mollis quis ante. Aliquam dui felis, malesuada at feugiat ut, imperdiet eget velit. Etiam condimentum eget justo vel lobortis. Ut euismod ante sit amet rhoncus ultricies.
            </p>
        </div>
    </details>
</div>

<div class="ic-details well">
    <details open>
        <summary>Test</summary>

        <div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt volutpat nibh. Vivamus in feugiat velit, in hendrerit sem. Sed quis tristique urna, nec gravida nulla. Mauris vitae pretium lorem. Donec maximus pellentesque lacus sit amet tempor. Maecenas imperdiet, urna venenatis commodo egestas, sapien dui eleifend arcu, id ornare enim felis a magna. Cras a dolor fermentum metus gravida fermentum. Ut ut pellentesque libero, id malesuada ipsum. Nulla facilisi. Aliquam imperdiet odio sed tellus fringilla, vel convallis tellus porttitor.
            </p>

            <p>
            In hac habitasse platea dictumst. In sit amet velit vel massa laoreet interdum nec ac eros. Fusce malesuada tellus nisi. Morbi efficitur nisi at libero rutrum, sit amet pulvinar nunc vestibulum. Phasellus vulputate dolor leo, eget posuere nisl sodales at. Phasellus sit amet nisl laoreet, ullamcorper urna sed, aliquet purus. Pellentesque turpis justo, vehicula vitae est vitae, dignissim tincidunt ligula. Nullam sit amet urna consectetur, tincidunt justo vel, consectetur leo. Pellentesque sed velit id sem tincidunt tempor. Pellentesque sit amet lectus eget lectus luctus feugiat. Mauris imperdiet luctus risus, eget convallis arcu aliquam ut. Vivamus dapibus nisi quis neque fringilla, et rhoncus tellus commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras mi justo, dignissim et rutrum eget, venenatis egestas nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur non eros eu magna tincidunt bibendum.
            </p>

            <p>
            Phasellus varius libero a ligula congue pharetra. Etiam in tempus mauris. Integer lacus metus, mattis quis massa vel, pellentesque mollis tellus. Cras venenatis diam eu ex molestie tempor. Pellentesque non turpis velit. Nullam mollis, ipsum vel iaculis tempus, lorem massa auctor felis, a imperdiet metus tortor gravida lorem. Curabitur ac est magna. Aenean tincidunt consectetur risus egestas dapibus. Mauris vel volutpat magna, feugiat malesuada arcu. Nunc felis turpis, ornare in lacus sed, fringilla molestie mauris. Mauris et imperdiet nunc, sit amet tristique mauris. Praesent aliquet volutpat neque, vitae consequat libero auctor in. Integer ac auctor mauris. Sed eleifend elit ut neque luctus dignissim id eu augue.
            </p>

            <p>
            Fusce vel arcu ut odio volutpat vestibulum vitae vel mauris. Aenean volutpat risus vitae nisl malesuada, eu ullamcorper sapien rhoncus. Nulla auctor, ex vitae fringilla imperdiet, ligula sem tincidunt tortor, eu elementum eros felis eu massa. Aenean a tincidunt erat, quis sollicitudin magna. Etiam mattis bibendum faucibus. Donec lacinia faucibus dignissim. Aliquam nec quam et mauris condimentum fringilla vel nec nulla. Suspendisse tempor, lectus non mattis cursus, justo orci porttitor lorem, at ullamcorper nunc tortor sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>

            <p>
            Quisque vulputate ornare eros, et ornare felis ultrices ut. Vivamus hendrerit sit amet lacus in tincidunt. Aliquam imperdiet orci id eros ultricies congue. Nullam at bibendum lectus. Aenean non turpis pellentesque, pretium sapien at, fringilla quam. Duis ullamcorper porttitor justo ac egestas. In non velit nisi. Vestibulum ultrices lacinia fringilla. Vivamus neque libero, porta non congue eu, mollis quis ante. Aliquam dui felis, malesuada at feugiat ut, imperdiet eget velit. Etiam condimentum eget justo vel lobortis. Ut euismod ante sit amet rhoncus ultricies.
            </p>
        </div>
    </details>
</div>