---
title: Dismissible Boxes
---

<div class="alert alert-warning js-ic-dismissible ic_warning">
  <p class="ic_iconWarning bold">Network Maintenance</p>
  <p>Due to planned system maintenance, this site will be unavailable from 8:00&nbsp;p.m. on <b>Saturday, October&nbsp;25</b> to 8:00&nbsp;a.m. on <b>Sunday, October&nbsp;26, 2014</b> (<abbr title="Eastern Daylight Time">EDT</abbr>).</p>
</div>

<div class="alert alert-info js-ic-dismissible ic_info" data-cname="info">
  <p class="ic_iconWarning bold">Entretien du réseau</p>
  <p>Certains sites de ic.gc.ca ne seront pas accessibles le <strong>vendredi 17&nbsp;août 2012</strong>, de 20&nbsp;h&nbsp;00 à 23&nbsp;h&nbsp;59 le <strong>samedi 18&nbsp;août 2012</strong> (<abbr title="heure normale de l'Est">HNE</abbr>), car ils feront l'objet d'une mise à jour.</p>
</div>

<p><a href="#" id="meh">Reset cookies (show the messages again)</a></p>

<script>
(function () {
    /*global $: false, eic: false*/
    'use strict';

    window.addEventListener("load", function() {
        $(document).on('click', '#meh', function () {
            $('.js-ic-dismissible').each(function () {
                var $container = $(this),
                    cookieName = $container.data('cname') || 'outage';

                eic.setCookie(cookieName, '', 1);
            });

            window.location.reload();
        });
    });
}());
</script>