---
title: Top Portion of Landing Pages

head:
    DEFVAR2: |
        <style>
            .eic-cont, .eic-subbanner {
                display: none;
            }

            #wb-cont {
                position: relative;
            }
        </style>
---

<h1 class="eic-cont" property="name">{{title}}</h1>

<div class="ic-lp-wrapper">
    <ol class="ic-lp-tp-nv visible-md visible-lg">
        <li><a href="http://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/home">Corporations Canada</a></li>
        <li><a href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/hm.html?locale=en_CA">Online Filing</a></li>
        <li><a href="http://www.ic.gc.ca/eic/site/693.nsf/eng/h_00003.html">Corporate Law Policy</a></li>
    </ol>

    <div class="col-xs-12">
        <ul class="list-unstyled">
          <li>

            <a class="wb-lbx ic-overlay ic-overlay--play" title="Video: Corporations" href="#inline_content">
                <span data-pic="data-pic" data-alt=" " data-class="img-responsive">
                    <!-- Default -->
                    <span data-src="/eic/home.nsf/images/Corporations.jpg/$file/Corporations.jpg"></span>

                    <!-- Images for browsers with CSS media query support -->
                    <span data-src="/eic/home.nsf/images/Corporations-small.jpg/$file/Corporations-small.jpg" data-media="(min-width: 0px)"></span>
                    <span data-src="/eic/home.nsf/images/Corporations.jpg/$file/Corporations.jpg" data-media="(min-width: 960px)"></span>

                    <!-- Fallback content for non-JS browsers. -->
                    <noscript><img src="/eic/home.nsf/images/Corporations.jpg/$file/Corporations.jpg" alt=""/></noscript>
                </span>

                <div class="ic-tag-line row">
                    <div class="pstn-rght-md pstn-bttm-md col-sm-12 col-md-6 mrgn-bttm-lg h2">
                        <p class="text-right opct-90 well brdr-rds-0 well-md mrgn-bttm-lg"><strong>Incorporation inspires confidence</strong></p>
                    </div>
                </div>
            </a>

            <section id="inline_content" class="mfp-hide modal-dialog modal-content overlay-def">
              <header class="modal-header">
                <h2 class="modal-title">Corporations Video</h2>
              </header>
              <div class="modal-body">
                <figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://multimedia.ic.gc.ca/icgc/Corporations.webm"}'>
                  <video poster="http://stratpre1.ic.gc.ca/eic/site/ui-icgc.nsf/vwimages/corporations-video.jpg/$file/corporations-video.jpg" title="Corporations - Incorporation inspires confidence">
                    <source type="video/webm" src="http://multimedia.ic.gc.ca/icgc/Corporations.webm" />
                    <source type="video/mp4" src="http://multimedia.ic.gc.ca/icgc/Corporations.mp4" />
                    <track kind="captions" data-type="text/ttml" src="http://stratpre1.ic.gc.ca/eic/site/ui-icgc.nsf/vwapj/Corporations.xml/$file/Corporations.xml?Open" />
                    <track src="cpts-lg-en.html" kind="captions" data-type="text/html" srclang="en" label="English" />
                  </video>
                  <figcaption>
                    <p class="mrgn-tp-md mrgn-bttm-0"><a href="07158.html">Corporations Video&nbsp;&#8211; Transcript</a></p>
                  </figcaption>
                </figure>
              </div>
            </section>
          </li>
        </ul>
      </div>
</div>

{{>epic.body-eng}}