---
title: Subbanner, Archived, Prev-next

head:
    DEFVAR2: |
        <style>
            .eic-cont {
                display: none;
            }
        </style>
---

<h1 class="eic-cont" property="name">Archived &#8212; {{title}}</h1>

<p><img src="../warning.gif" width="16" height="16" alt="warning" title="warning" />&nbsp;<a href="h_07472.html">View the most recent version</a>. The following document is out of date.</p>

<section class="alert alert-warning">
	<h3>Archived Information</h3>
    <p>Archived information is provided for reference, research or recordkeeping purposes. It is not subject to the <a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp">Government of Canada Web Standards</a> and has not been altered or updated since it was archived. Please <a href="http://www.ic.gc.ca/eic/site/icgc.nsf/eng/h_07026.html">contact us</a> to request a format other than those available.</p>
</section>

<p class="ic-subbanner h1">Page-specific banner value</p>

{{>epic.body-eng}}
