---
title: Tabs/Toggle

head:
    DEFVAR2: |
        <style>
            .eic-cont, .eic-subbanner {
                display: none;
            }

            #wb-cont {
                position: relative;
            }
        </style>
---

<h1 class="eic-cont" property="name">{{title}}</h1>

<div class="ic-lp-wrapper">
    <ol class="ic-lp-tp-nv visible-md visible-lg">
        <li><a href="http://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/home">Corporations Canada</a></li>
        <li><a href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/hm.html?locale=en_CA">Online Filing</a></li>
        <li><a href="http://www.ic.gc.ca/eic/site/693.nsf/eng/h_00003.html">Corporate Law Policy</a></li>
    </ol>

    <div class="col-xs-12">
        <ul class="list-unstyled">
          <li>

            <a class="wb-lbx ic-overlay ic-overlay--play" title="Video: Corporations" href="#inline_content">
                <span data-pic="data-pic" data-alt=" " data-class="img-responsive">
                    <!-- Default -->
                    <span data-src="/eic/home.nsf/images/Corporations.jpg/$file/Corporations.jpg"></span>

                    <!-- Images for browsers with CSS media query support -->
                    <span data-src="/eic/home.nsf/images/Corporations-small.jpg/$file/Corporations-small.jpg" data-media="(min-width: 0px)"></span>
                    <span data-src="/eic/home.nsf/images/Corporations.jpg/$file/Corporations.jpg" data-media="(min-width: 960px)"></span>

                    <!-- Fallback content for non-JS browsers. -->
                    <noscript><img src="/eic/home.nsf/images/Corporations.jpg/$file/Corporations.jpg" alt=""/></noscript>
                </span>

                <div class="ic-tag-line row">
                    <div class="pstn-rght-md pstn-bttm-md col-sm-12 col-md-6 mrgn-bttm-lg h2">
                        <p class="text-right opct-90 well brdr-rds-0 well-md mrgn-bttm-lg"><strong>Incorporation inspires confidence</strong></p>
                    </div>
                </div>
            </a>

            <section id="inline_content" class="mfp-hide modal-dialog modal-content overlay-def">
              <header class="modal-header">
                <h2 class="modal-title">Corporations Video</h2>
              </header>
              <div class="modal-body">
                <figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://multimedia.ic.gc.ca/icgc/Corporations.webm"}'>
                  <video poster="http://stratpre1.ic.gc.ca/eic/site/ui-icgc.nsf/vwimages/corporations-video.jpg/$file/corporations-video.jpg" title="Corporations - Incorporation inspires confidence">
                    <source type="video/webm" src="http://multimedia.ic.gc.ca/icgc/Corporations.webm" />
                    <source type="video/mp4" src="http://multimedia.ic.gc.ca/icgc/Corporations.mp4" />
                    <track kind="captions" data-type="text/ttml" src="http://stratpre1.ic.gc.ca/eic/site/ui-icgc.nsf/vwapj/Corporations.xml/$file/Corporations.xml?Open" />
                    <track src="cpts-lg-en.html" kind="captions" data-type="text/html" srclang="en" label="English" />
                  </video>
                  <figcaption>
                    <p class="mrgn-tp-md mrgn-bttm-0"><a href="07158.html">Corporations Video&nbsp;&#8211; Transcript</a></p>
                  </figcaption>
                </figure>
              </div>
            </section>
          </li>
        </ul>
      </div>
</div>
<div class="clearfix mrgn-bttm-md"></div>

<div id="ic-sub-menu" class="ic-button ic-tabs btn-group btn-group-justified hidden-xs">
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVPS", "container": "#ic-subnav-1 .ic-ajax-content"}' href="06932.html#ic-subnav-1" class="wb-toggle btn btn-info ic-subnav-1" data-toggle='{"selector": "#ic-subnav-1", "group": ".grouped", "type": "on"}'>You owe money</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVNE", "container": "#ic-subnav-2 .ic-ajax-content"}' href="06933.html#ic-subnav-2" class="wb-toggle btn btn-info ic-subnav-2" data-toggle='{"selector": "#ic-subnav-2", "group": ".grouped", "type": "on"}'>You are owed money</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHNGS", "container": "#ic-subnav-3 .ic-ajax-content"}' href="06934.html#ic-subnav-3" class="wb-toggle btn btn-info ic-subnav-3" data-toggle='{"selector": "#ic-subnav-3", "group": ".grouped", "type": "on"}'>For researchers</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVJG", "container": "#ic-subnav-4 .ic-ajax-content"}' href="07045.html#ic-subnav-4" class="wb-toggle btn btn-info ic-subnav-4" data-toggle='{"selector": "#ic-subnav-4", "group": ".grouped", "type": "on"}'>For journalists</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVLV", "container": "#ic-subnav-5 .ic-ajax-content"}' href="07046.html#ic-subnav-5" class="wb-toggle btn btn-info ic-subnav-5" data-toggle='{"selector": "#ic-subnav-5", "group": ".grouped", "type": "on"}'>For trustees</a>
</div>

<div class="ic-mobile-tabs visible-xs">
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVPS", "container": "#ic-subnav-1 .ic-ajax-content"}' href="06932.html#ic-subnav-1" class="wb-toggle btn btn-info btn-lg btn-block ic-subnav-1" data-toggle='{"selector": "#ic-subnav-1", "group": ".grouped", "type": "on"}'>You owe money</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVNE", "container": "#ic-subnav-2 .ic-ajax-content"}' href="06933.html#ic-subnav-2" class="wb-toggle btn btn-info btn-lg btn-block ic-subnav-2" data-toggle='{"selector": "#ic-subnav-2", "group": ".grouped", "type": "on"}'>You are owed money</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHNGS", "container": "#ic-subnav-3 .ic-ajax-content"}' href="06934.html#ic-subnav-3" class="wb-toggle btn btn-info btn-lg btn-block ic-subnav-3" data-toggle='{"selector": "#ic-subnav-3", "group": ".grouped", "type": "on"}'>For researchers</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVJG", "container": "#ic-subnav-4 .ic-ajax-content"}' href="07045.html#ic-subnav-4" class="wb-toggle btn btn-info btn-lg btn-block ic-subnav-4" data-toggle='{"selector": "#ic-subnav-4", "group": ".grouped", "type": "on"}'>For journalists</a>
  <a data-icAjax='{"url": "/eic/library.nsf/eng/WDES-9QHVLV", "container": "#ic-subnav-5 .ic-ajax-content"}' href="07046.html#ic-subnav-5" class="wb-toggle btn btn-info btn-lg btn-block ic-subnav-5" data-toggle='{"selector": "#ic-subnav-5", "group": ".grouped", "type": "on"}'>For trustees</a>
</div>

<div class="clearfix"></div>

<details id="you-owe-money" class="grouped col-xs-12">
    <summary class="hidden">You owe money</summary>
    <p class="ic-ajax-content">You owe money</p>
</details>

<details id="you-are-owed-money" class="grouped col-xs-12">
	<summary class="hidden">You are owed money</summary>
    <p class="ic-ajax-content">You are owed money</p>
</details>

<details id="for-researchers" class="grouped col-xs-12">
	<summary class="hidden">For researchers</summary>
    <p class="ic-ajax-content">For researchers</p>
</details>

<details id="for-journalists" class="grouped col-xs-12">
	<summary class="hidden">For journalists</summary>
    <p class="ic-ajax-content">For journalists</p>
</details>

<details id="for-trustees" class="grouped col-xs-12">
	<summary class="hidden">For trustees</summary>
    <p class="ic-ajax-content">For trustees</p>
</details>


