/* ICWEB SUB BANNER DEFAULT WET 4  */
#eic-sb .row {
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
background: url() no-repeat scroll center 0 #d9edf7;
}

#eic-subtitle {
font-family: Arial,Helvetica,sans-serif;
font-size: 2.3em;
color: #31708f;
text-decoration:none;
padding-left: 10px;
}

/* ICWEB SUB BANNER REMOVE AFTER ICWEB CONVERTS TO WET 4  */
#eic-sb .row {
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
background: url() no-repeat scroll center 0 #C3DBF2;
}
#eic-subtitle {
font-family: Arial,Helvetica,sans-serif;
font-size: 2.3em;
text-shadow: 1px 1px 1px #333333;
color: #fff;
text-decoration:none;
padding-left: 10px;
}

#wb-bar + .container {
background: url(/eic/home.nsf/images/icweb_WET_3-1_theme-gcwu-intranet-banner-source.png/$file/icweb_WET_3-1_theme-gcwu-intranet-banner-source.png) no-repeat scroll center 0 transparent;
}
