<div class="row">
!LINKS!
</div>
<ul id="gc-tctr" class="list-inline">
<li><a rel="license" href="/eic/site/icweb.nsf/eng/wp00021.html">Terms and conditions</a></li>
<li><a href="http://www.ic.gc.ca/eic/site/icgc.nsf/eng/07012.html">Transparency</a></li>
</ul>
</nav>
</div>
</footer>

<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gc-intranet/js/wet-boew.min.js"></script>
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJSCustom" --><!-- /EPIC_DYNAMIC_TAG -->
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gc-intranet/js/ie8-wet-boew2.min.js"></script>
<![endif]-->

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->

<!-- JS deps -->
<script src="/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- Webtrends for ICWeb: EPI-9018 -->
<script src="/eic/home.nsf/js/webtrends_icweb.js"></script>
<script>
(function () {
    'use strict';

     window._tag = new WebTrends();
    _tag.dcsGetId();

    _tag.dcsCustom = function () {};
    _tag.dcsCollect();
}());
</script>
<noscript>
<div><img alt="" id="DCSIMG" width="1" height="1" src="//wt-sdc.ic.gc.ca/dcsyhsi8cf0ei7oen6b0j8ywe_4w8z/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca"/></div>
</noscript>

<!-- Util JS -->
<script src="/eic/home.nsf/js/_WET_4-0_utils.min.js"></script>
<script src="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gc-intranet/js/theme.min.js"></script>
<!-- Institution JS -->
!DEFVAR1!

<!-- /EPIC_DYNAMIC_VAR -->

<!-- eic-ICWeb App | WET 4.0.22 | BOEW 4.0.22 -->
