<!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
<noscript><iframe title="Google Tag Manager" src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer1'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer1','GTM-TLGQ9K');</script>
<!-- End Google Tag Manager -->

<!-- EPI-12801 -->
<span typeof="Organization"><meta property="legalName" content="Ministere_de_l_Industrie"></span>

<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a>
</li>
</ul>
<header role="banner">
<div id="wb-bnr" class="container">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_OPT_LANGUAGE" --><!-- /EPIC_DYNAMIC_TAG -->
<div class="row">
<div class="brand col-xs-8 col-sm-9 col-md-6">
<object type="image/svg+xml" tabindex="-1" data="https://ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/assets/sig-blk-fr.svg"></object><span class="wb-inv"> Gouvernement du Canada</span>
</div>
<section class="wb-mb-links col-xs-4 col-sm-3 visible-xs" id="wb-glb-mn">
<h2>Menu</h2>
<ul class="list-inline text-right chvrn">
<li><a href="#mb-pnl" title="Menu" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Menu</span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>
</div>
</div>
<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" style="min-height:56px" data-trgt="mb-pnl" typeof="SiteNavigationElement"></nav>

