</header>
<main role="main" property="mainContentOfPage" class="container">
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
			!BODY!
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
<div class="row pagedetails">
<div class="col-xs-6 datemod">
<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
<dt>Date de modification&#160;:&#32;</dt>
<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>
</div>
<div class="col-xs-6 text-right">
<a href="http://www.canada.ca/fr/contact/retroaction.html" class="btn btn-default"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>Rétroaction<span class="wb-inv"> sur ce site Web</span></a>
</div>
</div>
</main>
<footer role="contentinfo" id="wb-info">
<nav role="navigation" class="container visible-sm visible-md visible-lg wb-navcurr">
<h2 class="wb-inv">À propos de ce site</h2>
