<div class="row">
<!--EPI-11901--> 
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APP_CONTACTINFO" -->
<section class="col-sm-2 col-lg-offset-3">
<!-- EPI-11943 -->
<h3 class="wb-inv">Contacts</h3>
<ul class="list-unstyled">
<li><a class="gl-footer" href="!DEFVAR1!">Contact information</a></li>
</ul>
</section><!-- /EPIC_DYNAMIC_TAG -->
<section class="col-sm-3 col-lg-2">
<!-- EPI-11943 -->
<h3 class="wb-inv">Terms and conditions</h3>
<ul class="list-unstyled">
<li><a href="!DEFVAR2!">Terms and conditions</a></li>
</ul>
</section>
<section class="col-sm-3 col-lg-3">
<!-- EPI-11943 -->
<h3 class="wb-inv">Privacy</h3>
<ul class="list-unstyled">
<li><a href="!DEFVAR3!">Privacy</a></li>
</ul>
</section>
</div>
</nav>
<div class="brand">
<div class="container">
<div class="row">
<div class="col-xs-6 visible-sm visible-xs tofpg">
<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div class="col-xs-6 col-md-12 text-right">
<object type="image/svg+xml" tabindex="-1" role="img" data="https://ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada"></object>
</div>
</div>
</div>
</div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="!DEFVAR9!/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="!DEFVAR9!/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="!DEFVAR9!/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/js/theme.min.js"></script>

<!-- EPI-10519 -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_JQUERY_CORE" --><!-- /EPIC_DYNAMIC_TAG -->
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_APPJS" --> <!-- /EPIC_DYNAMIC_TAG -->

<!-- EPI-11190 - Webtrends -->
<script src="!DEFVAR9!/eic/home.nsf/js/webtrends.js"></script>
<script>var endTime = new Date();</script>
<noscript>
<div><img alt="" id="DCSIMG" width="1" height="1" src="//wt-sdc.ic.gc.ca/dcs6v67hwe0ei7wsv8g9fv50d_3k6i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca"/></div>
</noscript>
<!-- /Webtrends -->

<!-- JS deps -->
<script src="!DEFVAR9!/eic/home.nsf/js/jquery.imagesloaded.js"></script>

<!-- EPI-11262 - Util JS -->
<script src="!DEFVAR9!/eic/home.nsf/js/_WET_4-0_utils_canada.min.js"></script>

<!-- EPI-11318 -->
<script src="!DEFVAR9!/eic/home.nsf/js/jQuery.externalOpensInNewWindow.js"></script>

<!-- EPI-11383 -->
<script src="!DEFVAR9!/eic/home.nsf/js/jQuery.icValidationErrors.js"></script>

<!-- /EPIC_DYNAMIC_VAR -->

<!-- Canada_Transactional_Apps | WET 4.0.22 | BOEW 4.0.22 -->
