/*
 * Archived template banner
 *
 * Introduced in v4.0.23 of the GCWeb theme:
 * https://github.com/wet-boew/GCWeb/commit/d3a6f3d91b8571518c23cd057707d106749706ab
 *
 * TODO: Remove once we upgrade to v4.0.23+
 */

.gc-archv {
    background-color: #ffd700 !important;
    padding: 25px 50px;

    h2 {
        margin-top: 0;
    }

    .mfp-close.overlay-close {
        color: #000;
    }
}

/**
 * If JavaScript is disabled, the archived notice is located in the content area
 * after the <h1>. The following styles tweak the appearance in that context.
 */

.no-js main #eic-archived {
    box-shadow: none; /* Remove shadow since it's not on top of other elements */
    margin-bottom: 15px;

    .container {
        width: auto; /* Resize to content area */
    }
}
