/* Hide epic calendar */
.eiccal {
    display: none !important;
    visibility: hidden !important;
}

/* Hide epic Previous next */
.eic-prenex {
    display: none !important;
    visibility: hidden !important;
}

/* Hide epic Interactive toolbar */
.eic-itb {
    display: none !important;
    visibility: hidden !important;
}

/**
* EPI-13191: Temp fix for left nav colours.
* Todo: Remove once WET update corrects issue (4.0.26?).
**/

#wb-sec .list-group a.list-group-item {
    background-color: #e6e6e6;
}

#wb-sec .list-group .list-group a.list-group-item {
    background-color: #fff;
}

#wb-sec .eic-ln-li-xpndd .list-group a.list-group-item {
    background-color: #e6e6e6;
}

#wb-sec .eic-ln-a-sltd {
    background-color: #243850 !important;
    color: #fff !important;
}

#wb-sec h3 {
    background: #fff;
}
