/**
 * IC Banner (formerly known as IC Arc Banner)
 *
 * HTML:
 *  <div class="ic-banner bg-primary">
 *    <div>
 *      <img src="http://ic.gc.ca/eic/site/icgc.nsf/vwimages/Weights_Measure_3.jpg/$file/Weights_Measure_3.jpg" alt="Photo of person pumping gas">
 *    </div>
 *    <div>
 *      <h3>Hello, world!</h3>
 *      <p class="lead">This is a small blurb about the content in this database.</p>
 *      <a class="btn btn-info btn-lg" role="button">I am a button!</a>
 *    </div>
 *  </div>
 *
 * Refs:
 *  EPI-10590
 */

.ic-banner {
    margin-bottom: 15px;
    overflow: hidden;

    > div {
        float: right;
        padding: 0 20px 0 30px;
        width: 50%;

        &:first-child {
            padding: 0;
            text-align: right;
        }

    }

    img {
        height: 100%;
        padding: 0;
    }
}

/* xsmallview and lower */
@media screen and (max-width: 766px) {
    .ic-banner {
        > div {
            float: none;
            padding-bottom: 30px;
            width: auto;

            &:first-child {
                padding-bottom: 0;
            }
        }

        img {
            height: auto;
            width: 100%;
        }
    }
}
