/**
 * Animated details/summary element/polyfill
 *
 * HTML:
 *  <details class="ic-details well">
 *      <summary>Test</summary>
 *      <div>
 *          <p>Content</p>
 *      </div>
 *  </details>
 *
 * JS:
 *  details.js
 *
 * Refs:
 *  EPI-10332
 */

.ic-details {
    padding: 13px 13px 3px !important;

    > div {
        display: none;
    }

    details {
        border: 0;

        &:not([open]) {
            visibility: visible;
        }
    }

    summary {
        border: 0 !important;
        color: #000;
        font-size: 20px;
        margin-bottom: 10px !important;
        padding: 0;

        &:focus,
        &:hover {
            background-color: transparent;
            color: #31708f;
            text-decoration: none;
        }
    }
}
