/**
 * IC Dismissible
 *
 * Dismissible containers have a "close" button that makes the container disappear
 * and sets a cookie so it stays invisible when re-visiting the page.
 *
 * data-* attributes are optional and default to:
 *  - data-cname: "outage"
 *  - data-expires: next Wednesday
 *
 * HTML:
 *  <div class="js-ic-dismissible" data-cname="cookie-name" data-expires="1970-01-01">
 *    Content
 *  </div>
 *
 * JS:
 *  dismissible.js
 *
 * Refs:
 *  ICGCWEB-160
 *  EPI-10320
 *  EPI-10705
 */

.ic_info,
.ic_warning {
    position: relative;
}

.ic-close {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6px;
    top: 6px;

    &:hover,
    &:focus {
        color: #06a;
    }
}

.js-ic-dismissible {
    display: none;
}
