/**
 * Feedback panel
 *
 * Panel sitting at the bottom right of the screen in the "Configuration"
 * section of the IC Sub Sites Master template.
 *
 * JS:
 *  feedback.js
 *  feature-detection.js (for .canvas)
 *
 * Refs:
 *  EPI-9354
 *  EPI-10637
 */

/* Mobile (.smallview and .xsmallview) */
@media screen and (max-width: 991px) {
    .ic-fdbck-wrap {
        padding-bottom: 50px;

        .ic-fdbck {
            bottom: 0 !important;
            position: absolute !important;
            right: 0;

            .ic-fdbck-icn {
                bottom: 0;
                position: absolute;
                right: 4px;
            }

            .fdbck-frm {
                float: right;
                margin-right: 65px;
                position: relative;
            }

            .ic-fdbck-cntnt {
                position: relative;
            }

            .ic-fdbck-pntr {
                bottom: 17px;
                right: -10px;
            }
        }
    }
}

.ic-fdbck-wrap {
    position: relative;
}

.canvas .ic-fdbck #attachment {
    display: none;
}

.no-canvas .ic-fdbck {
    #screenshot,
    [for="screenshot"] {
        display: none;
    }
}

.ic-fdbck {
    bottom: 15px;
    font-family: Arial;
    position: fixed;
    right: 25px;
    z-index: 1040;

    [for="screenshot"] {
        display: inline;
        font-size: 14px;
    }

    .ic-fdbck-icn {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-speaker-2-24-back-DG.png/$file/ic_WET_4-0_fdbck-speaker-2-24-back-DG.png") no-repeat;
        bottom: 12px;
        display: block;
        padding: 43px 0 0 50px;
        position: absolute;
        right: -4px;

        &:hover {
            background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-speaker-2-24-back-black.png/$file/ic_WET_4-0_fdbck-speaker-2-24-back-black.png") no-repeat;
        }
    }

    .ic-fdbck-x-btn {
        background: none;
        border: 0;
        padding-right: 1px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .ic-fdbck-hlpnw {
        color: #666;
        font-size: 14px;
        position: relative;
        top: 5px;
    }

    .ic-fdbck-pnl {
        display: none;
        padding: 30px 15px 10px;
    }

    .ic-fdbck-pnl__ttl {
        color: #666;
        display: block;
        font-size: 155%;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 0;
        min-height: 27px;
        padding-bottom: 13px;
        padding-top: 5px;
        position: relative;
    }

    .ic-fdbck-pnl--frst {
        display: block;
        padding-top: 20px;
        position: relative;
    }

    .ic-fdbck-pnl--thnks {
        background-position: 30px 27px;
        background-repeat: no-repeat;
        padding: 25px 30px 24px 78px;
    }

    form {
        display: none;
        margin-right: 65px;
    }

    input[type="submit"] {
        background: none #ccc;
        box-shadow: 2px 2px 0 0 #e6e6e6;
        display: block;
        margin: 0 auto;
        width: 100%;

        &:hover,
        &:focus {
            background-color: #ddd;
        }
    }

    .ic-fdbck-cntnt {
        background: #eee;
        border: 1px solid #d7d7d7;
        box-shadow: 2px 2px 0 0 #e6e6e6;
        width: 280px;
    }

    .ic-fdbck-btn {
        box-shadow: 2px 2px 0 0 #ccc;
        color: #333 !important;
        display: block;
        font-size: 18px;
        height: 53px;
        margin-bottom: 10px;
        padding: 15px 0 0 76px;
        text-decoration: none;
        width: 250px;
    }

    .ic-fdbck-btn--idea {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-idea.png/$file/ic_WET_4-0_fdbck-idea.png") no-repeat;
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-idea.png/$file/ic_WET_4-0_fdbck-idea.png") no-repeat, linear-gradient(#f4f4f4, #fff);

        &:hover,
        &:focus {
            background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-idea.png/$file/ic_WET_4-0_fdbck-idea.png") no-repeat #fff;
        }
    }

    .ic-fdbck-btn--prblm {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-problem.png/$file/ic_WET_4-0_fdbck-problem.png") no-repeat;
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-problem.png/$file/ic_WET_4-0_fdbck-problem.png") no-repeat, linear-gradient(#f4f4f4, #fff);

        &:hover,
        &:focus {
            background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-problem.png/$file/ic_WET_4-0_fdbck-problem.png") no-repeat #fff;
        }
    }

    .ic-fdbck-btn--mssng {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-missing1.png/$file/ic_WET_4-0_fdbck-missing1.png") no-repeat;
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-missing1.png/$file/ic_WET_4-0_fdbck-missing1.png") no-repeat, linear-gradient(#f4f4f4, #fff);

        &:hover,
        &:focus {
            background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-missing1.png/$file/ic_WET_4-0_fdbck-missing1.png") no-repeat #fff;
        }
    }

    .ic-fdbck-btn--brkn {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-broken1.png/$file/ic_WET_4-0_fdbck-broken1.png") no-repeat;
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-broken1.png/$file/ic_WET_4-0_fdbck-broken1.png") no-repeat, linear-gradient(#f4f4f4, #fff);

        &:hover,
        &:focus {
            background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-broken1.png/$file/ic_WET_4-0_fdbck-broken1.png") no-repeat #fff;
        }
    }

    #idea label {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-idea2.png/$file/ic_WET_4-0_fdbck-idea2.png") no-repeat scroll 100% -10% transparent;
    }

    label[for="prblm"],
    label[htmlFor="prblm"] {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-broken2.png/$file/ic_WET_4-0_fdbck-broken2.png") no-repeat scroll 100% -30% transparent;
    }

    label[for="missingincorrect"],
    label[htmlFor="missingincorrect"] {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-missing2.png/$file/ic_WET_4-0_fdbck-missing2.png") no-repeat scroll 100% -20% transparent;
        padding-top: 5px;
    }

    textarea {
        border: 1px solid #ccc;
        min-height: 110px;
        padding: 5px;
        width: 100%;
    }

    #broken textarea {
        min-height: 75px;
    }

    .ic-fdbck-rslt {
        position: relative;

        button {
            background: none;
            border: 0;
            color: #06a;
            cursor: pointer;
            font-size: 14px;
            overflow: visible; /* IE7 */
            padding: 0;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: #036;
            }
        }
    }

    .ic-fdbck-pntr {
        bottom: 30px;
        position: absolute;
        right: 55px;
    }

    .ic-error {
        display: none;
    }

    .ic-fdbck-attch {
        vertical-align: top;
    }

    /* Back link: EPI-9587 */
    a.ic-fdbck-bck {
        background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-xsmall-back-DG.png/$file/ic_WET_4-0_fdbck-xsmall-back-DG.png") left center no-repeat;
        color: #999;
        font-size: 70%;
        left: 6px;
        padding-left: 10px;
        position: absolute;
        text-transform: uppercase;
        top: 6px;

        &:hover,
        &:focus {
            background: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-xsmall-back-LB.png/$file/ic_WET_4-0_fdbck-xsmall-back-LB.png") left center no-repeat;
            color: #06a;
        }
    }

    .thanks--idea {
        background-image: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-idea3.png/$file/ic_WET_4-0_fdbck-idea3.png");
    }

    .thanks--mssng {
        background-image: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-missing3.png/$file/ic_WET_4-0_fdbck-missing3.png");
    }

    .thanks--brkn {
        background-image: url("/eic/home.nsf/images/ic_WET_4-0_fdbck-broken3.png/$file/ic_WET_4-0_fdbck-broken3.png");
    }

    #loading {
        background: none;
        padding: 0;
    }
}

html[lang="fr"] .ic-fdbck {
    .ic-fdbck-btn--prblm {
        padding-bottom: 10px;
        padding-top: 1px;
    }

    #problem .button {
        padding-left: 71px;
        padding-right: 5px;
    }

    label[for="missingincorrect"],
    label[htmlFor="missingincorrect"] {
        background-position: 100% 0;
    }
}

/* ICGCWEB-900 */
@media print {
    .ic-fdbck {
        display: none !important;
    }
}
