/**
 * Landing page top navigation (next to the breadcrumbs)
 *
 * Note: The following CSS must appear in the <head> of the landing page:
 *  #wb-cont {position: relative;}
 *  .ic-cont {display: none;}
 *
 * HTML:
 *  <ol class="ic-lp-tp-nv visible-md visible-lg">
 *      <li><a href="http://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/home">Corporations Canada</a></li>
 *      <li><a href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/hm.html?locale=en_CA">Online Filing</a></li>
 *      <li><a href="http://www.ic.gc.ca/eic/site/693.nsf/eng/h_00003.html">Corporate Law Policy</a></li>
 *  </ol>
 *
 * Refs:
 *  EPI-10521
 */

.ic-lp-tp-nv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -31px;

    li {
        float: left;
        padding: 0 6px;

    }
}

/**
 * Overlap the template's and col-* container left/right whitespace
 *
 * Note: The left/right value -30px comes from:
 *         The <main>'s left/right 15px padding
 *         The <section class="col-xs-12">'s left/right 15px padding (content markup)
 *       The -23px comes from the breadcrumbs's margin-bottom: 23px;
 *
 * HTML:
 *  <div class="ic-lp-wrapper">
 *      <section class="col-xs-12">
 *         <div>Full-width content</div>
 *      </section>
 *  </div>
 */

.ic-lp-wrapper {
    margin: 0 -30px;
}
