/**
 * Adds an overlay over container on hover/focus
 *
 * HTML:
 *  <div class="ic-overlay"><p>Some content</p></div>
 *  <div class="ic-overlay ic-overlay--dark">Some content</div>
 *
 * JS:
 *  overlays.js
 *
 * Refs:
 *  EPI-9682
 *  EPI-10330
 *  EPI-10516
 */

.ic-overlay {
    display: block;
    position: relative;

    .wb-pic-inited .img-responsive {
        width: 100%;
    }
}

.js-ic-overlay {
    background: no-repeat center center rgba(255, 255, 255, 0.5);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.6s; /* 0.6s is jQuery "slow" */
}

.ic-overlay--play .js-ic-overlay {
    background-image: url("/eic/site/icgc.nsf/vwimages/play_button.png/$file/play_button.png");
}

.js-ic-overlay--dark:hover,
.ic-overlay--dark:focus .js-ic-overlay {
    opacity: 0.15;
}

.js-ic-overlay:hover,
.ic-overlay:focus .js-ic-overlay {
    opacity: 1;
}

.xxsmallview .js-ic-overlay,
.xsmallview .js-ic-overlay,
.smallview .js-ic-overlay {
    display: none;
}
