/**
 * Mimic WET pagination styles on google pagination
 *
 * Refs:
 *  EPI-10537
 */

.gsc-results .gsc-cursor-box {
    text-align: center;

    .gsc-cursor {
        .gsc-cursor-page {
            background-color: #eaebed;
            border: 1px solid #dcdee1;
            color: #335075;
            cursor: pointer;
            display: inline-block;
            line-height: 1.4375;
            margin: 0 0 0 -1px;
            padding: 10px 16px;
            position: relative;
            text-decoration: none;

            &:hover,
            &:focus {
                background-color: #d4d6da;
                border-color: #bbbfc5;
                color: #335075;
            }
        }

        .gsc-cursor-current-page {
            &,
            &:hover,
            &:focus {
                background-color: #2572b4;
                border-color: #2572b4;
                color: #fff;
                cursor: default;
            }
        }
    }
}

.gsc-cursor-page {
    &:first-child {
        border-radius: 4px 0 0 4px;
    }

    &:last-child {
        border-radius: 0 4px 4px 0;
    }
}

.gsc-cursor {
    display: inline-block;
    margin: 23px 0;
    padding-left: 0;
}
