/**
 * <select> that directs visitors to another page on submit
 *
 * This doesn't work without JS so the form should be hidden by default
 * and made visible when JS is enabled. A fallback <noscript> with a list
 * of links should appear after the form.
 *
 * HTML:
 *  <form class="ic-jump-menu">
 *    <select>
 *      <option value="http://example.org">Option 1</option>
 *      <option value="http://example.com">Option 2</option>
 *    </select>
 *    <input type="submit">
 *  </form>
 *  <noscript>
 *    <ul>
 *      <li><a href="http://example.org">Option1</a></li>
 *      <li><a href="http://example.org">Option1</a></li>
 *    </ul>
 *  </noscript>
 *
 * JS:
 *  select.js
 *
 * Refs:
 *  EPI-10676
 */

.ic-jump-menu {
    display: none;
}

.js .ic-jump-menu {
    display: block;
}

/**
 * <select> that shows/hides content
 *
 * This doesn't work without JS so the form should be hidden by default
 * and made visible when JS is enabled.
 *
 * HTML:
 *  <select id="consumercontrol" class="ic-show-menu">
 *    <option selected="selected">Select</option>
 *    <option>Option 1</option>
 *    <option>Option 2</option>
 *  </select>
 *
 *  <div class="consumercontrol-2">
 *    <p>Content for "Option 1"</p>
 *  </div>
 *
 *  <div class="consumercontrol-3">
 *    <p>Content for "Option 2"</p>
 *  </div>
 *
 * JS:
 *  select.js
 *
 * Refs:
 *  EPI-10676
 */

.ic-show-menu {
    display: none;
}

.js .ic-show-menu {
    display: block;
}
