/**
 * Tabbed anchor menu
 *
 * IC styles on top of WET tabs plugin
 *
 * Refs:
 *  EPI-10732
 *  https://wet-boew.github.io/wet-boew/docs/ref/tabs/tabs-en.html
 */

.ic-ss-tabs {
    border-top: 0;

    > {
        .tabpanels > details,
        details {
            border: 0;
        }
    }

    [role="tablist"] {
        border-collapse: separate;
        display: table;
        margin-bottom: 12px;
        table-layout: fixed;
        vertical-align: middle;
        width: 100%;

        li {
            background: #4d4d4d;
            border: 1px solid #1a1a1a;
            border-style: outset;
            display: table-cell;
            height: 85px;

            &.active,
            &:hover,
            &:focus {
                background: #343434;
                border-color: #000;
            }

            &.active {
                &::after {
                    border: solid transparent;
                    border-color: rgba(52, 52, 52, 0);
                    border-top-color: #343434;
                    border-width: 12px;
                    content: " ";
                    height: 0;
                    left: 50%;
                    margin-left: -12px;
                    pointer-events: none;
                    position: absolute;
                    top: 100%;
                    width: 0;
                }

                a {
                    border: 0;
                }
            }

            &:first-child {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            &:last-child {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            a {
                color: #fff;
                display: table-cell;
                height: 85px;
                vertical-align: middle;
                width: 1%;
            }

            + li {
                margin-left: -1px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .ic-ss-tabs > .tabpanels > details {
        margin-top: 5px;
    }

    .ic-ss-tabs > .tabpanels > details[open] > summary {
        margin-bottom: 5px;
    }

    .ic-ss-tabs > .tabpanels > details > summary {
        background: #4d4d4d;
        border: #1a1a1a;
        border-radius: 6px;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }

    .ic-ss-tabs > .tabpanels > details > summary:hover,
    .ic-ss-tabs > .tabpanels > details > summary:focus {
        background: #343434;
    }

    .ic-ss-tabs > .tabpanels > details > summary::before,
    .ic-ss-tabs > .tabpanels > details[open] > summary::before {
        content: "" !important;
    }
}
