/**
 * IC Subbanner
 *
 * Note: the EPIC generated subbaner has an additional .eic-subbanner class
 *  on it. .eic-subbanner doesn't have any styles associated with it;
 *  it is a way to target (e.g.: hide) the generated subbanner but not other
 *  ".ic-subbanner"s that might appear on the page.
 *
 * HTML:
 *  <p class="ic-subbanner h1">About us</p>
 *
 * JS:
 *  subbanner.js
 *
 * Refs:
 *  EPI-10538
 */

.ic-subbanner,
.eic-subbanner {
    background: url("/eic/home.nsf/images/subsite-back.jpg/$file/subsite-back.jpg") bottom left repeat-x;
    color: #306188;
    display: none;
    margin: 0 -15px 10px;
    padding: 10px;

    a {
        color: #306188;
        text-decoration: none;

        &:visited,
        &:hover,
        &:focus {
            color: #306188;
            text-decoration: underline;
        }

        &:visited {
            text-decoration: none;
        }
    }
}

.eic-subbanner {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

/* EPI-10928 */
.smallview .eic-subbanner,
.xsmallview .eic-subbanner,
.xxsmallview .eic-subbanner {
    margin-top: 0;
}


/* EPI-11165 */
@media print {
    a[href]::after {
        font-size: 12pt;
        font-weight: normal;
        text-decoration: underline;
    }

    .breadcrumb {
        line-height: 1.9em;
    }
}
