/**
 * Arrows on active tab
 *
 * http://cssarrowplease.com/
 *
 * JS:
 *  tabs.js
 *
 * Refs:
 *  EPI-10527
 */

.ic-tab--active {
    background-color: #343434;
}

.ic-tab--active::after {
    border: solid transparent;
    border-color: rgba(52, 52, 52, 0);
    border-top-color: #343434;
    border-width: 12px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -12px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}

/* IE10 doesn't calculate the height properly when .ic-tab--active
   is used under .btn-group-justified */
.btn-group-justified .ic-tab--active::after {
    bottom: -24px;
    top: auto;
}
