/**
 * Add whitespace below "archived" box
 *
 * Refs:
 *  EPI-10703
 */
#archived {
    margin-bottom: 15px;
}

/**
 * Old browser upgrade banner
 *
 * Refs:
 *  EPI-10940
 */

.ic-oldie {
    display: none;
}

.lt-ie9 .ic-oldie {
    background: #fff;
    color: #c00;
    display: block;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
