/**
 * Overwrite .wb-eqht's vertical-align
 *
 * .wb-eqht's value for vertical-align is "top".
 * This class overwrites it to "middle".
 *
 * HTML:
 *  <div class="wb-eqht ic-eqht-mdl">
 *      <a href="#" type="button" class="btn btn-info pdng-menu-2-lg">Text<br />on two lines</a>
 *      <a href="#" type="button" class="btn btn-info pdng-menu-2-lg">Text</a>
 *      <a href="#" type="button" class="btn btn-info pdng-menu-2-lg">Text</a>
 *  </div>
 *
 * Refs:
 *  EPI-10518
 */

.ic-eqht-mdl > * {
    vertical-align: middle !important;
}

/**
 * Hide the text on play/pause button (WET carousel)
 *
 * For medium view and smaller
 *
 * Refs:
 *  EPI-10533
 */

.xxsmallview .ic-hide-plyps-txt .plypause :nth-child(2),
.xsmallview .ic-hide-plyps-txt .plypause :nth-child(2),
.smallview .ic-hide-plyps-txt .plypause :nth-child(2),
.mediumview .ic-hide-plyps-txt .plypause :nth-child(2) {
    display: none;
}

/**
 * IC Button
 *
 * A larger sized WET button
 *
 * HTML:
 *  <div class="col-md-4 ic-button">
 *    <a class="btn btn-info ">[...]</a>
 *  </div>
 *
 * Refs:
 *  EPI-10562
 */

div.ic-button {
    display: table;
    min-height: 0;
    table-layout: fixed;

    .btn {
        display: table-cell;
        height: 85px;
    }
}

/* <button class="btn btn-info col-md-4 ic-button">[...]</button> */
.ic-button {
    min-height: 85px;
}

/**
 * Image of a line, used as placeholder to indicate where to write once printed
 *
 * Ported from v2.3
 *
 * HTML:
 *  <img width="200" class="ic-line" title="space to insert full name"
 *    alt="space to insert full name" src="/eic/library.nsf/vwimages/line-ligne.gif/$file/line-ligne.gif">
 *
 * Refs:
 *  EPI-10596
 */

.ic-line {
    height: 11px;
    vertical-align: bottom;
}

/**
 * Hanging Indent and Indent Classes
 *
 * Refs:
 *  EPI-9419
 *  EPI-10643
 */

.hang1 {
    padding-left: .75em !important;
    text-indent: -.75em;
}

.hang2 {
    padding-left: 1em !important;
    text-indent: -1em;
}

.hang3 {
    padding-left: 1.25em !important;
    text-indent: -1.25em;
}

.hang4 {
    padding-left: 1.5em !important;
    text-indent: -1.5em;
}

.hang5 {
    padding-left: 1.75em !important;
    text-indent: -1.75em;
}

.hang6 {
    padding-left: 2em !important;
    text-indent: -2em;
}

.hang7 {
    padding-left: 2.5em !important;
    text-indent: -2.5em;
}

.hang8 {
    padding-left: 3em !important;
    text-indent: -3em;
}

.hang9 {
    padding-left: 3.5em !important;
    text-indent: -3.5em;
}

.hang10 {
    padding-left: 4em !important;
    text-indent: -4em;
}

.indent1 {
    padding-left: 18px !important;
}

.indent2 {
    padding-left: 36px !important;
}

.indent3 {
    padding-left: 54px !important;
}

.indent4 {
    padding-left: 72px !important;
}

.indent5 {
    padding-left: 90px !important;
}

.indent-none {
    margin-left: 0 !important;
}

.indent-small {
    margin-left: 2px !important;
}

.indent-medium {
    margin-left: 10px !important;
}

.indent-large {
    margin-left: 20px !important;
}

.indent-xlarge {
    margin-left: 50px !important;
}

/**
 * Text styles
 *
 * Refs:
 *  EPI-10733
 */

.italic {
    font-style: italic;
}

.normal {
    font-style: normal !important;
    font-weight: normal !important;
}

.bold {
    font-weight: bold;
}

/**
 * Bibliography
 *
 * Refs:
 *  EPI-10731
 */

ul.bibliography {
    font-weight: normal;
    list-style-type: none;
    text-indent: -38px;

    li {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

/**
 * "Invisible" class for Related Questions
 *
 * Refs:
 *  EPI-10734
 *  /eic/site/043.nsf/eng/00016.html#ginvisible
 */

.g-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    margin: 0 !important;
    overflow: hidden !important;
    position: absolute;
    width: 1px !important;
}

/**
 * More classes from v2.3
 *
 * Refs:
 *  EPI-10760
 */

.mandatory {
    background-color: transparent;
    color: #c30307;
    font-weight: bold;
}

dl.contactDefList dt {
    float: left;
    margin-right: 5px;
}

ul.noBullet,
ol.noBullet {
    list-style-type: none;
}

ul.noIndent {
    margin-left: 8px;
    padding-left: 9px;
}

ol.noIndent {
    margin-left: 8px;
    padding-left: 18px;
}
