<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
<h2 class="wb-inv">Vous êtes ici :</h2>
<div class="container">
<div class="row">
<ol class="breadcrumb">
!BREADCRUMB!
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_BREADCRUMB" --><!-- /EPIC_DYNAMIC_TAG -->
</ol>
</div>
</div>
</nav>
</header>
<main role="main" property="mainContentOfPage" class="container">
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_BODY" -->
			!BODY!
<!-- /EPIC_DYNAMIC_VAR -->
<!-- EPIC_DYNAMIC_VAR NAME="EPIC_FOOTER" -->
<div class="row pagedetails">
<div class="col-sm-5 col-xs-12 datemod">
<dl id="wb-dtmd">
<!-- EPIC_DYNAMIC_TAG KEY="EPIC_DATE" -->
<dt>Date de modification&#160;:&#32;</dt>
<dd><time property="dateModified">!DATEM!</time></dd>
<!-- /EPIC_DYNAMIC_TAG -->
</dl>
</div>
<div class="clear visible-xs"></div>
<div class="col-sm-4 col-xs-6">
</div>
<div class="col-sm-3 col-xs-6 text-right">
</div>
<div class="clear visible-xs"></div>
</div>
</main>
<footer role="contentinfo" id="wb-info">
<nav role="navigation" class="container wb-navcurr">
<h2 class="wb-inv">Au sujet du gouvernement</h2>
