/**
 * EIC Previous Next
 *
 * Refs:
 *  EPI-10683
 *  http://icweb.ic.gc.ca/eic/site/er-rs.nsf/eng/00995.html
 */

div.clearfix + h1 {
    margin-top: 0;
}

.eic-prenex {
    margin-left: 10px;

    .glyphicon,
    .eic-icon {
        top: 0;
    }

    .btn {
        border: 1px solid #dcdee1;
    }

    .eic-icon {
        font-family: "eic-icon";
        font-style: normal;
        font-weight: normal;
        line-height: 1em; /* fix buttons height, for twitter bootstrap */
        margin-left: .2em;
        margin-right: .2em;
        speak: none;
        text-align: center;
        vertical-align: middle;
        width: 1em;
    }
}

@media print {
    .eic-prenex {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
