/**
 * Interactive Toolbar
 *
 * Most of the styles/JS/markup come from WET's "Lightbox"[1]
 * and "Share widget"[2] features
 *
 * JS:
 *  itb.js
 *
 * Refs:
 *  EPI-10555
 *  http://icweb.ic.gc.ca/eic/site/er-rs.nsf/eng/00884.html#Toolbar
 *  [1] https://wet-boew.github.io/wet-boew/docs/ref/lightbox/lightbox-en.html
 *  [2] https://wet-boew.github.io/wet-boew/docs/ref/share/share-en.html
 */

/* Overwrite WET whitespace */
#eic-itb-share {
    /* Fix content floating next to legend in IE 11 */
    legend {
        float: none;
    }

    .shr-lnk::before {
        display: none;
    }
}

.eic-itb {
    margin-bottom: 0;
    margin-top: 25px;
}

/* "More" social media page */
.eic-itb-more {
    &.shr-pg .shr-lnk::before {
        display: none;
    }

    .shr-lnk img {
        margin-right: 8px;
    }
}
