/**
 * Remove margin-top from #wb-cont, and place it on .ic-cont instead
 *
 * This is required because our id="wb-cont" is on <main> instead of on <h1>.
 * We can't place it on the <h1>, because EPIC forms are not pulling the <h1>
 * from the Config Master Template.
 *
 * Refs:
 *  EPI-9808
 */

#wb-cont {
    margin-top: 0;
}

/**
 * Fix EPIC generated link titles in footer to closer align with WET look
 *
 * This is required because EPIC generates links on footer headers, while the
 * WET template doesn't. We change the color of those links to black so it
 * visually matches the vanilla template.
 */

#wb-info h3 a:link,
#wb-info h3 a:hover,
#wb-info h3 a:focus,
#wb-info h3 a:active,
#wb-info h3 a:visited {
    color: #000;
}

/**
 * EPIC generated page ID
 *
 * A unique page number to help IC support team identify where the client is on
 * the site during a support request.
 *
 * Refs:
 *  EPI-8653
 */

#wb-info .page-id {
    color: #666;
    float: right;
    font-size: 65% !important;
    margin: 0 0 -8px;
    text-align: right;
    width: 140px;
}

#wb-sm {
    /**
     * Fix megamenu alignment when zoomed in Firefox/IE10
     *
     * Refs:
     *  EPI-10850
     *  https://github.com/wet-boew/theme-gcwu-fegc/issues/189
     */

    margin-top: 0;

    /* EPIC 3 levels of Navigation (folder hierarchy) in the WET Mega menu */
    ul ul ul a {
        padding: 7px 0 7px 21px;
    }
}

/* EPIC 3 levels of Navigation (folder hierarchy) in the WET Secondary nav */

#wb-sec .list-group .list-group .list-group .list-group-item {
    padding-left: 2.8em;
}

/**
 * Fix forms floating outside the template
 *
 * Since 4.0.14, <legend>s are now floating, which causes problems with some
 * of our existing forms. Removing the float hides the top-border of <fieldset>
 * so instead we clear floats to push <legend> down.
 *
 * Refs:
 *  EPI-11408
 *  EPI-11419
 *  https://github.com/wet-boew/wet-boew/commit/42a76b1bffa30b3103542892b23f4cbf6ca5d14a
 */

fieldset {
    clear: both;
}
