		<ul id="wb-tphp">
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
			</li>

			<li class="wb-slc visible-sm visible-md visible-lg">
				<a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a>
			</li>


            <li class="wb-slc visible-md visible-lg">
				<a class="wb-sl" href="#wb-sec">Passer au menu secondaire</a>
			</li>

		</ul>
		<header role="banner">
			<div id="wb-bnr">
				<div id="wb-bar">
					<div class="container">
						<div class="row">

<object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gcwu-fegc/assets/sig-fr.svg" aria-label="Gouvernement du Canada"></object>
<ul id="gc-bar" class="list-inline">

	<li><a href="http://www.canada.ca/fr/index.html" rel="external">Canada.ca</a></li>
	<li><a href="http://www.canada.ca/fr/services/index.html" rel="external">Services</a></li>
	<li><a href="http://www.canada.ca/fr/gouv/min/index.html" rel="external">Ministères</a></li>


	<li id="wb-lng"><h2>Sélection de la langue</h2>
	<ul class="list-inline">


		<li><!-- EPIC_DYNAMIC_TAG KEY="EPIC_LANGUAGE" --><a href="!LANG.SWAP!" title="English - English version of this page" lang="en">English</a><!-- /EPIC_DYNAMIC_TAG --></li>

	</ul>
</li>

</ul>

							<section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
								<h2>Recherche et menus</h2>
								<ul class="pnl-btn list-inline text-right">
	<li><a href="#mb-pnl" title="Recherche et menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Recherche et menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>

							</section>

						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div id="wb-sttl" class="col-md-5">
							<a href="!DEFVAR2!">
	<span>!DEFVAR1!</span>
</a>

						</div>
						<object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="/utils/scripts/_WET_4-0/apps/themes-dist/theme-gcwu-fegc/assets/wmms.svg" aria-label="Symbole du gouvernement du Canada"></object>

<!-- EPIC_DYNAMIC_TAG KEY="EPIC_SITESEARCH" -->
						<section id="wb-srch" class="visible-md visible-lg">
							<h2>Recherche</h2>
							<form action="/app/cmmn/srch/vSearch" method="get" role="search" class="form-inline">

	<div class="form-group">
		<label for="wb-srch-q">Recherchez le site Web</label>
		<input id="wb-srch-q" class="form-control" name="V_FULLTEXT.value" type="search" value="" size="27" maxlength="150" />
		<input type="hidden" name="V_CUSTOM.EPIC_DATE" value="Date de modification : 2014-12-12" />
        <input type="hidden" name="V_CUSTOM.EPIC_LANGUAGE_TEXT" value="English" />
        <input type="hidden" name="V_CUSTOM.EPIC_LANGUAGE_URL" value="http://ic.gc.ca/eic/site/!DEFVAR4!/eng/search.html" />
        <input type="hidden" name="V_CUSTOM.EPIC_TITLE" value="!DEFVAR1!" />
        <input type="hidden" name="V_FULLTEXT.conceptOperator" value="ACCRUE" />
        <input type="hidden" name="V_FULLTEXT.evidenceOperator" value="STEM" />
        <input type="hidden" name="V_SEARCH.collection" value="ic-interhu-epic-1u" />
        <input type="hidden" name="V_SEARCH.locale" value="fr_CA" />
        <input type="hidden" name="V_SEARCH.maxDocCount" value="50" />
        <input type="hidden" name="V_SEARCH.productCode" value="!DEFVAR3!" />
        <input type="hidden" name="V_SEARCH.resultsJSP" value="/jsp/vSearch/results/default2.jsp" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.date.modified" />
        <input type="hidden" name="V_SEARCH.returnedField" value="VDKSUMMARY" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.title" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.subject" />
        <input type="hidden" name="V_SEARCH.returnedField" value="dc.description" />
        <input type="hidden" name="V_SEARCH.sortSpec" value="score desc" />
        <input type="hidden" name="V_SEARCH.template" value="http://stratnotes.ic.gc.ca/eic/site/!DEFVAR4!/fra/recherche.html" />
        <input type="hidden" name="V_SEARCH.templateBase" value="http://ic.gc.ca/eic/site/!DEFVAR4!/fra/" />
        <input type="hidden" name="V_SEARCH.templateType" value="epic" />
	</div>

	<button type="submit" id="wb-srch-sub" class="btn btn-default">Recherche</button>

</form>

						</section><!-- /EPIC_DYNAMIC_TAG -->

					</div>
				</div>
			</div>

			<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
                <div class="pnl-strt container visible-md visible-lg nvbar">
                    <h2>Menu des sujets</h2>
                    <div class="row">
                        <ul class="list-inline menu" role="menubar">
				!MENU!
                        </ul>
                    </div>
                </div>
			</nav>