<!--Level Open-->
<section class="col-sm-3">
    <h3><a href="!LINK!" title="!LINKTITLE!" >!LINKTITLE</a></h3>  
<!--Sub-Level Open-->
    <ul class="list-unstyled">   
<!--Items-->
        <li>!HTML!</li>          
    <!--Sub-Level Close-->
    </ul>
    <!--Level Close-->
</section>